- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/books/back-bundle"
  = stylesheet_link_tag "pages/staff_mobile/books/back-bundle", :media => "all"

- content_for :app_content do
  .main-div
    .desc-div
      .desc
        %p.items 读者姓名：王小明
        %p.items 手机号码：12345656577
        %p.items 绘本名称：奥菲利亚的影子剧院
        %p.items#num ISBN号：9894743966
      %img.icon{:src => "/assets/manager/success_mini.png"}
    .btn-div
      %a.btn#clicked{:type => "button", href: "javascript:void(0);"} 继续归还
      %a.btn#unclicked{:type => "button", href: "/staff_mobile/books"} 完成
