- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/books/borrow-bundle"
  = stylesheet_link_tag "pages/staff_mobile/books/borrow-bundle", :media => "all"

- content_for :app_content do
  .main-div
    .content
      %p.telephone 手机号
      %p.notice 请输入借阅者的注册手机号
      %input#mobile.form-control{:type => "text", value: @mobile}
      %button.btn.next-btn{:type => "button"} 下一步
        