- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/books/index-bundle"
  = stylesheet_link_tag "pages/staff_mobile/books/index-bundle", :media => "all"

- content_for :app_content do
  .main-div
    = render "staff_mobile/partials/header"
    .content
      .book
        .borrow-div
          %p.word#borrow-book 绘本借出
        .return-div
          %p.word#return-book 绘本归还
        .scan-div
          %p.word#scan-book 绘本查询
    .footer.row
      .col-xs-6.icon-div#book-borrow
        %a{:href => "#"}
          %img.icon.clicked-icon{:src => "/assets/manager/borrow_selected.png"}
        %p.clicked-word 绘本借阅
      .col-xs-6.icon-div#book-transfer
        %a{:href => "#"}
          %img.icon.unclicked-icon{:src => "/assets/manager/transport_normal.png"}
        %p.unclicked-word 绘本迁移


= render "staff_mobile/partials/confirm_exit"
