- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/books/scan-bundle"
  = stylesheet_link_tag "pages/staff_mobile/books/scan-bundle", :media => "all"

- content_for :app_content do
  .main-div
    .desc-div
      .desc
        %p.items 绘本名称：奥菲利亚的影子剧院
        %p.items#num ISBN号：9894743966
      %img.icon{:src => "/assets/manager/success_mini.png"}
    .btn-div
      %a.btn#clicked{:type => "button", href: "/staff_mobile/books"} 完成
