#confirmModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modal-dialog
    .modal-content
      .modal-body
        %p.account 退出账号
        %p.question　是否确认退出当前账号！
        .confirm-div
          %a.line.clicked#logoff 退出
          %a{"data-dismiss" => "modal"} 取消