- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/courses/search-bundle"
  = stylesheet_link_tag "pages/user_mobile/courses/search-bundle", :media => "all"
    

- content_for :app_content do
  .content-div
    .head-div.bg1
      %a.back-link#back{href: list_user_mobile_courses_path}
        %img.back{src: asset_path("wap/back.png")}
      .search-group
        %input.input-style.f14.font-color1#input-value{type: "text"}
        %a.search-div{href: search_result_user_mobile_courses_path}
          %img.search{src: asset_path("wap/mini-search.png")}
 
