- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/transfers/new-bundle"
  = stylesheet_link_tag "pages/staff_mobile/transfers/new-bundle", :media => "all"
  :javascript
    window.cid = "#{@current_user.staff_center.id.to_s}"

- content_for :app_content do
  .main-div
    .content
      %p.center 迁至中心
      %p.notice 请选择要将绘本迁移到的儿童中心
      = select_tag "center-choice", options_for_select(Center.centers_for_select), class: "form-control"
      %button.btn.next-btn{:type => "button"} 下一步
      
        