- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/transfers/transfer_out-bundle"
  = stylesheet_link_tag "pages/staff_mobile/transfers/transfer_out-bundle", :media => "all"
  :javascript:
    window.transfer_id="#{@transfer_id}"
    window.auto="#{@auto}"

- content_for :app_content do
  .main-div
    .unreturn-div
      %img.fail-icon{:src => "/assets/manager/fail.png"}
      %p.title#unreturn 该绘本不是本儿童中心藏书！
    .desc-div
      .desc
        %p.items#name 绘本名称：奥菲利亚的影子剧院
        %p.items#num ISBN号：9894743966
      %img.icon{:src => "/assets/manager/success_mini.png"}
    .btn-div
      %button.btn#clicked{:type => "button"} 继续迁出
      %button.btn#unclicked{:type => "button"} 完成
