- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/transfers/transfer_done-bundle"
  = stylesheet_link_tag "pages/staff_mobile/transfers/transfer_done-bundle", :media => "all"

- content_for :app_content do
  .main-div
    %img.icon{src: asset_path("manager/success.png")}
    %p.title#unreturn 已将所有绘本迁出！
    %a.btn#clicked{:type => "button", href: "/staff_mobile/books"} 完成
    