- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/announcements/index-bundle"
  = stylesheet_link_tag "pages/user_mobile/announcements/index-bundle", :media => "all"

- content_for :app_content do
  .head-div.bg1
    %a.back-link#back{href: list_user_mobile_courses_path}
      %img.back{src: asset_path("wap/back.png")}
    %span.title.f16.font-color1.fb 中心公告
  .content-div
    .item-div
      - if !@announcements.present?
        .undiscover
          %img.undiscover-icon{src: asset_path("wap/empty.png")}
      - else
        - @announcements.each do |a|
          .item{data: {id: a.id.to_s}}
            .icon-div
              %img.icon{src: a.photo.nil? ? asset_path("wap/news.png") : a.photo.path }
            .word-div
              .row-div.f14-op87.font-color2
                %span.item-title= a[:title]
              .row-div.f12-op56.font-color2
                %span.time= a.created_at.strftime("%Y/%m/%d  %H:%M")

        .render-more
          %p 点击加载更多
        .load-gif
          %img.loading{src: asset_path("wap/loading.gif")}

