- content_for :head do
  = javascript_include_tag "pages/staff/courses/new-bundle"
  = stylesheet_link_tag "pages/staff/courses/new-bundle", :media => "all"

.content-area
  .main-top.direction
    %a{href: staff_courses_path}
      %img.back{src: asset_path("back.png")}
    = render "staff/partials/account_set"

  .main-content.bg2
    %button.btn.new-normal.font-color1.btn-position#open-now{type: "button"} 立即开课
    %button.btn.finish-normal.font-color1.finish-btn-position#finish-btn{type: "button"} 完成
    .table-div
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a.f16.font-color1{"data-toggle" => "tab", :href => "#tab1"} 模板详情
        .tab-content.bg3
          #tab1.tab-pane.active
            .desc-div.font-color3
              .controls.controls-row
                %label.input-caption.f16 课程名称:
                %input.input-area.form-control#course-name{:type => "text"}
                %label.input-caption.f16 主讲人:
                %input.input-area.form-control#course-speaker{:type => "text"}
              .controls.controls-row
                %label.input-caption.f16 课程编号:
                %input.input-area.form-control.long-margin-right#course-code{:type => "text"}
                %label.input-caption#translator.f16.value-margin 价格:
                %input.input-area.form-control#course-price{:type => "text"}
                %label.input-caption#book-number.f16 课次:
                %input.input-area.form-control.no-margin-right#course-length{:type => "text"}
              .introduce-div
                %span.course-introduce.f16 课程介绍:
                %span.wangedit-area.f14
                  #edit-area


