- content_for :head do
  = javascript_include_tag "pages/staff/courses/timetable-bundle"
  = stylesheet_link_tag "pages/staff/courses/timetable-bundle", :media => "all"

.content-area
  /courses-new
  .content-box
    .manage-box
      %a#back{:href => "/staff/courses"}
        %img{src: asset_path("web/back.png")}
      %p.course-view 查看课表
      .btn.download-btn{:type => "button"} 下载当前课表
      
    .manage-content
      .calendar-div
        #calendar
      


