- content_for :head do
  = javascript_include_tag "pages/sessions/signin-bundle"
  = stylesheet_link_tag "pages/sessions/signin-bundle", :media => "all"

/ - content_for session.haml yield under the wrapper 有名字时必须指定名称，例如上面的:head，　无名字时可以不用写
.content-area
  .input-div
    %img.logo{src: asset_path("logo1.png")}
    .input-group
      %span.input-group-addon.miniphoto
      %input.form-box.f16#mobile{placeholder: "请输入您的手机号", type: "text"} 
    .input-group.no-margin-bottom
      %span.input-group-addon.password-photo
      %input.form-box.f16#password{placeholder: "请输入密码", type: "password"} 
    %p.notice.f14#error_notice 手机号或密码错误
    %button.btn.click-btn.f24#signin_btn{type: "button"} 立即登录
    .footer-div.clearfix
      %span.left.f16.fl.pointer#to_signup 立即注册
      %span.right.f16.fr.pointer#to_forget_password 忘记密码?