@import "wangEditor";
@import "jquery-ui";

.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}
.content-box {
	position: relative;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	height: 100%;
	overflow: auto;
}
.manage-box {
	height: 58px;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}
#back {
	float: left;
}
.open {
	float: right;
	margin: 20px 20px 0 0;
}
.notice-add {
	float: left;
	font-size: 16px;
	color: #323232;
	padding-left: 20px;
	height: 52px;
	line-height: 52px;
	margin-top: 3px;
	border-left: 1px solid #c8c8c8;
}
.manage-content {
	overflow: auto;
	position: absolute;
	top: 60px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	padding-left: 20px;
	font-size: 16px;
}
.end-btn {
	float: right;
	margin: 11.5px 20px 0 0;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.end-btn:hover {
	background: #f7873d;
	color: white;
}
.end-img {
	vertical-align: middle;
}
.input-name {
	font-weight: normal;
}
.form-inline {
	margin: 20px 0;
	.form-control {
		width: 500px;
		margin-left: 10px;
	}
}
.photo {
	width: 11.3%;
	height: 88px;
	margin-left: 10px;
	vertical-align: top;
}
.introduce {
	float: left;
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}
.notice-introduce {
	margin-top: 20px;
}

.edit-area {
	margin: 0 20px;
	border: 1px solid #ddd;
	border-top: 0;
	padding: 20px 0;
}
.wangedit-area {
	float: left;
	width: 720px;
	font-size: 16px;
}
#edit-box {
	height: 360px;
}
