- content_for :head do
  = javascript_include_tag "pages/staff/clients/index-bundle"
  = stylesheet_link_tag "pages/staff/clients/index-bundle", :media => "all"


.content
  /clients-index

  .content-box
    .manage-box
      .user-search-box
        .search-box
          %input.input-box{:placeholder => "输入姓名"}
        .search-icon
          %a{:href => "javascript:void(0);"}
            %img.search{:src => "/assets/managecenter/search.png"}
      .btn{:type => "button", :href => "#kidsaddModal", "data-toggle" => "modal"} 
        %img.add-edit{:src => "/assets/managecenter/ticker.png"}
        添加儿童

    .table-box
      %table.table.table-bordered.user-table
        %caption
        %thead
          %tr
            %th 姓名
            %th 年龄
            %th 性别
            %th 家长
            %th 手机号
            %th 家庭住址
            %th 操作
        %tbody
          %tr
            %td 李星
            %td 6岁
            %td 男
            %td 李远征
            %td 13126833829
            %td 朝阳区新街口外大街27号院
            %td
              %a{:href => "javascript:void(0);"} 详情

    .select-page
      %p.page-detail 共6页每页显示10条信息
      .pagination.pagination-small.pagination-right
        %ul
          %li
            %a{:href => "javascript:void(0);"} «
          %li
            %a{:href => "javascript:void(0);"} 1
          %li
            %a{:href => "javascript:void(0);"} 2
          %li
            %a{:href => "javascript:void(0);"} 3
          %li
            %a{:href => "javascript:void(0);"} 4
          %li
            %a{:href => "javascript:void(0);"} 5
          %li
            %a{:href => "javascript:void(0);"} »




#kidsaddModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modalheader
    %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
    %h3






    / .foot-message
    /   %p 共6页每页显示10条信息
    /   .change-page.clearfix
    /     %ul
    /       %li
    /         %a#left-arrow{:href => "javascript:void(0);"}
    /           %img.arrow{:src => "/assets/managecenter/left.png"} 
    /       %li#num 1
    /       %li
    /         %a#right-arrow{:href => "javascript:void(0);"}
    /           %img.arrow{:src => "/assets/managecenter/right.png"} 

