- content_for :head do
  = javascript_include_tag "pages/staff/clients/show-bundle"
  = stylesheet_link_tag "pages/staff/clients/show-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"



.content
  /clients-show
  .content-box
    .manage-box.clearfix
      %p.kids-message 儿童信息
      .btn.edit-btn{:type => "button"} 
        %img.edit{:src => "/assets/managecenter/edit.png"}
        编辑

    .kids-details
      .controls.controls-row
        %label.input-caption.edit 姓名:
        %span.unedit-box#name-span 张三
        %input.input-area#name-input{:type => "text"}
        %label.input-caption 年龄:
        %span.unedit-box#age-span 张三
        %input.input-area#age-input{:type => "text"}
        %label.input-caption 性别:
        %span.unedit-box#gender-span 张三
        %input.input-area#gender-input{:type => "text"}
        %label.input-caption 联系方式:
        %span.unedit-box#phone-span 张三
        %input.input-area#phone-input{:type => "text"}
      .controls.controls-row
        %label.input-caption 家长:
        %span.unedit-box#parent-span 张三
        %input.input-area#parent-input{:type => "text"}
        %label.input-caption 地址:
        %span.unedit-box#address-span 张三
        %input.input-area#address-input{:type => "text"}

    .course-book
      %span.course 课程
      %span.book 绘本
      %span.QR-code
        .btn.QRcode-btn{:type => "button"} 生成签到二维码
