- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/searchs/index-bundle"
  = stylesheet_link_tag "pages/user_mobile/searchs/index-bundle", :media => "all"
  :javascript
    window.keyword="#{@keyword}"
    

- content_for :app_content do
  .content-div
    .head-div.bg1
      %a.back-link#back{href: user_mobile_feeds_path}
        %img.back{src: asset_path("wap/back.png")}
      .search-group
        %input.input-style.f14.font-color1
        %a.search-div{href: search_result_user_mobile_searchs_path}
          %img.search{src: asset_path("wap/mini-search.png")}
 
