- content_for :head do
  = javascript_include_tag "pages/staff/sessions/index-bundle"
  = stylesheet_link_tag "pages/staff/sessions/index-bundle", :media => "all"

.content-area
  / sessions-index
  
  %p.caption 欢迎登录北京市社区儿童中心
  %img.master{:src => "/assets/managecenter/master.png"}

/ signin
#signinModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modal-dialog
    .modal-content
      %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"} 
      .modal-body
        .content-box
          .logo-box
            %img.sign-logo{:src => "/assets/managecenter/logo.png"}
              %span.kids-center 社区儿童管理中心
          %p.notice.error-notice 您的账号或密码不正确
          %form.form-horizontal{:role => "form"}
            .form-group
              %label.col-sm-2.control-label{:for => "mobile"} 账&nbsp号
              .col-sm-10
                %input.unclicked-box#mobile.form-control{:placeholder => "请输入账号", :type => "text"}
            %p.email-notice 请填写完整的账号或管理员账号
            .form-group
              %label.col-sm-2.control-label{:for => "mobile"} 密&nbsp码
              .col-sm-10
                %input.unclicked-box#password.form-control{:placeholder => "请输入密码", :type => "password"}
            %button.signin.button-disabled{:href => "javascript:void(0);"} 登&nbsp录
            .checkbox
              %label.clearfix
                %input{:type => "checkbox"}
                %span.auto-signin 5天内自动登录
                %a.forget-password{"data-toggle" => "modal", "data-target" => "#forgetModal"} 忘记密码？

/ signup
#signupModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
      .modal-body
        .signup-box
          .logo-box
            %img.sign-logo{:src => "/assets/managecenter/logo.png"}
              %span.kids-center 社区儿童管理中心
          %p.notice#signup-error-notice 您的账号或密码不正确
          %form.form-horizontal{:role => "form"}
            .form-group
              %label.col-sm-3.control-label{:for => "signup-name"} 姓&nbsp名
              .col-sm-9
                %input.unclicked-box#signup-name.form-control{:type => "text"}
            .form-group#address
              %label.col-sm-3.control-label{:for => "signup-address"} 儿童中心
              .col-sm-9
                %input.unclicked-box#signup-address.form-control{:type => "text"}
            %p.notice#mobile-notice 请核对手机号
            .form-group#mobile
              %label.col-sm-3.control-label{:for => "signup-mobile"} 手机号
              .col-sm-9
                %input.unclicked-box#signup-mobile.form-control{:type => "text"}
            %p.notice#verify-code-notice 验证码错误
            .form-group
              %label.col-sm-3.control-label{:for => "signup-mobilecode"} 验证码
              .col-sm-5
                %input.unclicked-box#signup-mobilecode.form-control{:type => "text"}
              .col-sm-4
                %button.unclicked#mobilecode{:href => "javascript:void(0);"} 获取验证码
            .form-group#password
              %label.col-sm-3.control-label{:for => "signup-password"} 密&nbsp码
              .col-sm-9
                %input.unclicked-box#signup-password.form-control{:type => "password"}
            %p.notice#password-notice 两次密码输入不一致
            .form-group
              %label.col-sm-3.control-label{:for => "signup-confirm-password"} 确认密码
              .col-sm-9
                %input.unclicked-box#signup-confirm-password.form-control{:type => "password"}
            .signup-button
              %button#signup.button-disabled{:href => "javascript:void(0);"} 注&nbsp册
      %a.footbox#signup-signin{:href => "javascript:void(0);"}
        已有账号马上登录
        %span.right-arrow
          %img{:src => "/assets/managecenter/arrowright.png"}

/ forget-passwordModal
#forgetModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
      .modal-body
        .forget-password-box
          .logo-box
            %img.sign-logo{:src => "/assets/managecenter/logo.png"}
              %span.kids-center 社区儿童管理中心
          %p.notice#forget-mobile-notice 请核对手机号
          %form.form-horizontal{:role => "form"}
            .form-group#notice-box
              %label.col-sm-3.control-label{:for => "forget-mobile"} 手机号
              .col-sm-9
                %input.unclicked-box#forget-mobile.form-control{:type => "text"}
            %p.notice#forget-verify-code-notice 验证码错误
            .form-group
              %label.col-sm-3.control-label{:for => "signup-mobilecode"} 验证码
              .col-sm-5
                %input.unclicked-box#forget-mobilecode.form-control{:type => "text"}
              .col-sm-4
                %button.unclicked#mobile-code{:href => "javascript:void(0);"} 获取验证码
            .form-group#notice-box
              %label.col-sm-3.control-label{:for => "forget-password"} 新密码
              .col-sm-9
                %input.unclicked-box#forget-password.form-control{:type => "password"}
            %p.notice#forget-password-notice 两次密码输入不一致
            .form-group
              %label.col-sm-3.control-label{:for => "forget-confirm-password"} 确认密码
              .col-sm-9
                %input.unclicked-box#forget-confirm-password.form-control{:type => "password"}
            .forget-button
              %button#forget.button-disabled{:href => "javascript:void(0);"} 重置密码
      %a.footbox#forget-register{:href => "javascript:void(0);"}
        前往注册
        %span.right-arrow
          %img{:src => "/assets/managecenter/arrowright.png"}

        

