- content_for :head do
  = javascript_include_tag "pages/staff/index-bundle"
  = stylesheet_link_tag "pages/staff/index-bundle", :media => "all"

.content
  %p.caption 欢迎登陆社区儿童管理中心
  %img.master{:src => "/assets/managecenter/master.png"}


























/ signin
#signinModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"} 
  .modal-body
    .logo-box
      %img.sign-logo{:src => "/assets/managecenter/logo.png"}
        %span.kids-center 社区儿童管理中心
    %p.error-notice 您填写的账号或密码不正确，请再次尝试
    .account-box
      账&nbsp号
      %input.input-box#name
      %p.email-notice 请填写完整的账号或管理员账号
      密&nbsp码
      %input.input-box#password
      %a.signin{:href => "#"} 登&nbsp陆
      .checkbox
        %label
          %input.square-box{:type => "checkbox"}
          %span.auto-signin 
            5天内自动登陆
          %a.forget-password{:href => "#"} 忘记密码？

/ signup
#signupModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
  .modal-body
    .signup-logo-box
      %img.sign-logo{:src => "/assets/managecenter/logo.png"}
        %span.kids-center 社区儿童管理中心     
    .textbox
      %label.textarea 姓&nbsp名
      %input.input-box#signup-name
    .textbox
      %label.textarea 社区地址
      %input.input-box#signup-address
    .textbox
      %label.textarea 手机号
      %input.input-box#signup-mobile
    .textbox
      %label.textarea 验证码
      %input.input-box#signup-mobilecode
      %input.input-box#mobilecode{:href => "#", "value" => "获取验证码"}
    .textbox
      %label.textarea 密&nbsp码
      %input.input-box#signup-password
    .textbox
      %label.textarea 确认密码
      %input.input-box#signup-confirm-password
    %a.signup{:href => "#"} 注&nbsp册
    %a.footbox{:href => "#"}
      已有账号马上登陆
      %span.right-arrow
        %img{:src => "/assets/managecenter/arrowright.png"}