@import "jquery-ui";

.modal-body, input, label {
	margin: 0;
	padding: 0;
	max-height: 600px;
}

.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}

.content-box {
	position: relative;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	height: 100%;
}
.manage-box {
	height: 58px;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}
.manage-content {
	overflow: auto;
	position: absolute;
	top: 60px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
.user-search-box {
	position: absolute;
	width: 200px;
	height: 34px;
	left:20px;
	top: 11.5px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
#appendedInputButton {
	padding: 0;
	width: 162px;
	height: 34px;
}
#search-btn {
	width: 34px;
	height: 34px;
	border: 1px solid #c8c8c8;
	background: url("/assets/managecenter/search.png") no-repeat;
	background-size: 22px;
	background-position: 6px 6px;
}

.add-btn {
	float: right;
	margin: 11.5px 20px 0 0;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.add-btn:hover {
	background: #f7873d;
	color: white;
}
.course-edit {
	margin-top: -2px;
}
.table-box {
	// position: relative;
	padding: 0;
	margin: 20px 20px auto 20px;
}
#user-table {
	border-radius: 6px;
	border: 1px solid #c8c8c8;
	font-size: 14px;
	color: #323232;
	margin-bottom: 0;
	th {
		text-align: center;
		height: 40px;
		line-height: 40px;
		padding: 0;
	}
	td {
		font-size: 14px;
		color: #505050;
		height:45px;
		line-height: 45px;
		text-align: center;
		padding: 0;
		.unshelve {
			color: #969696;
		}
		.shelve {
			color: #f7873d;
		}
	}
	.unavailable {
		background: #eaeaea;
	}
	.clicked {
		background: #fdd3b9;
	}
}
.undiscover {
	text-align: center;
	padding: 30px;
}
.undiscover-icon {
	display: inline-block;
	width: 100%;
	max-width: 39px;
}
.message {
	font-size: 16px;
	color: #969696;
	margin-left: 20px;
}
.select-page {
	text-align: right;
	margin: 10px 20px 0 0;
	padding-bottom: 5px;
}
.totalitems {
	font-size: 12px;
	color: #969696;
	vertical-align: bottom;
	height: 36px;
	line-height: 36px;
}

.pagination {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 15px;
}
