@import "wangEditor";
@import "fullcalendar.min";
@import "jquery-ui";

ul, li {
	padding: 0;
	margin: 0;
}
.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}
.manage-content {
	overflow: auto;
	position: absolute;
	top: 20px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	margin: 0 20px 20px 20px;
}

.manage-box {
	height: 58px;
}
.user-checkbox {
	float: left;
	padding-top: 11.5px;
}
.user-review {
	font-size: 16px;
	color: #323232;
	margin-left: 20px;
	vertical-align: bottom;
}
.class-name {
	font-size: 16px;
	color: #323232;
	vertical-align: bottom;
	display: inline-block;
	margin-right: 10px;
}
.inline{
	font-size: 14px;
	color: #323232;
	margin-right: 5px;
	line-height: 22px;
	padding-top:2px;
}
#inlineCheckbox1, #inlineCheckbox2 {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.edit-btn {
	position: absolute;
	top: 11px;
	right: 20px;
	z-index: 10;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.edit-btn:hover {
	background: #f7873d;
	color: white;
}
.finish-btn {
	@extend .edit-btn;
	display: none;
}
#unshelve-btn {
	@extend .edit-btn;
	right: 140px;
}
#unshelve-btn:hover {
	background: #f7873d;
	color: white;
}

.tabbable {
	padding: 20px;
}	

.nav-tabs {
	margin-bottom: 0;
	border: 0;
	li {
		font-size: 16px;
		color: #323232;
	}
}
.tab-pane {
	border: 1px solid #ddd;
	border-radius: 6px;
}
#tab1 {
	border-radius: 0 6px 6px 6px;
}
.table-box {
	padding: 0;
	margin: 0 20px;
}
.user-table {
	border-radius: 6px;
	border: 1px solid #c8c8c8;
	font-size: 14px;
	color: #323232;
	margin-bottom: 0;
	th {
		text-align: center;
		height: 40px;
		line-height: 40px;
		padding: 0;
	}
	td {
		font-size: 12px;
		color: #505050;
		height:45px;
		line-height: 45px;
		text-align: center;
		padding: 0;
		.unshelve {
			color: #969696;
		}
		.shelve {
			color: #f7873d;
		}
		a {
			
			text-decoration: underline;
		}
	}
	.unavailable {
		background: #eaeaea;
	}
	.clicked {
		background: #fdd3b9;
	}
}
.class-calendar {
	margin: 10px 20px;
	font-size: 16px;
	color: #323232;
}
#calendar {
	border: 1px solid #c8c8c8;
	margin: 0 20px 20px 20px;
	// border-radius: 6px;
	height: auto;
}

.desc-items {
	margin: 15px 16px;
}
.unedit-box {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #323232;
	width: 252px;
	height: 30px;
	line-height: 30px;
	margin: 0 20px 0 0;
}
.edit-box {
	display: none;
}
.input-area {
	width: 238px;
	height: 30px;
	padding: 0;
	margin: 0 20px 0 0 !important;
}
.course-name {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #323232;
	margin-right: 10px;
}
#speaker {
	margin-left: 16px;
}
.shelve {
	font-size: 14px;
	color: #0fc077;
	display: inline-block;
	margin-left: 5px;
	margin-right: 20px;
	vertical-align: middle;
}
.course-introduce {
	margin-bottom: 20px;
	.introduce-details {
		font-size: 14px;
		color: #323232;
		display: inline-block;
		width: 86%;
		text-indent: 28px;
	}
	.introduce {
		display: inline-block;
		float: left;
		vertical-align: top;
		font-size: 16px;
		color: #323232;
		margin: 0 10px 15px 16px;
	}
	.wangedit-area {
		float: left;
		width: 89.5%;
		font-size: 14px;
		display: none;
	}
	#edit-area {
		height: 250px;
	}
}