- content_for :app_head do
  = javascript_include_tag "pages/client/sessions/signin_page-bundle"
  = stylesheet_link_tag "pages/client/sessions/signin_page-bundle", :media => "all"

- content_for :app_content do
  %p Find me in client/sessions/signin_page.haml
