html {
	font-size: 16px;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, h3, span, br {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}

.content-area{
	width:100%;
	max-width:640px;
	margin:0 auto;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
}
.header {
	position:relative;
	width:100%;
	.robot {
		width:100%;
		max-width:640px;
		border-bottom:2px solid gray;
	}
	.back {
		position:absolute;
		top:6.77%;
		left:2.35%;
		width:9.375%;
		max-width: 60px;
	}
}

.boxtitle {
	position:relative;
	width:100%;
	text-align:center;
	padding-top:3em;
	padding-bottom:2.3em;
	.bookcloud {
		background:url("/assets/robotclass/bookcloud.png") no-repeat;
		background-size:100%;
		background-position:center;
		width:69.4375%;
		max-width:438px;
		padding:5.6% 0;
		margin:0 auto;
		p {
			font-size: 3.2em;
			color:#d70c19;
			text-shadow: 1px 1px 1px black;
		}
	}
	.grayheart {
		position:absolute;
		width:7.5%;
		max-width:48px;
		top:0;
		right:22.5%;
	}
	.dialog {
		@extend .grayheart;
		top:3%;
		right:11.4%;
	}
	.num {
		position:absolute;
		font-size: 1.8em;
		color:#666;
		right:3.6%;
		top:10.8%;
	}	
}

.content {
	width:95.3125%;
	margin:0 auto;
	background:white;
	border-radius: 10px;
	.introduce {
		font-size:2.4em;
		color:#3e3e3e;
		line-height: 150%;
		padding:3.28% 2.46%;
	}
}

.recommend {
	position:relative;
	width:100%;
	background:url("/assets/linecloud.png") no-repeat;
	background-size:41.406%;
	background-position:center;
	margin-top:2.5%;
	margin-bottom:2.35%;
	text-align:center;
	p {
		line-height:3.567em;
		font-size: 3em;
		color:#3e3e3e;
	}
}

.article {
	@extend .content;
}

.address {
	@extend .recommend;
	margin-top:2.5%;
	margin-bottom:3.14%;
}
.anotherbook {
	position:relative;
	width:95.3125%;
	margin:0 auto;
	background:white;
	border-radius: 10px;
	margin-bottom:3.14%;
	.center {
		font-size: 3em;
		padding-left:2.46%;
		padding-top:3.28%;
		color:#3e3e3e;
		.left-distance {
			font-size: 0.8em;
			color:#3e3e3e;
			padding-left:0.833em;
		}
	}
	.time {
		font-size: 2.4em;
		color:#3e3e3e;
		padding:1.5% 2.46%;
		line-height:150%;
		.price {
			font-size: 1em;
			color:#d70c19;
			padding:0 0.625em;
			padding-bottom:0.3em;
		}
	}
	
}

.description {
	position:absolute;
	width:28%;
	max-width:156px;
	top:29.1%;
	right:2.46%;
	background:#d70c18;
	border-radius:5px;
	text-align:center;
	padding-top:1.9%;
	padding-bottom:1.3%;
	a {
		text-decoration: none;
		font-size: 2.4em;
		color:white;
		text-shadow: 1px 1px 1px black;
		&:hover {
			color:orange;
		}
	}
}
.anotherbook-bottom {
	@extend .anotherbook;
	margin-bottom:0;
}
.earphone {
	position:fixed;
	width:14.0625%;
	max-width:90px;
	bottom:30%;
	right:2%;
}
.number {
	color:#d70c19;
}
.footer {
	width:100%;
	text-align:center;
	background:#fe0100;
	padding:4.15% 0;
	a {
		font-size: 3.6em;
		color:white;
		text-decoration: none;
		text-shadow: 1px 1px 1px black;
		&:hover {
			color:orange;
		}
	}
}


@media screen and (max-width:640px) {
	.content-area {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .content-area {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .content-area {
        font-size: 67%;
    }
}
@media screen and (max-width: 420px) {
    .content-area {
        font-size: 63%;
    }
}
@media screen and (max-width: 400px) {
    .content-area {
        font-size: 56%;
    }
}
@media screen and (max-width: 320px) {
    .content-area {
        font-size: 50%;
    }
}
