

input, label {
  margin: 0;
  padding: 0;
}
.content-area {
	position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}

.content-box {
	position: relative;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	height: 100%;
}
.manage-box {
  height: 58px;
  border-bottom: 1px solid #c8c8c8;
  overflow: hidden;
}
#back {
  float: left;
}
.book-merge {
  float: left;
  font-size: 16px;
  color: #323232;
  padding-left: 20px;
  height: 52px;
  line-height: 54px;
  margin-top: 3px;
  border-left: 1px solid #c8c8c8;
}
.manage-content {
  overflow: auto;
  position: absolute;
  top: 60px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.merge-div {
  width: 85%;
  margin: 40px auto 40px 40px;
  border: 1px solid #c8c8c8;
}
.caption {
  font-size: 16px;
  color: #464646;
  text-align: center;
  background: #f6f6f6;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px solid #c8c8c8;
}
.desc-div {
  text-align: center;
}
.desc {
  font-size: 16px;
  color: #646464;
  margin-top: 37px;
  margin-bottom: 17px;
}
#merge-btn {
  background: #10c078;
  width: 26.5%;
  outline: none;
  font-size: 14px;
  height: 2.571em;
  color: #fff;
  margin-bottom: 10px;
}
.total {
  margin-bottom: 10px;
  font-size: 14px;
  color: #969696;
}
.item-div {
  display: flex;
  justify-content: space-between;
}
.item:not(:last-child) {
  border-right: 1px solid #c8c8c8;
}
.item {
  width: 50%;
  padding: 20px;
}
.user-search-box {
  width: 100%;
  height: 34px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#appendedInputButton {
  padding: 0;
  width: 162px;
  height: 34px;
}
#search-btn {
  width: 34px;
  height: 34px;
  border: 1px solid #c8c8c8;
  background: image-url("managecenter/search.png") no-repeat;
  background-size: 22px;
  background-position: 6px 6px;
  outline: none;
}
#user-table {
  border-radius: 6px;
  border: 1px solid #c8c8c8;
  font-size: 14px;
  color: #323232;
  margin-top: 20px;
  margin-bottom: 10px;
  th {
    text-align: center;
    height: 40px;
    line-height: 40px;
    padding: 0;
  }
  td {
    font-size: 14px;
    color: #505050;
    height:45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
  }
  .add {
    color: #f7873d;
    text-decoration: none;
    cursor: pointer;
  }
  .add-over {
    color: #999;
  }
  .delete {
    font-size: 14px;
    color: #d70c19;
    text-decoration: none;
    cursor: pointer;
  }
}
.select-page {
  margin: 10px 0 0 0;
}
.title-div {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;   
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; 
}
.title {
  display: inline-block;
  font-size: 16px;
  color: #646464;
  vertical-align: middle;
}
#merge {
  background: #10c078;
  outline: none;
  font-size: 14px;
  height: 2.571em;
  color: #fff;
}
.checkbox-div {
  width: 18px;
  height: 18px;
  display: table-cell;
  vertical-align: middle;
  margin: 0 !important;
}


