@import "wangEditor";
@import "jquery-ui";


.modal-body, input, label {
	margin: 0;
	padding: 0;
	max-height: 600px;
}

.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}

.manage-content {
	overflow: auto;
	position: absolute;
	top: 20px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	margin: 0 20px 20px 20px;
}
.edit-btn {
	position: absolute;
	top: 15px;
	right: 20px;
	z-index: 10;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.edit-btn:hover {
	color: white;
}
.finish-btn {
	@extend .edit-btn;
	display: none;
}
#QRcode-btn {
	@extend .edit-btn;
	right: 260px;
	width: 136px;
}
.QRcode {
	margin-right: 10px;
	margin-top: -2px;
}
.unshelve-btn {
	@extend .edit-btn;
	right: 140px;
}
.unshelve-btn:hover {
	color: white;
}
.unavailable {
	background: #10c078;
}


.tabbable {
	margin: 20px 0 0 0;
}
.back {
	position: absolute;
	top: 19px;
}
.nav-tabs {
	margin-bottom: 0;
	padding-left: 55px;
	li {
		font-size: 16px;
		color: #323232;
	}
}
.shelve {
	color: #0fc077;
	vertical-align: middle;
}
.form-inline {
	margin: 20px 0 20px 51px;
	#type-input {
		width: 79.6%;
	}
}
.input-caption {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #464646;
	margin-right: 10px;
	font-weight: normal;
}
#author, #translator {
	margin-left: 32px;
}
.unedit-box {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #323232;
	width: 252px;
	height: 30px;
	line-height: 30px;
	margin: 0 20px 0 0;
}
.edit-box {
	display: none;
	margin-right: 20px;
}
.input-area {
	display: inline-block;
	width: 238px;
	height: 30px;
}

.controls-row {
	margin: 20px 0 20px 20px;
}
.introduce {
	display: inline-block;
	vertical-align: top;
	float: left;
	font-size: 16px;
	color: #323232;
	margin:0 13px 0 19px;
}
.wangedit-area {
	float: left;
	width: 76%;
	font-size: 16px;
	display: none;
}
#edit-area {
	height: 200px;
}
.book-introduce {
	margin-bottom: 20px;
}
.introduce-details {
	font-size: 14px;
	color: #323232;
	display: inline-block;
	width: 86%;
	text-indent: 28px;
}
.message {
	display: inline-block;
	width: 100px;
	height: 34px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #ddd;
	border-bottom: 0;
	font-size: 16px;
	color: #323232;
	text-align: center;
	line-height: 34px;
	margin: 20px 20px 0 20px;
}
.shelve-number {
	color: #d70c19;
	font-size: 14px;
}
.bookuse-message {
	margin: 0 20px;
	border: 1px solid #ddd;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 0;
}
.table {
	margin: 0;
	border: 0;
	font-size: 14px;
	color: #323232;
	td {
		text-align: center;
	}
}

.cover-back {
	margin-left: 51px;
	margin-top: 20px;
	font-size: 16px;
	color: #323232;
}
.book-cover {
	vertical-align: top;
	margin-right: 10px;
}
.book-back {
	@extend .book-cover;
}
#upload-cover {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-right: 50px;
}
#upload-back {
	@extend #upload-cover;
}

#uploadCoverModal {
	.modal-dialog {
		position:absolute;
		left: 50%;
		top: 50%;
		margin-left: -250px;
		margin-top: -106px;
		width: 500px;
		height: 210px;
		border-radius: 10px;
	}
}
#uploadBackModal {
	.modal-dialog {
		position:absolute;
		left: 50%;
		top: 50%;
		margin-left: -250px;
		margin-top: -106px;
		width: 500px;
		height: 210px;
		border-radius: 10px;
	}
}
.modal-backdrop {
	background-color: #999;
}
.close {
	position: absolute;
	right: -14px;
	top: -12px;
	opacity: 0.7;
	z-index: 10;
}
.close:hover {
	opacity: 1;
}
.modal-header {
	height: 50px;
	line-height: 50px;
	box-shadow: 0 -1px 6px #9c9c9c; 
}
.caption {
	font-size: 18px;
	color: #323232;
}
.modal-body {
	box-shadow: 0 1px 6px #9c9c9c; 
}
#browser-cover-click {
	font-size: 16px;
	text-decoration: none;
	height:60px;
	line-height: 60px;
	color: #323232;
	vertical-align: middle;
}
#browser-back-click {
	@extend #browser-cover-click;
}
.form-group {
	font-size: 14px;
	color: #323232;
	margin-bottom: 0;
}
.modal-footer {
	background: white;
}
#cover-img, #back-img {
	width: 100px;
	height: 100px;
	margin-right: 50px;
	cursor: pointer;
}
.cover-caption, .back-caption, #cover-name, #back-name {
	margin-left: 15px;
}

// undiscover message
.undiscover {
	text-align: center;
	padding: 30px;
	// border: 1px solid #ddd;
	// border-radius: 6px;
}
.undiscover-icon {
	display: inline-block;
	width: 100%;
	max-width: 39px;
}
.undiscover-message {
	font-size: 16px;
	color: #969696;
	margin-left: 20px;
}

// user review
.select-page {
	text-align: right;
	margin: 10px 0 0 0;
	padding-bottom: 5px;
}
.totalitems {
	font-size: 12px;
	color: #969696;
	vertical-align: bottom;
	height: 36px;
	line-height: 36px;
}

.pagination {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 15px;
}
.user-review-box {
	border-radius: 6px;
	border: 1px solid #ddd;
	margin-left: 20px;
}
.user-checkbox {
	margin: 5px 0;
	margin-left: 10px;
}
.user-review {
	font-size: 16px;
	color: #323232;
	margin: 0 20px;
	vertical-align: bottom;
}
.inline{
	font-size: 12px;
	color: #323232;
	margin-right: 5px;
	line-height: 22px;
}
.book-description {
	position: relative;
	border-top: 1px solid #ddd;
}
.book-img {
	display: block;
	float: left;
	margin: 0 10px;
	width: 60px;
	height: 60px;
}
.user-item {
	margin: 18px 0;
	p {
		padding: 1.2px;
	}
}

.user-name {
	font-size: 16px;
	color: #646464;
	margin-top: -3px;
}
.date {
	font-size: 12px;
	color: #969696;
}
.user-review-content {
	font-size: 14px;
	color: #787878;
}
#open-btn {
	position: absolute;
	width: 100px;
	height: 36px;
	top: 32px;
	right: 20px;
	color: white;
	border-radius: 6px;
	background: #f7873d;
	border: 0;
}
.table-box {
	padding: 0;
	margin-left: 20px;
}
#user-table {
	border-radius: 6px;
	border: 1px solid #ddd;
	font-size: 14px;
	color: #323232;
	margin-bottom: 0;
	th {
		text-align: center;
		height: 40px;
		line-height: 40px;
		padding: 0;
	}
	td {
		font-size: 12px;
		color: #505050;
		height:45px;
		line-height: 45px;
		text-align: center;
		padding: 0;
		.unshelve {
			color: #969696;
		}
		.shelve {
			color: #f7873d;
		}
		a {
			
			text-decoration: underline;
		}
	}
	.clicked {
		background: #fdd3b9;
	}
}