@import "wangEditor";
@import "jquery-ui";


.modal-body, input, label {
	margin: 0;
	padding: 0;
	max-height: 600px;
}

.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
}

.content-box {
	position: relative;
	padding: 20px 20px auto 20px;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	// padding-bottom: 20px;
	height: 100%;
}
.manage-box {
	height: 58px;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}

.manage-content {
	overflow: auto;
	// max-height: 600px;    //需要修改高度
	position: absolute;
	top: 60px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
.book-add {
	float: left;
	font-size: 16px;
	color: #323232;
	line-height: 59px;
	margin-left: 20px;
}
.edit-btn {
	float: right;
	margin: 11.5px 20px 0 0;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.edit-btn:hover {
	background: #f7873d;
	color: white;
}
.finish-btn {
	@extend .edit-btn;
	display: none;
}
#unshelve-btn {
	@extend .edit-btn;
}
#unshelve-btn:hover {
	background: #f7873d;
	color: white;
}
.book-edit {
	vertical-align: middle;
}
.book-detail {
	margin: 20px 20px auto 20px;
	border-radius: 6px;
	border: 1px solid #c8c8c8;
}
#name-span {
	width: auto;
	margin-right: 15px;
}
.shelve {
	color: #0fc077;
	vertical-align: middle;
}
.form-inline {
	margin: 20px 0;
}
.input-caption {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #323232;
	margin-right: 10px;
	margin-left: 20px
}
#illustrator-label {
	@extend .input-caption;
	margin-left: 10px;
}
#book-number {
	margin-left: 42px
}
.unedit-box {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #323232;
	width: 252px;
	height: 30px;
	line-height: 30px;
	margin: 0 20px 0 0;
}
.edit-box {
	display: none;
}
.input-area {
	width: 238px;
	height: 30px;
	padding: 0;
	margin: 0 20px 0 0 !important;
}

.controls-row {
	margin: 0 0 20px 31.5px;
}
.introduce {
	display: inline-block;
	vertical-align: top;
	float: left;
	font-size: 16px;
	color: #323232;
	margin:0 13px 0 19px;
}
.wangedit-area {
	float: left;
	width: 86%;
	font-size: 14px;
	display: none;
}
#edit-area {
	height: 250px;
}
.book-introduce {
	margin-bottom: 20px;
}
.introduce-details {
	font-size: 14px;
	color: #323232;
	display: inline-block;
	width: 86%;
	text-indent: 28px;
}
.message {
	display: inline-block;
	width: 100px;
	height: 34px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #c8c8c8;
	border-bottom: 0;
	font-size: 16px;
	color: #323232;
	text-align: center;
	line-height: 34px;
	margin: 20px 20px 0 20px;
}
.shelve-number {
	color: #d70c19;
	font-size: 14px;
}
.QRcode-btn {
	@extend .edit-btn;
	padding: 0 10px;
	margin: 10px 20px 0 0;
}
.bookuse-message {
	margin: 0 20px;
	border: 1px solid #c8c8c8;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 0;
}
.table {
	margin: 0;
	border: 0;
	font-size: 14px;
	color: #323232;
	td {
		text-align: center;
	}
}

.cover-back {
	margin: 20px 20px auto 20px;
	border-radius: 6px;
	border: 1px solid #c8c8c8;
	padding: 15px 20px;
	font-size: 16px;
	color: #323232;
}
.cover {
	vertical-align: top;
	margin-right: 5px;
}
.back {
	@extend .cover;
}
#upload-cover {
	display: inline-block;
	width: 100px;
	height: 120px;
	margin-right: 10px;
	border: 1px solid #c8c8c8;
	border-radius: 4px;
	background: #c8c8c8;
	line-height: 122px;
	text-decoration: none;
	font-size: 14px;
}
#upload-back {
	@extend #upload-cover;
}

#uploadCoverModal {
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -106px;
	width: 500px;
	height: 210px;
	border-radius: 10px;
}
#uploadBackModal {
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -106px;
	width: 500px;
	height: 210px;
	border-radius: 10px;
}
.modal-backdrop {
	background-color: #999;
}
.close {
	position: absolute;
	right: -14px;
	top: -14px;
	opacity: 0.7;
	z-index: 10;
}
.close:hover {
	opacity: 1;
}
.modal-header {
	height: 50px;
	line-height: 50px;
	box-shadow: 0 -1px 6px #9c9c9c; 
}
.caption {
	font-size: 18px;
	color: #323232;
}
.modal-body {
	box-shadow: 0 1px 6px #9c9c9c; 
}
#browser-cover-click {
	font-size: 16px;
	text-decoration: none;
	height:60px;
	line-height: 60px;
	color: #323232;
	vertical-align: middle;
}
#browser-back-click {
	@extend #browser-cover-click;
}
.form-group {
	font-size: 14px;
	color: #323232;
}
.modal-footer {
	background: white;
}
#cover-img, #back-img {
	width: 100px;
	height: 120px;
	margin-right: 10px;
	cursor: pointer;
}
.cover-caption, .back-caption, #cover-name, #back-name {
	margin-left: 15px;
}
