- content_for :app_head do
  = javascript_include_tag "pages/deploys/index-bundle"
  = stylesheet_link_tag "pages/deploys/index-bundle", :media => "all"

- content_for :app_content do
  %button.btn#deploy-btn 部署