- content_for :app_head do
  = javascript_include_tag "pages/deploys/index-bundle"
  = stylesheet_link_tag "pages/deploys/index-bundle", :media => "all"

- content_for :app_content do
  .wrap-div
    .form-group.btn-div
      %input#address.form-control{type:"text"}
      %button.btn#deploy-btn 部署
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a#update{"data-toggle" => "tab", :href => "#tab1"} 代码更新
        %li
          %a#bundle{"data-toggle" => "tab", :href => "#tab2"} 插件安装
        %li
          %a#compile{"data-toggle" => "tab", :href => "#tab3"} 编&nbsp&nbsp译
      .tab-content
        #tab1.tab-pane.active
          .message-div
            %p.message-conten#code_update
        #tab2.tab-pane
          .message-div
            %p.message-content#bundle_message
        #tab3.tab-pane
          .message-div
            %p.message-content#compile_message
          
