- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/centers/index-bundle"
  = stylesheet_link_tag "pages/user_mobile/centers/index-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      %a{href: new_user_mobile_center_path}
        %img.back{:src => "/assets/haidiancenter/back.png"}
      / %a{:href => user_mobile_settings_path}
      /   %img.user{:src => "/assets/kidscenter/user.png"}
      .input-div
        %input#input-box{:type => "text", value: @keyword}
        %a.icon-div{:href => "#"}
          %img.search-center{:src => "/assets/kidscenter/search.png"}


    - if @centers.blank?
      .undiscover
        %img.icon-none{:src => "/assets/web/none.png"}
    - else
      - @centers.each do |c|
        .desc-add-div{data: {id: c.id.to_s}}
          %p.center-name= c.name
          %p.center-address= c.address
