- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/centers/index-bundle"
  = stylesheet_link_tag "pages/user_mobile/centers/index-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      %a{href: new_user_mobile_center_path}
        %img.back{src: asset_path("haidiancenter/back.png")}
      .input-div
        %input#input-box{:type => "text", value: @keyword}
        %a.icon-div{:href => "#"}
          %img.search-center{src: asset_path("kidscenter/search.png")}


    - if @centers.blank?
      .undiscover
        %img.icon-none{src: asset_path("web/none.png")}
    - else
      - @centers.each do |c|
        .desc-add-div{data: {id: c.id.to_s}}
          %p.center-name= c.name
          %p.center-address= c.address
