- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/centers/new-bundle"
  = stylesheet_link_tag "pages/user_mobile/centers/new-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      .cloud
        %p 设置关注中心
      %a{:href => user_mobile_settings_path}
        %img.back{src: asset_path("mybook/back.png")}
    - @centers.each do |c|
      .desc-add-div.center-desc{data: {id: c.id.to_s}}
        %p.center-name= c.name
        %p.center-address= c.address
    - if @centers.length < 3
      .desc-add-div
        .add-div
          %a{:href => user_mobile_centers_path + "?search=false"}
            %img.add{src: asset_path("web/add.png")}
            %span.add-word 添加关注儿童中心
    .center ~最多可设置３个关注中心~