@import "jquery-ui";

span, ul, li, label {
	margin: 0;
	padding: 0;
}
.search-time {
  width: 100%;
}
.form-time {
  width: 100%;
  margin: 0;
}
.form-control {
  display: inline-block;
  vertical-align: middle;
}
.to {
  margin: 0 1%;
}
#course-search-btn {
  width: 5%;
  color: #fff;
  outline: none;
  margin-left: 1%;
}
.quick-choice {
  float: right;
  width: 14.85%;
  color: #6f6f7e;
}
#datepicker-1, #datepicker-2 {
  width: 14.85%;
}
#datepicker-1 {
  margin-left: 1%;
}
.item-div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2%;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
}
.income {
  margin-bottom: 0;
}
.left-div {
	width: 68%;
}
.column-title {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f5f6fa;
}
.bt0 {
  margin-bottom: 0;
}
.tab-chart-div {
	display: flex;
	justify-content: space-between;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
}
.total-div {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	text-align: center;
}
.total-nums {
	font-size: 2.4em;
	color: #7777cf;
	margin-bottom: 2%;
}
.chart-div {
	width: 69%;
}

.right-div {
	width: 30%;
}
#register-statistics {
	min-width: 35%;
	height: 238px;
}

.chart-column-div {
	width: 54%;
}
.chart-pie-div {
	width: 30%;
}
#bonu-statistics {
	min-width: 15%;
	height: 238px;
}
#income-statistics {
	min-width: 25%;
	height: 238px;
}
.income-div {
	width: 20%;
	display: flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.pd {
  padding-top: 2%;
  padding-bottom: 1.5%;
}

// tab2
.courses-income-box {
  margin-bottom: 3%;
}
.amount {
  background: #f5f6fa;
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.amount-div {
  padding-top: 2%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

}
.amount-items {
  flex: 1;
  text-align: center;
}
.amount-caption {
  margin-top: 5%;
  margin-bottom: 3%;
}
.amount-nums {
  font-size: 24px;
  color: #7777cf;
  margin: 3% 0;
}