@import "fullcalendar";
@import "jquery-ui";

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.modal-body, label {
	margin: 0;
	padding: 0;
	max-height: 600px;
}
.content-area {
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 0;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}

.content-box {
	position: relative;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	height: 100%;
}
.manage-box {
	height: 58px;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}
.manage-content {
	overflow: auto;
	position: absolute;
	top: 60px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
#back {
	float: left;
}
.course-view {
	float: left;
	font-size: 16px;
	color: #323232;
	padding-left: 20px;
	height: 52px;
	line-height: 52px;
	margin-top: 3px;
	border-left: 1px solid #c8c8c8;
}
.open {
	float: right;
	margin: 20px 20px 0 0;
}
.download-btn {
	float: right;
	margin: 11.5px 20px 0 0;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.download-btn:hover {
	color: white;
}
.calendar-div {
	padding: 20px 40px;
}

#calendar {
	width: 100%;
	font-size: 14px;
}
.eventstyle {
	font-size: 12px;
	text-align: center;
	padding: 0;
	line-height: 14px;
}
