@import "jquery-ui";

$pink: #f7873d;
input, label {
	margin: 0;
	padding: 0;
}

.content-area {
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 0;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}
.content-box {
	position: relative;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	height: 100%;
}
.manage-box {
	height: 58px;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}
.manage-content {
	overflow: auto;
	position: absolute;
	top: 60px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
.add-btn {
	position: absolute;
	top: 11.5px;
	right: 20px;
	z-index: 10;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.add-btn:hover {
	color: white;
}
.view-btn {
	@extend .add-btn;
	right: 140px;
}
.user-search-box {
	position: absolute;
	width: 200px;
	height: 34px;
	left:20px;
	top: 11.5px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
#appendedInputButton {
	padding: 0;
	width: 162px;
	height: 34px;
}
#search-btn {
	width: 34px;
	height: 34px;
	border: 1px solid #c8c8c8;
	background: image-url("managecenter/search.png") no-repeat;
	background-size: 22px;
	background-position: 6px 6px;
	outline: none;
}

.bookadd-btn {
	float: right;
	margin: 11.5px 20px 0 0;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.bookadd-btn:hover {
	background: #f7873d;
	color: white;
}
.book-edit {
	vertical-align: middle;
}
.tabbable {
	padding: 20px;
}
	
.nav-tabs {
	margin-bottom: 0;
	border-bottom: 0;
	li {
		font-size: 16px;
		color: #323232;
	}
}
.local-course {
	border: 1px solid #ddd;
	border-radius: 0 6px 6px 6px;
	padding: 20px 20px 10px 20px;
}
.open-course {
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 20px;
}
.table-box {
	position: relative;
	padding: 0;
}
#local-course-table, #course-table {
	border-radius: 6px;
	border: 1px solid #c8c8c8;
	font-size: 14px;
	color: #323232;
	margin-bottom: 0;
	th {
		text-align: center;
		height: 40px;
		line-height: 40px;
		padding: 0;
	}
	td {
		font-size: 14px;
		color: #505050;
		height:45px;
		line-height: 45px;
		text-align: center;
		padding: 0;
	}
	.prepare {
		color: $pink;
	}
	.available {
		background: #fff;
	}
	.unavailable {
		background: #eaeaea;
	}
	.clicked {
		background: #fdd3b9;
	}
}
.undiscover {
	text-align: center;
	padding: 30px;
}
.undiscover-icon {
	display: inline-block;
	width: 100%;
	max-width: 39px;
}
.message {
	font-size: 16px;
	color: #969696;
	margin-left: 20px;
}
.select-page {
	margin: 10px 0 7px 0;
}


// modify
.link-available {
	color: #f7873d;
}
.link-available:link {
	color: #f7873d;
}
.link-available:visited {
	color: #f7873d;
}
.link-available:hover {
	color: #f7873d;
}
.link-available:active {
	color: #f7873d;
}
.link-unavailable {
	color: #10c078;
}
.link-unavailable:link {
	color: #10c078;
}
.link-unavailable:visited {
	color: #10c078;
}
.link-unavailable:hover {
	color: #10c078;
}
.link-unavailable:active {
	color: #10c078;
}



