.direction {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -os-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
#new-template {
	width: 12.42%;
  color: #fff;
  outline: none;
}

.shelve:hover {
  color: #40ca85;
  text-decoration: underline;
}
.unshelve:hover {
  color: #e9657e;
  text-decoration: underline;
}
.font-color-green:hover {
  color: #40ca85;
}