.direction {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -os-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
#new-template {
	width: 12.42%;
  color: #fff;
  outline: none;
}
.font-color-green:link {
  color: #40ca85;
  text-decoration: underline;
}
.font-color-green:visited {
  color: #40ca85;
  text-decoration: underline;
}
.font-color-green:hover {
  color: #40ca85;
  text-decoration: underline;
}
.font-color-green:active {
  color: #40ca85;
  text-decoration: underline;
}
.font-color-red:link {
  color: #e9657e;
  text-decoration: underline;
}
.font-color-red:visited {
  color: #e9657e;
  text-decoration: underline;
}
.font-color-red:hover {
  color: #e9657e;
  text-decoration: underline;
}
.font-color-red:active {
  color: #e9657e;
  text-decoration: underline;
}