@import "fullcalendar.min";
@import "jquery-ui";

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.modal-body, label {
	margin: 0;
	padding: 0;
	max-height: 600px;
}
.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}

.content-box {
	position: relative;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	height: 100%;
}
.manage-box {
	height: 58px;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}
.manage-content {
	overflow: auto;
	position: absolute;
	top: 60px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
#back {
	float: left;
}
.course-add {
	float: left;
	font-size: 16px;
	color: #323232;
	padding-left: 20px;
	height: 52px;
	line-height: 52px;
	margin-top: 3px;
	border-left: 1px solid #c8c8c8;
}
.open {
	float: right;
	margin: 20px 20px 0 0;
}
.end-btn {
	float: right;
	margin: 11.5px 20px 0 0;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.end-btn:hover {
	color: white;
}
.top-box {
	margin-top: 10px;
}
.text-message {
	width: 50%;
	float: left;
}
.form-inline {
	margin: 20px 0;
}
.input-caption {
	display: inline-block;
	margin-right: 5px;
	font-size: 16px;
	color: #323232;
	margin-left: 20px;
	vertical-align: middle;
	font-weight: normal;
}
.course-length {
	margin-left: 52px;
}
#course-address, #course-date {
	width: 80%;
}
.num-box {
	@extend .input-area;
}
.photo {
	width: 17.25%;
	height: 138px;
	display: inline-block;
	margin-left: 80px;
	margin-top: 5px;
}
.kids-capacity {
	margin-left: 36px;
}
.input-area {
	display: inline-block;
	width: 198px;
	height: 30px;
}
.controls-row {
	margin-bottom: 20px;
}

.calendar-wrapper {
	width: 72.7%;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1px solid #c8c8c8;
	border-radius: 6px;
}
.calendar-operation-wrapper {
	width: 40%;
	float: left;
	text-align: center;
}
#calendar {
	width: 59%;
	float: right;
	font-size: 14px;
}
.title {
	font-size: 16px;
	color: #323232;
	text-align: center;
	margin: 20px 0 10px 0;
}
.small-tips {
	font-size: 16px;
	color: #c8c8c8;
	text-align: center;
	margin-bottom: 20px;
}
.input-date {
	display: inline-block;
	margin-right: 5px;
	font-size: 16px;
	color: #323232;
	vertical-align: middle;
	font-weight: normal;
}
.add-btn {
	width: 240px;
	background: #10c078;
	font-size: 16px;
	color: white;
}
.add-btn:hover {
	color: white;
}
.repeat {
	width: 240px;
	margin: 10px auto;
}
.date-btn {
	float: left;
	width: 110px;
	background: #c8c8c8;
	font-size: 16px;
	color: white;
}
.date-btn:hover {
	color: white;
}
.week-btn {
	@extend .date-btn;
	float: right;
}
h2 {
	font-size: 18px;
	padding-top: 5px;
}
