@import "wangEditor";
@import "fullcalendar.min";
@import "jquery-ui";

.direction {
	justify-content: space-between;
}
#open-now {
	width: 10.35%;
  color: #fff;
  outline: none;
}
.input-caption {
  color: #323232;
  font-weight: normal;
}
.input-area {
  display: inline-block;
  width: 20%;
  height: 2.143em;
  margin: 0 5% 0 1%;
}
.finish-btn-position {
  position: absolute;
  right: 160px;
  top: 24px;
  z-index: 10;
}
#finish-btn {
  width: 10.35%;
  color: #fff;
  outline: none;
}
.controls-row {
  margin-bottom: 2%;
}
.value-margin {
  margin-left: 1.5%;
}
.course-introduce {
  vertical-align: top;
  margin-right: 1%;
}
.wangedit-area {
  display: inline-block;
  width: 81.5%;
}
#edit-area {
  height: 20em;
}
