@import "wangEditor";
@import "fullcalendar.min";
@import "jquery-ui";

.direction {
	justify-content: space-between;
}
#open-now {
	width: 10.35%;
  color: #fff;
  outline: none;
}
.input-caption {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #323232;
  font-weight: normal;
}
.input-area {
  display: inline-block;
  width: 238px;
  height: 30px;
  margin: 0 20px 0 10px;
}
.finish-btn-position {
  position: absolute;
  right: 160px;
  top: 24px;
  z-index: 10;
}
#finish-btn {
  width: 10.35%;
  color: #fff;
  outline: none;
}


