@import "fullcalendar.min";
@import "jquery-ui";

.table-height {
  margin-bottom: 0;
  tbody {
    tr:last-child {
      border-bottom: none;
    }
  }
}
.name-bottom {
	margin: 0 0 2.7% 0 !important;
}
.select-page {
  margin-top: 2%;
}
.direction {
	justify-content: space-between;
}
.create-btn-position {
  position: absolute;
  right: 2.07%;
  top: 24px;
  z-index: 10;
}
.delete-btn-position {
  position: absolute;
  right: 22%;
  top: 24px;
  z-index: 10;
}
.unshelve-btn-position {
  position: absolute;
  right: 12%;
  top: 24px;
  z-index: 10;
}
#edit-btn, #delete-btn, #unshelve-btn, #shelve-btn, #finish-btn {
  width: 8.63%;
  color: #fff;
  outline: none;
}
#finish-btn {
  display: none;
}
.edit-photo, .unedit-photo {
  width: 100%;
  height: 138px;
  // height: 9.8571em;
  object-fit: contain;
}
.photo {
  position: relative;
  width: 19.2%;
  display: inline-block;
  margin-left: 7%;
}
#upload-photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.text-message {
	width: 60%;
	float: left;
}
.form-inline {
	margin-bottom: 3.5%;
}
#name-span {
  vertical-align: middle;
}
.input-caption {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5%;
	font-weight: normal;
}
.course-times {
  margin-left: 4.32%;
}
#course-date, #course-center {
	width: 80%;
}
.input-area {
  display: inline-block;
  width: 19.6%;
  height: 30px;
  color: #6f6f7e;
}
.caption-left {
  margin-left: 3%;
}
.kids-capacity, .course-price {
	margin-left: 8.2%;
}
.controls-row {
  margin-bottom: 1.5%;
}
.unedit-box {
  display: inline-block;
  vertical-align: middle;
  width: 19.6%;
  height: 30px;
  line-height: 30px;
}
.num-box {
  @extend .unedit-box;
}
#num-span {
  width: auto;
}
.course-num {
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}
.edit-box {
  display: none;
}
#date-span, #center-span {
  width: 75%;
}
.class-calendar {
  float: left;
  font-weight: normal;
}
.show-calendar {
  float: left;
  width: 92.1%;
  border: 1px solid #c8c8c8;
  margin-left: 1%;
  border-radius: 4px;
  font-size: 14px;
}
h2 {
  font-size: 18px;
  padding-top: 0.5%;
}

// edit-calendar
.calendar-wrapper {
	width: 86.5%;
	// border: 1px solid #c8c8c8;
	border-radius: 6px;
}
.calendar-operation-wrapper {
	width: 40%;
	float: left;
	text-align: center;
	display: none;
}
.edit-calendar {
	width: 59%;
	float: right;
	font-size: 14px;
}
.title {
	font-size: 18px;
 	color: #6f6f7e;
	text-align: center;
	margin: 5.6% 0 2.8% 0;
}
.small-tips {
	font-size: 16px;
	color: #c8c8c8;
	text-align: center;
	margin-bottom: 5.6%;
}
.input-date {
	display: inline-block;
	margin-right: 5px;
	font-size: 16px;
  	color: #6f6f7e;
	vertical-align: middle;
	font-weight: normal;
}
#add-event {
	width: 67%;
	background: #10c078;
	font-size: 16px;
	color: white;
}
.add-btn:hover {
	color: white;
}
.repeat {
	width: 67%;
	margin: 10px auto;
}
.date-btn {
	float: left;
	width: 46%;
	background: #c8c8c8;
	font-size: 16px;
	color: white;
}
.date-btn:hover {
	color: white;
}
.week-btn {
	@extend .date-btn;
	float: right;
}
.no-margin-right {
	margin-right: 0;
}
#date-btn, #week-btn {
	color: white;
	outline: none;
}
// tab5 user review
.review-items {
  padding: 2.4% 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaebf2;
}
.avatar-icon {
  border-radius: 4px;
  width: 100%;
  max-width: 60px;
  height: 4.2588em;
  object-fit: contain;
}
.img-div {
  width: 6%;
  height: 4.2588em;
}
.review-div {
  width: 92%;
}
.head-div, .reviews {
  margin-bottom: 1%;
}
.show-review, .hide-review {
  color: #fff;
  width: 7.65%;
  outline: none;
  padding: 0;
  border-radius: 4px;
}
.show-review:link {
	color: #fff;
}
.show-review:visited {
  color: #fff;
}
.show-review:hover {
  color: #fff;
}
.show-review:active {
  color: #fff;
}
.hide-review:link {
  color: #fff;
}
.hide-review:visited {
  color: #fff;
}
.hide-review:hover {
  color: #fff;
}
.hide-review:active {
  color: #fff;
}

.user-name {
  font-size: 16px;
}
// tab2
.details:link {
	color: #e9885d;
}
.details:visited {
	color: #e9885d;
}
.details:hover {
	color: #e9885d;
}
.details:active {
	color: #e9885d;
}
.triangle-down {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-top: 5px solid #e9885d;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.triangle-up {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-bottom: 5px solid #e9885d;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.unpay-triangle-down {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-top: 5px solid #adadbe;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.pay-fail {
  text-align: left;	
}
.status {
	display: none;
}
.course-status {
	margin: 1% 0 0.5% 0;
}
.comments {
	line-height: 150%;
}
.comments-title {
	display: inline-block;
	float: left;
	margin-left: 28px;
}
.comments-content, .uncomment {
	display: inline-block;
	width: 93%;
} 
.square {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #cfcfcf;
	border-radius: 2px;
	margin-right: 0.5%;
	vertical-align: middle;
}
.join-square {
	@extend .square;
	background: #0fc077;
}
.miss-square {
	@extend .square;
	background: #d70c19;
}
.active-btn {
	background: #f7873d;
}

//tab3
.sign-box {
	border-radius: 6px;
	border: 1px solid #ddd;
	display: -ms-flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: flex;
}
.sign-method {
	-webkit-flex: 1;
	        flex: 1;
	border-right: 1px solid #ddd;
}
.choice-lesson {
  margin-bottom: 0;
	padding: 11.74% 0;
  padding-left: 5%;
	border-bottom: 1px dashed #ddd;
}
.lesson-input {
  display: inline-block;
  vertical-align: middle;
  width: 47%;
  height: 2.428em;
  margin: 0 0 0 1%;
  padding: 0 0 0 2%;
}
.mask {
	visibility: hidden;    //隐藏mask
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgb(221, 221, 221);
	background: rgba(221, 221, 221,0.8);
	display: -ms-flexbox;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	.notice {
		padding: 0 30%;
	}
}
.method {
	position: relative;
  text-align: center;
}
.caption {
	padding: 5.85% 0;
}
#qr-code {
	margin-bottom: 11.7%;
}
.code-figure {
	width: 100%;
	max-width: 160px;
}
.mobile-input {
  width: 47%;
  margin: 0 auto;
}
.sign-btn {
	width: 47%;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #10c078;
	border-radius: 6px;
	margin: 5.85% 0;
}
.sign-btn:hover {
	color: white;
}
.sign-status-box {
	-ms-flex: 2;
	-webkit-flex: 2;
	flex: 2;
	display: -ms-flex;
	display: -moz-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.sign-status {
	width: 60%;
	h5 {
		font-size: 24px;
		text-align: center;
		margin-bottom: 5%;
	}
}
#sign-table {
	width: auto;
	border-radius: 6px;
	border: 1px solid #ddd;
	font-size: 20px;
	color: #6f6f7e;
	.sign-data {
		width: 100px;
		height:45px;
		line-height: 45px;
		text-align: center;
		padding: 0;
	}
	.check-in {
		background: rgb(16, 192, 120);
		background: rgba(16, 192, 120,0.3);
	}
}

//tab4
.courses-income-box {
	width: 88%;
	border: 1px solid #c8c8c8;
  margin-bottom: 3%;
}
.income-title {
	font-size: 16px;
	color: #464646;
	background: #f6f6f6;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border-bottom: 1px solid #c8c8c8;
}
.income-div {
	padding: 20px 0;
	display: flex;
	display: -ms-flexbox;
  	display: -webkit-flex;
}
.income-items {
	flex: 1;
	text-align: center;
	border-right: 1px dashed #c8c8c8;
}
.income-caption {
	margin: 20px 0 10px 0;
	font-size: 16px;
	color: #969696;
}
.income-nums {
	font-size: 24px;
	color: #227dda;
	margin: 10px 0;
}
#goverment {
	border: 0;
}
.pie-box {
	width: 88%;
  margin-bottom: 3%;
	display: flex;
	justify-content: space-between;
	display: -ms-flexbox;
  	display: -webkit-flex;
	-webkit-justify-content: space-between;;
	-moz-justify-content: space-between;;
	-ms-justify-content: space-between;;
	-o-justify-content: space-between;;
}
.gender-pie, .age-pie {
	width: 48%;
	height: 350px;
	border: 1px solid #c8c8c8;
}
.kids-nums {
	width: 88%;
	border: 1px solid #c8c8c8;
  margin-bottom: 3%;
}
.attend-status {
	@extend .kids-nums;
  margin-bottom: 0;
}
.pie-title {
	font-size: 16px;
	color: #464646;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background: #f6f6f6;
	border-bottom: 1px solid #c8c8c8;
}
.column-title, .attend-title {
	@extend .pie-title;
	text-align: left;
	padding-left: 20px;
}
.figure-box {
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: -ms-flexbox;
  	display: -webkit-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
}
#gender-statistics {
	width: 300px;
	height: 280px;
}
#age-statistics {
	width: 350px;
	height: 280px;
}
#nums-statistics {
	width: 800px;
	height: 220px;
}
#attend-statistics {
	width:800px;
	height: 220px;
}
