
.direction {
	justify-content: space-between;
}
.create-btn-position {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 10;
}
.delete-btn-position {
  position: absolute;
  right: 160px;
  top: 24px;
  z-index: 10;
}
#create-btn, #delete-btn {
  width: 10.35%;
  color: #fff;
  outline: none;
}
.desc-items {
	margin: 1.5% 0;
}
.unedit-box {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #3c3d45;
	width: 20%;
	height: 2.143em;
	line-height: 2.143em;
	margin: 0 2% 0 0;
}
#charge {
	margin-left: 1.35%;
}
.course-name {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #3c3d45;
	margin-right: 1%;
}
.course-introduce {
	margin-bottom: 2%;
	.introduce-details {
		font-size: 14px;
		color: #3c3d45;
		display: inline-block;
		width: 86%;
	}
	.introduce {
		display: inline-block;
		float: left;
		vertical-align: top;
		font-size: 14px;
		color: #3c3d45;
		margin: 0 1.2% 1.5% 0;
	}
}

