@import "fullcalendar.min";
@import "jquery-ui";

input, label {
	margin: 0;
	padding: 0;
}
.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}

.manage-content {
	overflow: auto;
	position: absolute;
	top: 20px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	margin: 0 20px 20px 20px;
}
.edit-btn {
	position: absolute;
	top: 15px;
	right: 20px;
	z-index: 10;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.edit-btn:hover {
	color: white;
}
.finish-btn {
	@extend .edit-btn;
	display: none;
}
.unshelve-btn {
	@extend .edit-btn;
	right: 140px;
}
.unshelve-btn:hover {
	color: white;
}
.available {
	background: #f7873d;
}
.unavailable {
		background: #10c078;
	}
.tabbable {
	margin: 20px 0 0 0;
}
.back {
	position: absolute;
	top: 19px;
}
.nav-tabs {
	margin-bottom: 0;
	padding-left: 55px;
	li {
		font-size: 16px;
		color: #323232;
	}
}
.text-message {
	width: 50%;
	float: left;
}
.form-inline {
	margin: 20px 0;
}
.photo {
	width: 17.25%;
	height: 138px;
	display: inline-block;
	margin-left: 25px;
	margin-top: 15px;
}
.input-caption {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #323232;
	margin-right: 10px;
	margin-left: 20px;
	font-weight: normal;
}
.shelve {
	color: #0fc077;
	vertical-align: middle;
}
.kids-capacity {
	margin-left: 36px;
}
#course-num {
	width: 75px;
}
#num-span {
	width: auto;
}
#course-address, #course-date {
	width: 80%;
}
.course-times {
	margin-left: 52px;
}
.input-area {
	display: inline-block;
	width: 170px;
	height: 30px;
}
.controls-row {
	margin-bottom: 15px;
}
.unedit-box {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #323232;
	width: 170px;
	height: 30px;
	line-height: 30px;
}
.num-box {
	@extend .unedit-box;
}
.course-num {
	vertical-align: middle;
	font-size: 14px;
	color: #323232;
	height: 30px;
	line-height: 30px;
}
.edit-box {
	display: none;
}
#date-span, #address-span {
	width: 75%;
}


.class-calendar {
	float: left;
}

#calendar-wrapper {
	float: left;
	width: 75%;
}

#add-event-wrapper {
	padding-left: 10px;
}

#rm-event-wrapper {
	padding-left: 10px;
	color: red;
}

#calendar {
	border: 1px solid #c8c8c8;
	margin-left: 10px;
	border-radius: 4px;
	font-size: 14px;
}
h2 {
	font-size: 20px;
	padding-top: 3px;
}

// undiscover message
.undiscover {
	text-align: center;
	padding: 30px;
}
.undiscover-icon {
	display: inline-block;
	width: 100%;
	max-width: 39px;
}
.undiscover-message {
	font-size: 16px;
	color: #969696;
	margin-left: 20px;
}

// select-page
.select-page {
	text-align: right;
	margin: 10px 20px 0 0;
	padding-bottom: 5px;
}
.totalitems {
	font-size: 12px;
	color: #969696;
	vertical-align: bottom;
	height: 36px;
	line-height: 36px;
}
.pagination {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 15px;
}
// user review
.user-review-box {
	border-radius: 6px;
	border: 1px solid #ddd;
	margin: 20px 20px 0 20px;
}
.user-checkbox {
	margin: 5px 0;
	margin-left: 10px;
}
.user-review {
	font-size: 16px;
	color: #323232;
	margin: 0 20px;
	vertical-align: bottom;
}
.user-name {
	font-size: 16px;
	color: #646464;
	margin-top: -3px;
	span {
		display: inline-block;
		margin-right: 15px;
	}
	img {
		vertical-align: top;
	}
}
.book-description {
	position: relative;
	border-top: 1px solid #ddd;
}
.book-img {
	display: block;
	float: left;
	margin: 0 10px;
	width: 60px;
	height: 60px;
}
.user-item {
	margin: 18px 0;
	p {
		padding: 1.2px;
	}
}

.user-name {
	font-size: 16px;
	color: #646464;
	margin-top: -3px;
}
.date {
	font-size: 12px;
	color: #969696;
}
.user-review-content {
	font-size: 14px;
	color: #787878;
}
.review-status {
	position: absolute;
	top: 39px;
	right: 20px;
	color: white;
	font-size: 14px;
	color: #323232;
}
#unopen {
	color: #0fc077;
}
#open {
	color: #f7873d;
}

//tab3
.table-box {
	padding: 0;
	margin: 20px 20px 0 20px;
}
#user-table {
	border-radius: 6px;
	border: 1px solid #ddd;
	font-size: 14px;
	color: #323232;
	margin-bottom: 0;
	th {
		text-align: center;
		height: 40px;
		line-height: 40px;
		padding: 0;
	}
	td {
		font-size: 12px;
		color: #505050;
		height:45px;
		line-height: 45px;
		text-align: center;
		padding: 0;
		.unshelve {
			color: #969696;
		}
		.shelve {
			color: #f7873d;
		}
		a {
			
			text-decoration: underline;
		}
	}
	.clicked {
		background: #fdd3b9;
	}
}