@import "wangEditor";
@import "jquery-ui";


.modal-body, label {
	margin: 0;
	padding: 0;
	max-height: 600px;
}
.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.content-box {
	position: relative;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	height: 100%;
	z-index: 50;
}
.manage-box {
	height: 58px;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}
.manage-content {
	overflow: auto;
	position: absolute;
	top: 60px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
#back {
	float: left;
}
.center-add {
	float: left;
	font-size: 16px;
	color: #323232;
	padding-left: 20px;
	height: 52px;
	line-height: 52px;
	margin-top: 3px;
	border-left: 1px solid #c8c8c8;
}
.open {
	float: right;
	margin: 20px 20px 0 0;
}
.end-btn {
	float: right;
	margin: 11.5px 20px 0 0;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.end-btn:hover {
	background: #f7873d;
	color: white;
}
.input-left {
	float: left;
}
#photo {
	width: 117px;
	height: 80px;
	margin: 19px 0 0 60px;
}
.input-name {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	font-size: 16px;
	color: #323232;
	margin-left: 20px;
	font-weight: normal;
}
.form-inline {
	margin: 20px 0;
	width: 550px;
	.form-control{
		width: 440px;
		height: 30px;
	}
}
.map-position {
	margin: 15px 20px;
	.map-address {
		font-size: 16px;
		color: #323232;
	}
	.notice {
		display: inline-block;
		margin-left: 5px;
		font-size: 14px;
		color: #323232;
	}
	#auto-locate {
		font-size: 14px;
	}
}
.introduce {
	float: left;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	color: #323232;
	margin: 0 5px 15px 20px;
}
#map-container {
	width: 720px;
	margin-left: 7%;
	margin-top: 13px;
	height: 240px;
	border: 1px solid #ddd;
}
.wangedit-area {
	float: left;
	width: 722px;
	font-size: 14px;
	margin-left: 4px;
}
#edit-area {
	height: 200px;
}
.center-introduce {
	padding-top: 5px;
	margin-bottom: 20px;
}


#uploadPhotoModal {
	.modal-dialog {
		position:absolute;
		left: 50%;
		top: 50%;
		margin-left: -250px;
		margin-top: -106px;
		width: 500px;
		height: 210px;
		border-radius: 10px;
	}
}
.modal-backdrop {
	background-color: #999;
}
.close {
	position: absolute;
	right: -14px;
	top: -12px;
	opacity: 0.7;
	z-index: 10;
}
.close:hover {
	opacity: 1;
}
.modal-header {
	height: 50px;
	line-height: 50px;
	box-shadow: 0 -1px 6px #9c9c9c; 
}
.caption {
	font-size: 18px;
	color: #323232;
}
.modal-body {
	box-shadow: 0 1px 6px #9c9c9c; 
}
#browser-cover-click {
	font-size: 16px;
	text-decoration: none;
	height:60px;
	line-height: 60px;
	color: #323232;
	vertical-align: middle;
}
.form-group {
	font-size: 14px;
	color: #323232;
	margin-bottom: 0;
}
.modal-footer {
	background: white;
}
.cover-caption, #cover-name {
	margin-left: 15px;
}
