@import "wangEditor";
@import "jquery-ui";


.modal-body, input, label {
	margin: 0;
	padding: 0;
	max-height: 600px;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.content-area {
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 0;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}

.manage-content {
	overflow: auto;
	position: absolute;
	top: 20px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	margin: 0 20px 20px 20px;
}
.edit-btn {
	position: absolute;
	top: 15px;
	right: 20px;
	z-index: 10;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.edit-btn:hover {
	background: #f7873d;
	color: white;
}
.finish-btn {
	@extend .edit-btn;
	display: none;
}
#unshelve-btn {
	@extend .edit-btn;
	right: 140px;
}
#unshelve-btn:hover {
	background: #f7873d;
	color: white;
}
.tabbable {
	margin: 20px 20px 0 0;
}
.back {
	position: absolute;
	top: 19px;
}
.nav-tabs {
	margin-bottom: 0;
	padding-left: 55px;
	li {
		font-size: 16px;
		color: #323232;
	}
}
.book-edit {
	vertical-align: middle;
}
.center-detail {
	border: 1px solid #ddd;
	border-radius: 0 6px 6px 6px;
}
.input-left {
	float: left;
	width: 50%;
}
.photo {
	position: relative;
	float: left;
	width: 11.3%;
	max-width: 128px;
	height: 88px;
	margin: 15px 0 0 60px;
}
.unedit-photo {
	width: 128px;
	max-width: 128px;
	height: 88px;
	object-fit: contain;
}
.edit-photo {
	width: 128px;
	height: 88px;
	object-fit: contain;
}
#upload-photo {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	display: none;
}
#name-span {
	width: auto;
	margin-right: 15px;
}
#name-input, #center-address {
	width: 80%;
	height: 30px;
}
.shelve {
	color: #0fc077;
	vertical-align: middle;
}
.form-group {
	margin: 20px 0;
}
.form-control {
	display: inline-block;
}
.input-caption {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #323232;
	margin-right: 10px;
	margin-left: 20px;
	font-weight: normal;
}
.unedit-box {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #323232;
	width: 70%;
	height: 30px;
	line-height: 30px;
	margin: 0 20px 0 0;
}
.edit-box {
	display: none;
}

.shelve {
    color: #0fc077;
    vertical-align: middle;
}
.map-position {
	margin: 0 20px 20px 20px;
	.map-address {
		font-size: 16px;
		color: #323232;
		vertical-align: top;
		margin-right: 10px;
	}
	.notice {
		display: inline-block;
		font-size: 14px;
		color: #323232;
	}
	#auto-locate {
		font-size: 14px;
	}
}
#map-container {
	display: inline-block;
	width: 100%;
	height: 300px;
	border: 1px solid #ddd;
}
.map-notice {
	display: inline-block;
	width: 65.5%;
}
.notice-box {
	display: none;
	margin-bottom: 10px;
}
.center-introduce {
	margin-bottom: 20px;
}
.introduce {
	float: left;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	color: #323232;
	margin: 0 12px 15px 20px;
}
.wangedit-area {
	float: left;
	width: 63.5%;
	font-size: 14px;
	display: none;
}
#edit-area {
	height: 250px;
}
.introduce-details {
	font-size: 14px;
	color: #323232;
	display: inline-block;
	width: 63.5%;
}
 
.message {
	display: inline-block;
	width: 100px;
	height: 34px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #ddd;
	border-bottom: 0;
	font-size: 16px;
	color: #323232;
	text-align: center;
	line-height: 34px;
	margin: 20px 20px 0 20px;
}

// undiscover message
.undiscover {
	text-align: center;
	padding: 30px;
}
.undiscover-icon {
	display: inline-block;
	width: 100%;
	max-width: 39px;
}
.undiscover-message {
	font-size: 16px;
	color: #969696;
	margin-left: 20px;
}

// user review
.select-page {
	margin-right: 0;
}

.table-box {
	padding: 0;
	margin-left: 20px;
}
#user-table1 {
	font-size: 14px;
	color: #323232;
	margin-top: 20px;
	margin-bottom: 0;
	th {
		text-align: center;
		height: 40px;
		line-height: 40px;
		padding: 0;
	}
	td {
		font-size: 14px;
		color: #505050;
		height:45px;
		line-height: 45px;
		text-align: center;
		padding: 0;
	}
	.unavailable {
		background: #eaeaea;
	}
	.clicked {
		background: #fdd3b9;
	}
}
#user-table2 {
	@extend #user-table1;
}