

html {
	font-family:"Microsoft YaHei";
	height: 100%;
}
body {
	height: 100%;
}
body, p, img, div, ul, li, a, h3, table, tr, th, td {
	margin:0;
	padding:0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}


.container {
	position: relative;
	width: 100%;
	height: 100%;
}
.header {
	position: relative;
	width: 100%;
	height: 60px; 
	text-align: center;
	.logo {
		position: absolute;
		width:64.285%;
		max-width:36px;
		left: 20px;
		top: 12px;
	}
	.leftword {
		position:absolute;
		font-size:1.8em;
		color:#323232;
		top:20px;
		left:66px;
	}
	.sign-up {
		position:absolute;
		width:60px;
		height:30px;
		text-align:center;
		background:#1dbb6f;
		right:20px;
		top:15px;
		border-radius:2px;
		line-height:30px;
		font-size:1.4em;
		color:white;
		text-decoration: none;
		&:hover {
			background:#28d883;
		}
	}
	.sign-in {
		@extend .sign-up;
		background:#f7873d;
		&:hover {
			background:#ffa265;
		}
	}
	.rightword {
		position:absolute;
		font-size:1.4em;
		color:#969696;
		right: 85px;
		top:20px;
	}

}

.kids-manage {
	float: right;
	list-style: none;
	.manage {
		float: left;
		height: 50px;
		margin-top: 5px;
		line-height: 50px;
		padding: 0 30px;
		border-left: 1px solid #c8c8c8;
	}
	#manage-photo {
		background: url('/assets/managecenter/photocircle.png') no-repeat;
		background-size: 34px;
		background-position: 15px 9px;
		padding: 0 0 0 15px;
	}
	.turnoff-icon, .about-icon {
		width: 100%;
		max-width: 24px;
	}
	.dropdown-toggle {
		font-size: 16px;
		color: #323232;
	}
	.btn {
		background: white;
		border: 0;
		margin: 0;
	}
	.caret {
		margin-left: 10px;
	}
}
.dropdown-menu {
	li {
		a{
			text-align: left;
			padding-left: 10px;
			font-size: 16px;
			color: #323232;
			&:hover {
				background: #e6e6e6;
				color: #323232;
			}
		}
		
	}
}


.main {
	position: absolute;
	width: 100%;
	top: 60px;
	left: 0;
	bottom: 0;
}
.sidebar {
	position: absolute;
	width: 160px;
	left: 0;
	top: 0;
	bottom: 0;
	background: #227dda;
	// background: #03AF1F;
	text-align: center;
	ul {
		list-style: none;
	}
	li {
		background: url('/assets/managecenter/linear.png') no-repeat bottom;
		a {
			display: block;
			font-size: 1.6em;
			color: #fff;
			text-decoration: none;
			padding: 15px 0;
		}
	}
}





