.undiscover {
	text-align: center;
}
.icon-empty {
	width: 65%;
	max-width: 416px;
	margin-top: 33%;
	margin-bottom: 12.5%;
}
#to_set {
	display: inline-block;
	width: 84.375%;
	background: #c70d19;
	font-size: 3.2em;
	color: #fff;
	border-radius: 8px;
	padding: 3.2%;
}
#to_set:link {
	text-decoration: none;
}
#to_set:visited {
	text-decoration: none;
}
#to_set:hover {
	text-decoration: none;
}
#to_set:active {
	text-decoration: none;
}