- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/sessions/index-bundle"
  = stylesheet_link_tag "pages/staff_mobile/sessions/index-bundle", :media => "all"

- content_for :app_content do
  .main-div
    .input-div
      %img.logo{src: asset_path("user_logo.png")}
      .input-group#user-input
        %span.input-group-addon.userphoto
        %input.form-box#mobile{:type => "text"}
      .input-group#key-input
        %span.input-group-addon.keyphoto
        %input.form-box#password{:type => "password"}
      .btn.click-btn#sign-in-btn{:type => "button"} 登&nbsp&nbsp录



