<div class="content" data-id={{ele_id}}>
  <div class="left-div">
    <img class="visit" src={{ele_photo}}>
  </div>
  <div class="right-div">
    <img class="icon" src="<%= asset_path('kidscenter/hui.png') %>">
    <p class="caption">{{ele_name}}</p>
    <p class="message">{{ele_content}}</p>
    <div class="location-div">
      <img class="location" src="<%= asset_path('web/location.png') %>">
      <span class="center">{{ele_center}}</span>
    </div>
  </div>
</div>