- content_for :head do
  = javascript_include_tag "pages/staff/books/index-bundle"
  = stylesheet_link_tag "pages/staff/books/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"
.content
  /books-index
  .content-box
    .manage-box
      .user-search-box
        .input-append
          %input#appendedInputButton.span2{:type => "text", :placeholder => "输入绘本名称"}
          %button.btn#search-btn{:type => "button"}
      .btn.bookadd-btn{:type => "button", :href => "#kidsaddModal", "data-toggle" => "modal"} 
        %img.book-edit{:src => "/assets/managecenter/add.png"}
        添加绘本

    / - if @users[:data].length == 0
    /   .undiscover
    /     %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
    /     %span.message 抱歉！暂无查找信息
    / - else
    .table-box
      %table.table.table-bordered.user-table
        %caption
        %thead
          %tr
            %th 绘本名称
            %th 书籍介绍
            %th 类&nbsp型
            %th 在&nbsp架
            %th 封&nbsp面
            %th 封&nbsp底
            %th 作&nbsp者
            %th 书&nbsp号
            %th{:colspan => "2"} 操&nbsp作
        %tbody
          / - @users[:data].each do |u|
          %tr
            %td 社会科学
            %td 科技与社会的结合
            %td 读本
            %td 
            %td 
            %td 
            %td 丽丽
            %td 2-1
            %td
              %a{:href => "javascript:void(0);"} 详情
            %td
              %a.unshelve{:href => "javascript:void(0);"} 下架

    .select-page 
      %span.totalitems= "共6页,总计30条"
      %span.choice-page
        .pagination.pagination-small
          %ul
            %li
              %a{:href => "javascript:void(0);"} «
            / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
            %li
              %a{:href => "javascript:void(0);"} 1
            %li
              %a{:href => "javascript:void(0);"} »

    .user-review-box
      %span.user-review 用户评价
      %label.checkbox.inline
        %input#inlineCheckbox1{:type => "checkbox", :value => "option1"} 未公开
      %label.checkbox.inline
        %input#inlineCheckbox2{:type => "checkbox", :value => "option2"} 已公开
                              
