- content_for :head do
  = javascript_include_tag "pages/staff/books/show-bundle"
  = stylesheet_link_tag "pages/staff/books/show-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"

.content-area
  /books-show
  .content-box
    .manage-box.clearfix
      %p.book-add 添加绘本
      .btn.edit-btn{:type => "button"} 
        %img.edit{:src => "/assets/managecenter/edit.png"}
        编辑
      .btn.unshelve-btn{:type => "button"} 
        %img.end{:src => "/assets/managecenter/unshelve.png"}
        下架
    .manage-content
      .book-detail
        %form.form-inline
          %label.input-caption 绘本名称:
          %span.unedit-box#name-span 张三
          %input.input-area#name-input{:type => "text"}
          %label.shelve 上架

        .controls.controls-row
          %label.input-caption 类型:
          %span.unedit-box#type-span 张三
          %input.input-area#type-input{:type => "text"}
          %label.input-caption 数量:
          %span.unedit-box#num-span 张三
          %input.input-area#num-input{:type => "text"}
          %label.input-caption#book-number 书号:
          %span.unedit-box#serial-span 张三
          %input.input-area#serial-input{:type => "text"}
        .controls.controls-row
          %label.input-caption 作者:
          %span.unedit-box#author-span 张三
          %input.input-area#author-input{:type => "text"}
          %label.input-caption 译者:
          %span.unedit-box#translator-span 张三
          %input.input-area#translator-input{:type => "text"}
          %label.input-caption#picture-label 插画作者:
          %span.unedit-box#picture-span 张三
          %input.input-area#picture-input{:type => "text"}
         
        .book-introduce
          %span.introduce 书籍介绍
          %span.wangedit-area
            #edit-area

      .borrow-message
        %span.message 信息
        %span.shelve-number 在架还剩3本
        %span.QR-code
          .btn.QRcode-btn{:type => "button"} 生成签到二维码
      .bookuse-message
        %table.table.table-hover
          %tbody
            %tr
              %td name
              %td borrow-time
              %td restore-time
            %tr
              %td name
              %td borrow-time
              %td restore-time
          
         



      

