- content_for :app_head do
  = javascript_include_tag "pages/client/centers/show-bundle"
  = stylesheet_link_tag "pages/client/centers/show-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      %img.robot{:src => "/assets/robotclass/robot.jpg"}
      %a{:href => "#"}
        %img.back{:src => "/assets/robotclass/back.png"}
    .boxtitle
      .bookcloud
        %p 机器人初级班特色
      %a{:href => "#"}
        %img.grayheart{:src => "/assets/robotclass/grayheart.png"}
      %a{:href => "#"}
        %img.dialog{:src => "/assets/robotclass/dialog.png"}
      %p.num (600)
    .content
      %p.introduce
        · 机器人培训课程专业而系统，初级班细化四阶，让孩子机器人学习基础扎实，稳扎稳打。 
        %br
        · 因材施教，根据不同学员年龄和基础选择不同机器人的培训课程。
        %br
        · 小班教学，对每一个学生都有清晰的了解与认识，从而针对性的对孩子的能力作出评估，从而有效地提高长 |
          处，补全短处，实现孩子的全面发展。 | 
        %br
        · 以机器人搭建为主题，延伸涉猎物理学原理。全面的课程设置，满足孩子任何年龄阶段对机器人起步阶段的 |
        学习需求。 |
        %br
        · 码高拥有强大的师资团队，拥有国内外顶尖的机器人教育专家，中国科学院叶昌青博士领衔授课。
    .recommend
      %p 适用学员
    .article 
      %p.introduce 
        1. 6-8岁青少年儿童； 
        %br
        2. 希望学习机器人编程搭建的学员；
        %br
        3. 对机器人科技具有浓厚兴趣的学员；
        %br
        4. 想要成为科技特长生，为自己的升学助力加分的学生。
        %br
        5. 想要参加FIRST/FLL等国际机器人赛事的学员。
    .address
      %p 课程安排
    .anotherbook
      .description
        %a{:href => "#"} 中心其它课程
      %p.center
        海淀儿童中心
        %span.left-distance
          海淀区中关村一街32号大厦2205室
      %p.time
        开课时间：2016年9月12日
        %br
        上课课时：32课时/阶
        %br
        上课时间：上午8:30到10:00或10:30到12:00
        %br
        下午13:30到15:00或15:30到17:00  
        %br      
        报名人数
        %span.regist (12/30)
        剩余
        %span.number 18
        个名额
        %span.price 报价：￥9000/人
    .anotherbook
      .description
        %a{:href => "#"} 中心其它课程
      %p.center
        朝阳区儿童中心
        %span.left-distance
          朝阳区望京一街32号大厦2365室
      %p.time
        开课时间：2016年8月26日
        %br
        上课课时：32课时/阶
        %br
        上课时间：上午8:30到10:00或10:30到12:00
        %br
        下午13:30到15:00或15:30到17:00  
        %br      
        报名人数
        %span.regist (25/40)
        剩余
        %span.number 15
        个名额
        %span.price 报价：￥9000/人
    .anotherbook-bottom
      .description
        %a{:href => "#"} 中心其它课程
      %p.center
        丰台区儿童中心
        %span.left-distance
          丰台区海口达到9号大厦1102室
      %p.time
        开课时间：2016年8月30日
        %br
        上课课时：32课时/阶
        %br
        上课时间：上午8:30到10:00或10:30到12:00
        %br
        下午13:30到15:00或15:30到17:00  
        %br      
        报名人数
        %span.regist (25/35)
        剩余
        %span.number 10
        个名额
        %span.price 报价：￥9000/人
    %img.earphone{:src => "/assets/earphone.png"}
    .footer
      %a{:href => "#"} 我要报名
