- content_for :app_head do
  = javascript_include_tag "pages/welcome/centerbook-bundle"
  = stylesheet_link_tag "pages/welcome/centerbook-bundle", :media => "all"

- content_for :app_content do
  .container
    .header
      %img.crocodile{:src => "/assets/crocodile.png"}
      %a{:href => "#"}
        %img.back{:src => "/assets/back.png"}

    .boxtitle
      .bookcloud
        %p 我想吃一个小孩
      %a{:href => "#"}
        %img.smallheart{:src => "/assets/smallheart.png"}
      %a{:href => "#"}
        %img.dialog{:src => "/assets/dialog.png"}
      %p.num (20)
    .content
      %p.author
        作者：(法国)西尔维娜·多尼奥
        %br
        译者：文小山
        %br
        插图作者：(法国)多萝蒂·德·蒙弗里
      %p.profile 简介：《我想吃一个小孩》讲述了每天早上,妈 |
                妈都给小鳄奇拿来好吃的香蕉当早餐,但是有一 |
                天早上,奇奇不肯吃香鳄鱼妈妈非常担心,她不停 |
                地问:“这香蕉多好啊,多好啊,多有营养啊!你真 |
                的不吃吗？”奇奇回答说,“今天我想吃一个小 |
                孩。” |
    .recommend
      %p 推荐理由
    .article 
      %p 这是一本很酷而且很有意思的图画书，书 |
        名乍一看很吓人，但其中的故事似乎又与我们 |
        的生活、成长有着让人更加惊讶的共同体验。 |
        吃香蕉也能长大，可小鳄鱼偏偏要吃小孩，最 |
        后它才明白吃香蕉也是吃小孩的一个必要过程 |
        像是生活中积累磨炼的必要。图书有一种3到8 |
        岁孩子都欣赏的黑色幽默，在十多个国家都已 |
        出版，并获多项大奖。 |
    .address
      %p 借阅地点
    .anotherbook
      .description
        %a{:href => "#"} 中心其它绘本
      %p.center 
        海淀儿童中心
      %p.num  
        中心剩余
        %span 12
        本
        %br
        地址：海淀区大厦路神经方块大厦3605室
    .anotherbook
      .description
        %a{:href => "#"} 中心其它绘本
      %p.center 海淀儿童中心
      %p.num  
        中心剩余
        %span 12
        本
        %br
        地址：海淀区大厦路神经方块大厦3605室
    .anotherbook
      .description
        %a{:href => "#"} 中心其它绘本
      %p.center 海淀儿童中心
      %p.num  
        中心剩余
        %span 12
        本
        %br
        地址：海淀区大厦路神经方块大厦3605室
    .anotherbook
      .description
        %a{:href => "#"} 中心其它绘本
      %p.center 海淀儿童中心
      %p.num  
        中心剩余
        %span 12
        本
        %br
        地址：海淀区大厦路神经方块大厦3605室







