- content_for :app_head do
  = javascript_include_tag "http://map.qq.com/api/js?v=2.exp"
  = javascript_include_tag "pages/welcome/courseinfo-bundle"
  = stylesheet_link_tag "pages/welcome/courseinfo-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .center-banner
      %p.notice 儿童中心全体人员欢迎大家的到来
    %a{:href => "#"}
      %img.back{:src => "/assets/back.png"}
    .course-info
      %p.caption 课程信息
      %p.teacher
        %span 主讲人：
        %span#teacher-name 张明浩老师
      %p.time
        %span 上课时间：
        %span#class-time 2016年9月21日14:00
      %p.address
        %span 中心地址：
        %span#center-address 海淀区万达路12号楼1002室
    .map-box
      #map-container

