- content_for :app_head do
  = javascript_include_tag "pages/welcome/evaluate-bundle"
  = stylesheet_link_tag "pages/welcome/evaluate-bundle", :media => "all"


- content_for :app_content do
  .container
    .header
      %p.caption 历史评价
      %a{:href => "#"}
        %img.back{:src => "/assets/evaluate/back.png"}
    %article
      %a{:href => "#"}
        %img.headfigure{:src => "/assets/evaluate/headfigure.png"}
      %p.username lifd
      %p.message 李老师教的不错，学到了很多不知道的知识，是非常有意思的课程。
      %p.num 2分钟前
    %hr
    %article
      %a{:href => "#"}
        %img.headfigure{:src => "/assets/evaluate/headfigure.png"}
      %p.username lifd
      %p.message 李老师教的不错，学到了很多不知道的知识，是非常有意思的课程。
      %p.num 2分钟前
    %hr
    %article
      %a{:href => "#"}
        %img.headfigure{:src => "/assets/evaluate/headfigure.png"}
      %p.username lifd
      %p.message 李老师教的不错，学到了很多不知道的知识，是非常有意思的课程。
      %p.num 2分钟前
    %hr
    %article
      %a{:href => "#"}
        %img.headfigure{:src => "/assets/evaluate/headfigure.png"}
      %p.username lifd
      %p.message 李老师教的不错，学到了很多不知道的知识，是非常有意思的课程。
      %p.num 2分钟前
    %hr


