- content_for :app_head do
  = javascript_include_tag "pages/welcome/fengtaicenter-bundle"
  = stylesheet_link_tag "pages/welcome/fengtaicenter-bundle", :media => "all"



.container
  .header
    %a{:href => "#"}
      %img.uparrow{:src => "/assets/fengtaicenter/shanghong02.png"}
    %input.input-box
      %a{:href => "#"}
        %img.search{:src => "/assets/fengtaicenter/search.png"}
  .nav
    %p.short
      离我最近
    %ul.area
      %li
        按范围搜索:
      %li
        %a{:href => "#"} 丰台区
      %li
        %a{:href => "#"} 海淀区
      %li
        %a{:href => "#"} 朝阳区
  .details
    %img.visit{:src => "/assets/fengtaicenter/fengtaicenter.jpg"}
    %h3 丰台儿童中心 
    %p.article 是唯一执行KOCA关键期教育理念的一体化教育机构。总面积达12000平米，主教…
    .detail-flip
      %a{:href => "#"} 中心首页
    .address
      %a{:href => "#"}
        %img.address-icon{:src => "/assets/fengtaicenter/dingwei03.png"}
      %p.setdefault 设为默认中心
      %p.place 丰台区大成四路67号５层52号
  .details
    %img.visit{:src => "/assets/fengtaicenter/fengtaicenter.jpg"}
    %h3 丰台儿童中心 
    %p.article 是唯一执行KOCA关键期教育理念的一体化教育机构。总面积达12000平米，主教…
    .detail-flip
      %a{:href => "#"} 中心首页
    .address
      %a{:href => "#"}
        %img.address-icon{:src => "/assets/fengtaicenter/dingwei04.png"}
      %p.setdefault 设为默认中心
      %p.place 丰台区大成四路67号５层52号
  .details
    %img.visit{:src => "/assets/fengtaicenter/fengtaicenter.jpg"}
    %h3 丰台儿童中心 
    %p.article 是唯一执行KOCA关键期教育理念的一体化教育机构。总面积达12000平米，主教…
    .detail-flip
      %a{:href => "#"} 中心首页
    .address
      %a{:href => "#"}
        %img.address-icon{:src => "/assets/fengtaicenter/dingwei04.png"}
      %p.setdefault 设为默认中心
      %p.place 丰台区大成四路67号５层52号