- content_for :app_head do
  = javascript_include_tag "pages/welcome/haidiancenter-bundle"
  = stylesheet_link_tag "pages/welcome/haidiancenter-bundle", :media => "all"


- content_for :app_content do
  .container
    .header
      %img.haidian{:src => "/assets/haidiancenter/haidian.png"}
      %img.back{:src => "/assets/haidiancenter/back.png"}
    .description
      %p 海淀儿童中心位于海淀区创业路13号成立于2016年。创课程的设计完全基于官方制定的课程体系，借助于独特的学习理念、教学指导、小组作业、安全环保的学具、趣味性的比赛方式，使孩子们发挥出天生的创意力和想象力，培养团队精神、解决问题能力、应变能力、表达能力、社交能力等，帮助他们从容应对21世纪所带来的新挑战。
    .noticecaption
      %p 教学特色
    %img.visit{:src => "/assets/haidiancenter/visit.jpg"}
    .introduce
      %p 
        儿童中心专业的老师，通过精心设计的课程环节和启发性案例，引导学生们主动学习和探索，应用创意工程设计思维，
        将学生们的想法一步步落地，形成基于科学的设计方案。
        %br
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp在这里，孩子们可以感受到最前沿的教育理念，最正宗的基于项目的学习模式，以及跨学科的知识运用。
    .noticecaption
      %p 寓教于乐
    %img.visit{:src => "/assets/haidiancenter/visit.jpg"}
    .introduce
      %p 
        儿童中心运用寓教于乐的教学方法，把教育寄予在乐趣里。让学员在轻松欢快的气氛中学习知识。
        %br
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp中心还为小朋友们准备了，各种各样的休闲活动，其中就有各式各样的绘本。
        %br
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp小朋友们可以随时在中心借阅自己喜欢的绘本。
    .noticecaption-link
      %p 联系方式
    %p.linkaddress
      010-66180138（每周一至周五 9:00-17:00）
      %br 
      联系人：姜老师、尚老师
      %br 
      地址：中国儿童中心综合楼B座305
    %a{:href => "#"}
      %img.map{:src => "/assets/haidiancenter/map.jpg"}
    %ul.tag-choice
      %li.first
        %a{:href => "javascript:void(0)"} 公告
      %li.second 
        %a{:href => "javascript:void(0)"} 课程
      %li.third
        %a{:href => "javascript:void(0)"} 绘本
    .details
      %img.tour{:src => "/assets/haidiancenter/tour.png"}
      %p.caption 机器人教育激发学生学习兴…
      %p.article 机器人培训课程专业而系统，初级班细化四阶，让孩子…
      .detail-flip
        %a{:href => "#"} 详情
    .details
      %img.tour{:src => "/assets/haidiancenter/tour.png"}
      %p.caption 机器人教育激发学生学习兴…
      %p.article 机器人培训课程专业而系统，初级班细化四阶，让孩子…
      .detail-flip
        %a{:href => "#"} 详情
    .details
      %img.tour{:src => "/assets/haidiancenter/tour.png"}
      %p.caption 机器人教育激发学生学习兴…
      %p.article 机器人培训课程专业而系统，初级班细化四阶，让孩子…
      .detail-flip
        %a{:href => "#"} 详情
    .details
      %img.tour{:src => "/assets/haidiancenter/tour.png"}
      %p.caption 机器人教育激发学生学习兴…
      %p.article 机器人培训课程专业而系统，初级班细化四阶，让孩子…
      .detail-flip
        %a{:href => "#"} 详情
    %a{:href => "#"}
      %img.userservice{:src => "/assets/haidiancenter/earphone.png" }
