- content_for :app_head do
  = javascript_include_tag "pages/welcome/haidianbook-bundle"
  = stylesheet_link_tag "pages/welcome/haidianbook-bundle", :media => "all"



  .container
    %img.haidian{:src => "/assets/haidianbook/haidian.png"}
    %a{:href => "#"}
      %img.searchcircle{:src => "/assets/haidianbook/searchcircle.png"}
    %a{:href => "#"}
      %img.back{:src => "/assets/haidianbook/back.png"}
    .description
      %p 海淀儿童中心位于海淀区创业路13号成立于2016年。创课程的设计完全基于官方制定的课程体系，借助于独特的学习理念、教学指导、小组作业、安全环保的学具、趣味性的比赛方式，使孩子们发挥出天生的创意力和想象力，培养团队精神、解决问题能力、应变能力、表达能力、社交能力等，帮助他们从容应对21世纪所带来的新挑战。
    .noticecaption
      %p 海淀儿童中心绘本
    .details
      %img.visit{:src => "/assets/haidianbook/diary.png"}
      %h3 蚯蚓的日记 
      %p.article 简介：这是一本极为有趣的图画书，以日记书写的方式…
      %p.detail-flip
        %a{:href => "#"} 绘本详情
    .details
      %img.visit{:src => "/assets/haidianbook/book.jpg"}
      %h3 儿童英文绘本
      %p.article 简介：全套20册小学英文全套绘本各种可爱的小故事。
      %p.detail-flip
        %a{:href => "#"} 绘本详情
    .details
      %img.visit{:src => "/assets/haidianbook/newhome.png"}
      %h3 小袋袋找新家
      %p.article 简介：小袋袋的伙伴们是不是有一个比他更棒的家？小…
      %p.detail-flip
        %a{:href => "#"} 绘本详情
    .details
      %img.visit{:src => "/assets/haidianbook/friends.jpg"}
      %h3 好朋友
      %p.article 简介：小熊想和好朋友一起玩耍，可是他太胆小了。
      %p.detail-flip
        %a{:href => "#"} 绘本详情