- content_for :app_head do
  = javascript_include_tag "pages/welcome/m_borrow-bundle"
  = stylesheet_link_tag "pages/welcome/m_borrow-bundle", :media => "all"

- content_for :app_content do
  .main-div
    .content
      %p.telephone 手机号
      %p.notice 请输入借阅者的注册手机号
      %input.form-control{:type => "text"}
      %button.btn.next-btn{:type => "button"} 下一步
      / 弹出框  现在隐藏　　手机号出错显示
      .dialog#wrong-num
        %p 请输入正确的手机号
      .dialog#unregister-num
        %p 该手机号未注册
        