- content_for :app_head do
  = javascript_include_tag "pages/welcome/m_frontpage-bundle"
  = stylesheet_link_tag "pages/welcome/m_frontpage-bundle", :media => "all"

- content_for :app_content do
  .main-div
    .logo-div
      %img.logo{:src => "/assets/manager/logo.png"}
    .sign-in-div
      .input-div
        .input-group#user-input
          .input-group-addon
            %img#user-bg{:src => "/assets/manager/user.png"}
          %input.form-control{:type => "text"}
        .input-group#key-input
          .input-group-addon
            %img#user-bg{:src => "/assets/manager/key.png"}
          %input.form-control{:type => "password"}
        %button.btn.sign-in-btn{:type => "button"} 登录
