- content_for :app_head do
  = javascript_include_tag "pages/welcome/mycourse-bundle"
  = stylesheet_link_tag "pages/welcome/mycourse-bundle", :media => "all"


- content_for :app_content do
  .content-area
    .header
      .cloud
        %p 我的课程
      %a{:href => "#"}
        %img.back{:src => "/assets/mycourse/back.png"}
    .undiscover
      %img.icon{:src => "/assets/web/cry.png"}
    .details
      %img.visit{:src => "/assets/mycourse/write.jpg"}
      %p.caption 
        机器人之动力机械
        %span#unpaid 未付款
      %p.article 教学内容：机器人设计及搭建+图形化编程+科学素养…
      .location-div
        %img.location{:src => "/assets/web/location.png"}
        %span.center 所有儿童中心
    .details
      %img.visit{:src => "/assets/mycourse/write.jpg"}
      %p.caption 
        机器人之动力机械
        %span 已付款
      %p.article 教学内容：机器人设计及搭建+图形化编程+科学素养…
      .location-div
        %img.location{:src => "/assets/web/location.png"}
        %span.center 什刹海街道西四北社区儿童中心
    .details
      %img.visit{:src => "/assets/mycourse/write.jpg"}
      %p.caption 
        机器人之动力机械
        %span 已结束
      %p.article 教学内容：机器人设计及搭建+图形化编程+科学素养…
      .location-div
        %img.location{:src => "/assets/web/location.png"}
        %span.center 西城区新街口街道社区儿童中心
    