- content_for :app_head do
  = javascript_include_tag "pages/welcome/noticedescription-bundle"
  = stylesheet_link_tag "pages/welcome/noticedescription-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      %p.caption 中国少年科学院优秀青少年赴美国航天营
      %p.date
        2016-6-25
        %span.haidian 海淀儿童中心
    %img.notice-1{:src => "/assets/noticedescription/notice001.jpg"}
    .active
      %img.logo{:src => "/assets/noticedescription/logo.png"}
      %p.activecaption 活动背景
    %p.content 为更好地贯彻落实李克强总理在2014年7月2日主持召开国务院常务会议时提出的“要合理安排学校寒、暑假等假期，组织好夏令营、冬令营、研学旅行”的讲话精神，促进我国优秀青少年和国际青少年的交流，激发广大青少年探索科学奥秘的兴趣，中国少年科学院、中国青少年发展服务中心决定，于2016年暑期继续赴美国举办航天主题交流活动
    %img.airplan{:src => "/assets/noticedescription/notice002.jpg"}
    .active
      %img.logo{:src => "/assets/noticedescription/logo.png"}
      %p.activecaption 活动价值
    %p.content 亨茨维尔太空营成立于1982年，是NASA美国太空与火箭中心的对外代表机构，由德裔火箭科学家 Von Braun 建议创立。太空营结合最前沿的科学观念，通过模拟任务训练以太空科学为主轴，辅以美国与国际上先进的教育资源，将太空科学的精神与追求卓越的价值观带给学生们。
    %img.show{:src => "/assets/noticedescription/notice003.jpg"}
    %p.content 除此之外，对于建立科学，数学与组织的观念也有很大启发。在2005年美国畅销书《爱因斯坦的孩子》“A Smile as Big as the Moon - A Special Education Teacher, His Classand Their Inspiring Journey Through U.S. Space Camp.”详细的介绍了太空营的卓越教育理念与丰富的实践活动。太空科学不仅仅是科学的产物，同时还包含了许多人类的梦想与希望，一个好的启发与一句话，一个观念，都会影响学生的一生。
    %a{:href => "#"}
      %img.back{:src => "/assets/noticedescription/back.png"}

      

