- content_for :app_head do
  = javascript_include_tag "pages/welcome/register-bundle"
  = stylesheet_link_tag "pages/welcome/register-bundle", :media => "all"

- content_for :app_content do
  .container
    %a{:href => "#"}
      %img.circlelogo{:src => "/assets/register/circlelogo.png"}
    .input-box
      %form.account 
        账号:
        %input.input-name{:type => "text"}
      %hr.under-line
    .input-box
      %form.account 
        密码:
        %input.input-name{:type => "password"}
      %hr.under-line
    / .input-box
    /   %form.account 
    /     昵称:
    /     %input.input-name{:type => "text"}
    /   %hr.under-line
    .input-box
      %form.account 
        手机号:
        %input.input-name{:type => "number"}
        %span.identifycode
          %a{:href => "#"} 验证码
      %hr.under-line
    .input-box
      %form.account 
        验证码:
        %input.input-name{:type => "text"}
      %hr.under-line
    .register
      %a{:href => "#"} 注册
 
   