- content_for :app_head do
  = javascript_include_tag "pages/welcome/signup-bundle"
  = stylesheet_link_tag "pages/welcome/signup-bundle", :media => "all"


.container
  %img.circlelogo{:src => "/assets/register/circlelogo.png"}
  .input-box
    %form.account 
      账号:
      %input.input-name{:type => "text"}
    %hr.under-line
  .input-box
    %form.account 
      密码:
      %input.input-name{:type => "text"}
    %hr.under-line
    %p.forgetpass
      %a{:href => "#"} 忘记密码
  %a.clickdown{:href => "#"} 
    %p.register 登陆
  %p.registaccount
    %a{:href => "#"} 注册账号