
- content_for :app_head do
  = javascript_include_tag "http://map.qq.com/api/js?v=2.exp"
  = javascript_include_tag "pages/welcome/test-bundle"
  = stylesheet_link_tag "pages/welcome/test-bundle", :media => "all"

- content_for :app_content do
  #container
