@import "jquery-ui";

.ui-datepicker {
  width: 19.1em;
  font-size: 1.2em;
}
.modal-body, input, label {
  margin: 0;
  padding: 0;
  max-height: 600px;
}
.direction {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -os-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
#new-client {
	width: 10.35%;
  color: #fff;
  outline: none;
}


#kidsaddModal {
  .modal-dialog {
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -203px;
    margin-top: -275px;
    width: 406px;
    height: 550px;
    border-radius: 6px; 
  }
}
.form-control {
  color: #6f6f7e;
}
.modal-backdrop {
  background-color: #999;
}
.close {
  position: absolute;
  right: -14px;
  top: -14px;
  opacity: 0.7;
  z-index: 10;
}
.close:hover {
  opacity: 1;
}
.modalheader {
  height: 48px;
  line-height: 48px;
  box-shadow: 0 -1px 6px #9c9c9c; 
}
.caption {
  font-size: 16px;
  margin-left: 20px;
}
.form-horizontal {
  width: 78%;
  margin: 0 auto;
  padding-top: 20px;
}
.form-group {
  margin-bottom: 20px;
}
#home-address, #mobile-input {
  margin-bottom: 0;
}
.notice {
  font-size: 12px;
  color: #6f6f7e;
  margin-left: 85px;
  height: 20px;
  line-height: 20px;
  visibility: hidden;
}
#mobilecode {
  width: 85px;
  height: 34px;
  line-height: 34px;
  border: 0;
  border-radius: 6px;
  font-size: 12px;
  outline: none;
}
.unclicked-box {
  border: 1px solid #c8c8c8;
}
.clicked-box {
  border: 1px solid #d70c19;
}
.clicked {
  background: #d4d4d4;
}
.unclicked {
  background: #fee4d2;
}
.add-button {
  text-align: center;
}
#kid-add {
  width: 80%;
  height: 40px;
  border: 0;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
  outline: none;
}
.button-disabled {
  background: #c8c8c8;
}
.button-enabled {
  background: #ffa265;
}