@import "jquery-ui";

input, label, span {
	margin: 0;
	padding: 0;
}
.modal-body {
	margin: 0;
	padding: 0;
	max-height: 600px;
}

.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
}

.content-box {
	position: relative;
	margin: 20px 20px auto 20px;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	padding-bottom: 20px;
}
.manage-box {
	height: 58px;
	border-bottom: 1px solid #c8c8c8;
	overflow: hidden;
}
.kids-message {
	float: left;
	font-size: 16px;
	color: #323232;
	line-height: 59px;
	margin-left: 20px;
}
.edit-btn {
	float: right;
	margin: 11.5px 20px 0 0;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.edit-btn:hover {
	background: #f7873d;
	color: white;
}
.kids-details {
	margin: 20px 20px auto 20px;
	border-radius: 6px;
	border: 1px solid #c8c8c8;
}
.controls-row {
	margin: 20px 0 20px 20px;
}
.input-area {
	width: 118px;
	height: 30px;
	padding: 0;
	margin: 0 70px 0 0 !important;
	// display: none !important;
}
.unedit-box {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #323232;
	width: 132px;
	height: 30px;
	line-height: 30px;
	margin: 0 70px 0 0;
	display: none;
}
#address-span {
	@extend .unedit-box;
	width: 252px;
}
#address-input {
	@extend .input-area;
	width: 238px;
}
.input-caption {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #323232;
	margin-right: 10px;
}

.course {
	display: inline-block;
	width: 100px;
	height: 34px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 1px solid #c8c8c8;
	border-bottom: 0;
	font-size: 16px;
	color: #323232;
	text-align: center;
	line-height: 34px;
	margin: 20px 0 0 20px;
}
.book {
	@extend .course;
	background: #c8c8c8;
	margin: 20px 0 0 0;
}
