@import "jquery-ui";

span, ul, li, label {
	margin: 0;
	padding: 0;
}

.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}
.manage-content {
	overflow: auto;
	position: absolute;
	top: 20px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	margin: 0 20px 20px 20px;
}
.edit-btn {
	float: right;
	margin: 11.5px 20px 0 0;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.edit-btn:hover {
	background: #f7873d;
	color: white;
}
.finish-btn {
	@extend .edit-btn;
	display: none;
}

.tabbable {
	padding: 20px;
}	

.nav-tabs {
	margin-bottom: 0;
	border: 0;
	li {
		font-size: 16px;
		color: #323232;
	}
}
.review-box {
	border: 1px solid #ddd;
	border-radius: 6px;
}
#tab1 {
	border: 1px solid #ddd;
	border-radius: 0 6px 6px 6px;
}
.form-inline {
	margin: 20px 20px;
}
.unedit-box {
	display: inline-block;
	font-size: 14px;
	color: #323232;
	width: 200px;
}
.edit-box {
	display: none;
	margin-right: 50px;
}
#address-span {
	@extend .unedit-box;
	width: 350px;
}
#address-input {
	width: 384px;
}


// tab2
.course-details {
	margin: 15px 0;
	margin-left: 20px;
}
.class-status {
	float: right;
	display: inline-block;
	margin-right: 20px;
}
.span-attr {
	font-size: 16px;
	color: #323232;
}
.span-input {
	font-size: 14px;
	color: #787878;
}
.span-right {
	float: right;
	margin-right: 20px;
}
#course-status {
	color: #d70c19;
}
.item {
	padding-top: 5px;
	font-size: 16px;
	color: #323232;
	padding-bottom: 15px;
	border-bottom: 1px solid #c8c8c8;
	.item-status {
		margin-left: 20px;
	}
	.square {
		display: inline-block;
		width: 18px;
		height: 18px;
		background: #cfcfcf;
		border-radius: 2px;
		margin-right: 5px;
		vertical-align: top;
	}
}
.comments {
	padding: 18px 20px;
	font-size: 16px;
	color: #323232;
	img {
		vertical-align: top;
	}
	.comments-content {
		margin-left: 50px;
		margin-top: 5px;
		line-height: 25px;
	}
}
// select-page
.select-page {
	text-align: right;
	margin: 10px 0 0 0;
	padding-bottom: 5px;
}
.totalitems {
	font-size: 12px;
	color: #969696;
	vertical-align: bottom;
	height: 36px;
	line-height: 36px;
}

.pagination {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 15px;
}