- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/book-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/book-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      .cloud
        %p 我的绘本
      %a{:href => "#"}
        %img.back{:src => "/assets/mybook/back.png"}
    .undiscover
      %img.icon{:src => "/assets/web/cry.png"}
    .details
      %img.visit{:src => "/assets/mybook/diary.png"}
      %p.caption 
        蚯蚓的日记 
        %span 8月14日归还
      %p.article 简介：这是一本极为有趣的图画书，以日记书写的方式…
      .location-div
        %img.location{:src => "/assets/web/location.png"}
        %span.center 所有儿童中心
    .details
      %img.visit{:src => "/assets/mybook/book.jpg"}
      %p.caption 
        蚯蚓的日记 
        %span 已逾期
      %p.article 简介：全套20册小学英文全套绘本各种可爱的小故事。
      .location-div
        %img.location{:src => "/assets/web/location.png"}
        %span.center 什刹海街道西四北社区儿童中心
    .details
      %img.visit{:src => "/assets/mybook/newhome.png"}
      %p.caption 
        蚯蚓的日记 
        %span#return 已还
      %p.article 简介：小袋袋的伙伴们是不是有一个比他更棒的家？小…
      .location-div
        %img.location{:src => "/assets/web/location.png"}
        %span.center 西城区新街口街道社区儿童中心
