- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/index-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/index-bundle", :media => "all"

- content_for :app_content do
  .content-area
    %img.headcloud{:src => "/assets/headcloud.png"}
    %a{:href => message_user_mobile_settings_path}
      %img.mail{:src => "/assets/mail.png"}
    %a{:href => account_user_mobile_settings_path}
      %img.set{:src => "/assets/setting.png"}
    %a{:href => user_mobile_feeds_path}
      %img.back{:src => "/assets/back.png"}
    .face
      %img{:src => "/assets/face.png"}
      %p.username 小狐狸

    .collect-div
      %a.collect{:href => collect_user_mobile_settings_path}
        .icon-div
          %img.icon{:src => "/assets/heart.png"}
        .span-div
          %span.content 我的收藏
        .icon-div
          %img.icon{:src => "/assets/rightarrow.png"}
    .collect-div
      %a.collect{:href => course_user_mobile_settings_path}
        .icon-div
          %img.icon{:src => "/assets/c-box.png"}
        .span-div
          %span.content 我的课程
        .icon-div
          %img.icon{:src => "/assets/rightarrow.png"}
    .collect-div
      %a.collect{:href => book_user_mobile_settings_path}
        .icon-div
          %img.icon{:src => "/assets/smile.png"}
        .span-div
          %span.content 我的绘本
        .icon-div
          %img.icon{:src => "/assets/rightarrow.png"}
    .collect-div
      %a.collect{:href => "#"}
        .icon-div
          %img.icon{:src => "/assets/sign.png"}
        .span-div
          %span.content 签&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp到
        .icon-div
          %img.icon{:src => "/assets/rightarrow.png"}
   