- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/message-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/message-bundle", :media => "all"


- content_for :app_content do
  .content-area
    .header
      %img.cloudblock{:src => "/assets/robotcourse/cloudblock.png"}
      %a{:href => "javascript:void(0);"}
        %img.back{:src => "/assets/robotcourse/back.png"}
    .caption 系统消息
    .line-wrapper
      .line-scroll-wrapper.clearfix
        .line-normal-wrapper
          .notice
            .notice-content 尊敬的客户,您好，欢迎您注册本公司的产品，如有任何疑问欢迎您致电本公司客服，电话：88888888.
            .notice-time 2016年9月5日
        .line-btn-delete
          %img.delete-icon{:src => "/assets/lajitong.png"}
    .line-wrapper
      .line-scroll-wrapper.clearfix
        .line-normal-wrapper
          .notice
            .notice-content 尊敬的客户,您好，欢迎您注册本公司的产品，如有任何疑问欢迎您致电本公司客服，电话：88888888.
            .notice-time 2016年9月5日
        .line-btn-delete
          %img.delete-icon{:src => "/assets/lajitong.png"}
    .line-wrapper
      .line-scroll-wrapper.clearfix
        .line-normal-wrapper
          .notice
            .notice-content 尊敬的客户,您好，欢迎您注册本公司的产品，如有任何疑问欢迎您致电本公司客服，电话：88888888.
            .notice-time 2016年9月5日
        .line-btn-delete
          %img.delete-icon{:src => "/assets/lajitong.png"}
    
