- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/message-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/message-bundle", :media => "all"


- content_for :app_content do
  .content-div
    .head-div.bg1
      %a.back-link#back{href: list_user_mobile_courses_path}
        %img.back{src: asset_path("wap/back.png")}
      %span.title.f16.font-color1.fb 我的消息 

    .item-div
      - if @messages.blank?
        .undiscover
          %img.undiscover-icon{src: asset_path("wap/empty.png")}
      - else
        - @messages.each do |m| 
          .item
            %p.message.f14-op87.font-color2= m.content
            .time-div.f12-op56.font-color2
              %span.create-time= m.created_at.strftime("%Y/%m/%d  %H:%M")
