- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/message-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/message-bundle", :media => "all"


- content_for :app_content do
  .content-area
    .header
      .cloud
        %p 系统消息
      %a{:href => user_mobile_settings_path}
        %img.back{:src => "/assets/robotcourse/back.png"}
    - if @messages.blank?
      .unfound
        %img.unfound-icon{:src => "/assets/web/cry.png"}
    - else
      - @messages.each do |m|
        .line-wrapper
          .line-scroll-wrapper.clearfix
            .line-normal-wrapper
              .notice
                .notice-content= m.content
                .notice-time= m.created_at.strftime("%Y年%m月%d日")
            .line-btn-delete
              %img.delete-icon{:src => "/assets/lajitong.png"}
