- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/reset_password-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/reset_password-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      .cloud
        %p 修改密码
      %a{:href => account_user_mobile_settings_path}
        %img.back{src: asset_path("mybook/back.png")}

    .item-div
      .item-box
        %span.item 原密码:
        %input.input-div#password{:type => "password"}
      .item-box
        %span.item 设置密码:
        %input.input-div#new_password{:type => "password"}
      .item-box
        %span.item 重新输入:
        %input.input-div#password_confirm{:type => "password"}
    .btn-div
      %button.btn#end 完成




 
   