- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/sign-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/sign-bundle", :media => "all"

- content_for :app_content do
  .content-div.tc.font-color2
    - if @success == true
      %img.icon{src: asset_path("wap/success.png")}
      %p.f16-op87.mb24 签到成功!
      .desc-div.mb16
        %span.f14-op54 课程:
        %span.f14-op54= @course.name || @course.course.name
      %p.f14-op54.mb60= "第" + (@class_num.to_i + 1).to_s + "次课签到成功"
      %a.btn.btn-style.f16.bg1.font-color1#back{href: list_user_mobile_courses_path} 回到首页
    - else
      %img.icon{src: asset_path("wap/fail.png")}
      %p.f16-op87.mb24 签到失败!
      - if @err = "course_inst_not_exist"
        %p.f14-op54.mb60 这不是课程二维码!
      - else
        %p.f14-op54.mb60 您尚未报名该课程!
      %a.btn.btn-style.f16.bg1.font-color1#back{href: list_user_mobile_courses_path} 回到首页


