<div class="content" data-id={{ele_id}}>
  <div class="left-div">
    <img class="visit" src={{ele_photo}}>
  </div>
  <div class="right-div">
   
    <span class="caption">{{ele_name}}</span>
    <span class= {{ele_status}}></span>
    <div class="location-div">
      <span class="age">适合年龄:</span>
      <span class="age">{{ele_age}}</span>
      <span class="age price">价格:</span>
      <span class="age">{{ele_price}}</span>
    </div>
    <div class="location-div">
      <img class="time" src="<%= asset_path('web/time.png') %>">
      <span class="date">{{ele_date}}</span>
    </div>
    <!-- <p class="message">{{ele_content}}</p> -->
    <div class="location-div margin-b">
      <img class="location" src="<%= asset_path('web/location.png') %>">
      <span class="center">{{ele_center}}</span>
    </div>
  </div>
</div>