

.direction {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -os-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
#add-center {
  width: 10.35%;
  color: #fff;
  outline: none;
}




