html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3, span, input {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}

.content-area{
	position: relative;
	width:100%;
	max-width:640px;
	min-height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	margin:0 auto;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
    padding-bottom: 15%; 
}
.header {
	position:relative;
	width:100%;
	text-align:center;
	padding-top:3.13%;
	padding-bottom:4.7%;
	.back {
		position:absolute;
		top:15.9%;
		left:2.345%;
		width:9.375%;
		max-width:60px;
	}
	.cloud {
		width:40.46875%;
		max-width:259px;
		padding:4.8% 0;
		margin:0 auto;
		background: image-url('mybook/cloud.png') no-repeat;
		background-size:100%;
		text-align:center;
		p {
			font-size: 3.6em;
			color:#3e3e3e;
		}
	}
}
.item-div {
	width: 95.3125%;
	margin: 0 auto;
	font-size: 3em;
	color: #3e3e3e;
	background: #fff;
	border-radius: 8px;
	margin-bottom: 6.25%;
}
#figure {
	padding: 8.3% 4% 8.3% 5%; 
	display: -webkit-flex;
	display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	align-items: center;
	display: flex;
	p {
		width: 70%;
	}
	a {
		width: 5.33333em;
		height: 5.33333em;
		max-width: 160px;
		border-radius: 50%;
	}
}
.item {
	padding: 4% 5%;
	border-bottom: 1px solid #eee;
}
.left {
	float: left;
}.right {
	float: right;
}
.avatar-icon {
	width: 5.33333em;
	height: 5.33333em;
	max-width: 160px;
	border-radius: 50%;
	object-fit: cover;
}
.item-box {
	padding-left: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: space-between;
	p {
		width: 70%;
	}
	a {
		width: 18.22%;
	}
}
.more-icon {
	width: 100%;
	max-width: 100px;
}
#exit {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	max-width: 640px;
	background: #d70c19;
	font-size: 3.6em;
	color: #fff;
	padding: 3%;
	border-radius: 0;
}

#confirmModal {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	.modal-body {
		padding: 0;
	}
	.modal-dialog {
		width: 84.375%;
		margin: 0 auto;
		background: #fff;
		text-align: center;
		margin-top: 40%;
		border-radius: 8px;
	}
}
.modal-backdrop {
	background-color: #999;
}
.exit-div {
	width: 84.375%;
	margin: 0 auto;
	background: #fff;
	text-align: center;
	margin-top: 40%;
	border-radius: 8px;
}
.account {
	font-size: 3.4em;
	color: #333;
	padding: 7% 0 3% 0;
}
.question {
	font-size: 2.6em;
	color: #666;
	margin-bottom: 3.5%;
}
.confirm-div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	border-top: 1px solid #aaa;
	a {
		display: inline-block;
		width: 50%;
		font-size: 3.2em;
		color: #666;
		padding: 4% 0;
		text-decoration: none;
	}
	.line {
		border-right: 1px solid #aaa;
	}
	.clicked {
		color: #227dda;
	}
}

@media screen and (max-width:640px) {
	.content-area, #confirmModal {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .content-area, #confirmModal {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .content-area, #confirmModal {
        font-size: 75%;
    }
}
@media screen and (max-width: 450px) {
    .content-area, #confirmModal {
        font-size: 70%;
    }
}
@media screen and (max-width: 400px) {
    .content-area, #confirmModal {
        font-size: 60%;
    }
}
@media screen and (max-width: 320px) {
    .content-area, #confirmModal {
        font-size: 55%;
    }
}