html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3, span, input {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}

.content-area{
	width:100%;
	max-width:640px;
	min-height: 100%;
	overflow: auto;
	margin:0 auto;
	padding-bottom: 13.5%;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
}
.undiscover {
	margin-top: 43%;
	text-align: center;
	.icon {
		width: 45.3125%;
		max-width: 290px;
	}
}
.header {
	position:relative;
	width:100%;
	text-align:center;
	padding-top:3.13%;
	padding-bottom:4.7%;
	.back {
		position:absolute;
		top:15.9%;
		left:2.345%;
		width:9.375%;
		max-width:60px;
	}
	.cloud {
		width:40.46875%;
		max-width:259px;
		padding:4.8% 0;
		margin:0 auto;
		background: image-url('mybook/cloud.png') no-repeat;
		background-size:100%;
		text-align:center;
		p {
			font-size: 3.6em;
			color:#3e3e3e;
		}
	}
}

.box-radius {
	width:95.3125%;
	max-width:610px;
	margin:0 auto;
	background:white;
	border-radius:10px;
}
.details {
	@extend .box-radius;
	overflow:hidden;
	margin-bottom: 3.91%;
	display: flex;
	justify-content: space-between;
	padding: 3% 2.5%;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	.visit {
		float:left;
		width:100%;
		max-width:190px;
		display:block;
	}
	.caption {
		font-size:2.8em;
		color:#3e3e3e;
		span {
			float:right;
			font-size:0.85714em;
			color: #d70c19;
			vertical-align: top;
			margin-right:2.46%;
		}
		#return {
			color: #999;
		}
	}
	.article {
		font-size:2.4em;
		color:#7a7a7a;
		padding-bottom: 2%;
		padding-top:1.65%;
	}
	.center {
		display: inline-block;
		font-size: 2em;
		color: #aaa;
		margin-left: 1.35%;
		vertical-align: middle;
	}
	.location {
		width: 4.8%;
		max-width: 18px;
	}
}
.left-div {
	width: 33%;
	padding-top: 1.5%;
}
.right-div {
	width: 65%;
}
.btn {
	position: fixed;
	width: 100%;
	bottom: 0;
	font-size: 3.6em;
	padding: 3.18%;
	width: 100%;
	max-width: 640px;
	border-radius: 0;
	border: 0;
	outline: none;
}
#deposit {
	color: #fff;
	background: #999;
}
#redeposit {
	color: #fff;
	background: #d70c19;
}
#deposit-pay {
	color: #fff;
	background: #d70c19;
}

@media screen and (max-width:640px) {
	.content-area {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .content-area {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .content-area {
        font-size: 75%;
    }
}
@media screen and (max-width: 450px) {
    .content-area {
        font-size: 70%;
    }
}
@media screen and (max-width: 400px) {
    .content-area {
        font-size: 60%;
    }
}
@media screen and (max-width: 320px) {
    .content-area {
        font-size: 55%;
    }
}