html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}

.content-area {
	position:relative;
	width:100%;
	max-width:640px;
	height: 100%;
	overflow: auto;
	margin:0 auto;
	padding-bottom: 2%;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
}
.headcloud {
		width:100%;
		max-width:640px;
}
.set {
	position:absolute;
	right:3.13%;
	top:2.1%;
	width:9.375%;
	max-width:60px;
}
.mail {
	position:absolute;
	top:2.1%;
	right:18.29%;
	width:9.375%;
	max-width:60px;
}
.notice-num {
	width: 3.75%;
	background: url("/assets/web/circle-min.png") no-repeat;
	background-size: 100%;
	position: absolute;
	top: 2%;
	right: 18%;
	font-size: 1.8em;
	color: #fff;
	text-align: center;
}
.back {
	position:absolute;
	top:2.1%;
	width:9.375%;
	max-width:60px;
	left:7.2%;
}
.face {
	margin-left: 17.5%;
	margin-bottom: 4.5%;
	.username {
		font-size:3.8em;
		color:#3e3e3e;
		letter-spacing: 0.3em;
		margin-left: 5.7%;
		display: inline;
		height: 4.421em;
		line-height: 4.421em;
	}
}
.avator {
	width: 16em;
	height: 16em;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid #fff;
	float: left;
}
.avator-icon {
	width: 16em;
	height: 16em;
	max-width: 160px;
	border-radius: 50%;
}
.collect-div {
	width: 84.0625%;
	margin: 0 auto;
	background: url("/assets/personcloud.png") no-repeat;
	background-size: 100%;
}
.collect {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 7.5% 0;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: space-around;
}
.icon-div {
	width: 11.15%;
}
.collect:hover {
	text-decoration: none;
}
.icon {
	width: 100%;
	max-width:60px;
}
.content {
	font-size: 3.6em;
	color: #666;
}


@media screen and (max-width:640px) {
	.content-area {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .content-area {
        font-size: 85%;
    }
}
@media screen and (max-width: 500px) {
    .content-area {
        font-size: 60%;
    }
}
@media screen and (max-width: 400px) {
    .content-area {
        font-size: 55%;
    }
}
