html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}


.content-area {
	width:100%;
	max-width:640px;
	height: 100%;
	overflow: auto;
	margin:0 auto;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
}

.header {
	position:relative;
	width:100%;
	text-align:center;
	padding-top:3.13%;
	padding-bottom:4.7%;
	.back {
		position:absolute;
		top:15.9%;
		left:2.345%;
		width:9.375%;
		max-width:60px;
	}
	.cloud {
		width:40.46875%;
		max-width:259px;
		padding:4.8% 0;
		margin:0 auto;
		background:url('/assets/mybook/cloud.png') no-repeat;
		background-size:100%;
		text-align:center;
		p {
			font-size: 3.6em;
			color:#3e3e3e;
		}
	}
}
.caption {
	font-size: 3.6em;
	color: #3e3e3e;
	text-align: center;
	margin-bottom: 3%;
}
.unfound {
	margin-top: 43%;
	text-align: center;
	.unfound-icon {
		width: 45.3125%;
		max-width: 290px;
	}
} 
.notice {
	width:87.5%;
	max-width:560px;
	margin:0 auto;
	border-radius:10px;
	background: #fff;
	padding: 3% 3% 0 3%;
	overflow: hidden;
}
.notice-content {
	border-bottom: 1px dashed #7d7d7d;
	padding-bottom: 3%;
	font-size: 2.6em;
	color: #7d7d7d;
	text-indent: 2em;
}
.notice-time {
	font-size: 2.2em;
	color: #999;
	padding: 2% 0;
	float: right;
}
.line-wrapper { 
	width: 100%; 
	overflow: hidden; 
	margin-bottom: 3.91%;
}
.line-scroll-wrapper {
	width: 118.75%;
}
.line-normal-wrapper { 
	float: left; 
	width: 100%;
	max-width: 640px;
}
.line-btn-delete { 
	float: left; 
	width: 15.78%;
	max-width: 120px;
	padding: 9.54% 0;
}
.delete-icon {
	display: block;
	width: 50%;
	max-width: 60px;
	vertical-align: middle;
	margin-left: 8.4%;
}



@media screen and (max-width:640px) {
	.content-area {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .content-area {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .content-area {
        font-size: 70%;
    }
}
@media screen and (max-width: 450px) {
    .content-area {
        font-size: 67%;
    }
}
@media screen and (max-width: 400px) {
    .content-area {
        font-size: 60%;
    }
}
@media screen and (max-width: 360px) {
    .content-area {
        font-size: 55%;
    }
}
@media screen and (max-width: 320px) {
    .content-area {
        font-size: 52%;
    }
}
