.content-div {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: auto;
}
.head-div {
  width: 100%;
  height: 1.12rem;
  padding: 0.08rem 0;
}
.back-link {
  display: inline-block;
}
.back {
  width: 0.96rem;
}
.confirm {
  width: 0.96rem;
  float: right;
}
.title {
  vertical-align: middle;
  opacity: 0.87;
}
.avatar-icon {
  width: 100%;
}
#upload-photo {
  display: inline-block;
}
.item-box {
  padding: 0 0.32rem;
  height: 0.96rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
  display: inline-block;
  width: 1.28rem;
}
.input-div, #address {
  width: 5.28rem;
  height: 0.96rem;
  vertical-align: middle;
  border-bottom: 1px solid #eaeaea;
}



