html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3, span, input {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}

.content-area{
	position: relative;
	width:100%;
	max-width:640px;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	margin:0 auto;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
}
.desc-div {
	width: 95.3125%;
	margin: 3.125% auto;
	background: #fff;
	padding: 12.5% 0 9.375% 0;
	border-radius: 8px;
	font-size: 2.4em;
	color: #666;
}
.success-div {
	text-align: center;
}
.icon {
	width: 10.7%;
	max-width: 48px;
}
.item {
	margin-bottom: 3.3%;
}
.success {
	display: inline-block;
	font-size: 1.333em;
	color: #323232;
	margin-left: 3.25%;
	vertical-align: middle;
}
.btn-div {
	width: 84.375%;
	margin: 0 auto;
}
#desc {
	width: 100%;
	font-size: 3.2em;
	color: #fff;
	padding: 3.8% 0;
	background: #c70d19;
}






@media screen and (max-width:640px) {
	.content-area {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .content-area {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .content-area {
        font-size: 75%;
    }
}
@media screen and (max-width: 450px) {
    .content-area {
        font-size: 70%;
    }
}
@media screen and (max-width: 400px) {
    .content-area {
        font-size: 60%;
    }
}
@media screen and (max-width: 320px) {
    .content-area {
        font-size: 55%;
    }
}