- content_for :head do
  = javascript_include_tag "pages/admin/statistics/index-bundle"
  = stylesheet_link_tag "pages/admin/statistics/index-bundle", :media => "all"


.content-area
  .manage-content
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a#kids-message{"data-toggle" => "tab", :href => "#tab1"} 儿童统计
        %li
          %a#course-review{"data-toggle" => "tab", :href => "#tab2"} 课程统计
        %li
          %a#book-review{"data-toggle" => "tab", :href => "#tab3"} 绘本统计

      .tab-content
        #tab1.tab-pane.active
          .pie-box
            .gender-pie
              %p.pie-title 性别比例
              .figure-box
                #gender-statistics
            .age-pie
              %p.pie-title 年龄比例
              .figure-box
                #age-statistics
          .kids-nums
            %p.column-title 儿童数量
            .figure-box
              #nums-statistics
        #tab2.tab-pane
          .desc
            .search
              %form.form-inline
                .form-group.form-time
                  %span.input-caption　查询时段:
                  %input.input-area.form-control#datepicker-1{:type => "text"}
                  %span.input-caption 至
                  %input.input-area.form-control#datepicker-2{:type => "text"}
                  .btn.search-btn{:type => "button"} 查询
                  = select_tag "course-quick-choice", options_for_select(Statistic.duration_for_select, 1.months.to_i), class: "form-control quick-choice"
                  / %select.form-control#quick-choice
                  /   %option 快捷选择
                  /   %option 最近一个月
                  /   %option 最近三个月
                  /   %option 最近半年
                  /   %option 最近一年
            .statistics-chart
              .borrow
                .left-div
                  %p.column-title 报名情况
                  .tab-chart-div
                    .total-div
                      %p.total-nums 91234
                      %p.total-category 人次
                    .chart-div
                      #register-statistics
                .right-div
                  %p.column-title.review-title 评价排名
                  %table.table.table-bordered#review-table
                    %tbody
                    - 5.times do
                      %tr
                        %td.td-data 1
                        %td.td-data 少儿计算机技术
                        %td.td-data 4.6

              .collection
                .left-div
                  %p.column-title 课程收入
                  .tab-chart-div
                    .income-div
                      %p.total-nums 91234
                      %p.total-category 元
                    .chart-pie-div
                      #bonu-statistics
                    .chart-column-div
                      #income-statistics
                .right-div
                  %p.column-title.review-title 报名排名
                  %table.table.table-bordered#review-table
                    %tbody
                    - 5.times do
                      %tr
                        %td.td-data 1
                        %td.td-data 少儿计算机技术
                        %td.td-data 30
              .center
                .left-div
                  %p.column-title 各中心收入情况
                  #center-income-statistics
                .right-div

        #tab3.tab-pane
          .desc
            .search
              %form.form-inline
                .form-group.form-time
                  %span.input-caption　查询时段:
                  %input.input-area.form-control#datepicker-3{:type => "text"}
                  %span.input-caption 至
                  %input.input-area.form-control#datepicker-4{:type => "text"}
                  .btn.search-btn{:type => "button"} 查询
                  = select_tag "book-quick-choice", options_for_select(Statistic.duration_for_select, 1.months.to_i), class: "form-control quick-choice"
                  / %select.form-control#quick-choice
                  /   %option 最近一个月
                  /   %option 最近三个月
                  /   %option 最近半年
                  /   %option 最近一年
            .statistics-chart
              .borrow
                .left-div
                  %p.column-title 借阅情况
                  .tab-chart-div
                    .total-div
                      %p.total-nums 91234
                      %p.total-category 人次
                    .chart-div
                      #borrow-statistics
                .right-div
                  %p.column-title.review-title 评价排名
                  %table.table.table-bordered#review-table
                    %tbody
                    - 5.times do
                      %tr
                        %td.td-data 1
                        %td.td-data 你今天真好看
                        %td.td-data 4.6
              .collection
                .left-div
                  %p.column-title 馆藏情况
                  #collect-statistics
                .right-div
                  %p.column-title.review-title 借阅排名
                  %table.table.table-bordered#review-table
                    %tbody
                    - 5.times do
                      %tr
                        %td.td-data 1
                        %td.td-data 你今天真好看
                        %td.td-data 30
              .click-show-div
                .append-borrow-div
                  .left-div.append-left
                    %form.form-inline
                      .form-group.center-choice
                        %span.center-title 海淀区儿童中心绘本详情
                        %select.form-control#center-select
                          - 5.times do
                            %option 海淀区儿童中心
                    .tab-chart-div
                      .total-div
                        %p.total-nums 912
                        %p.total-category 人次
                      .chart-div
                        #center-borrow-statistics
                .append-collect-div
                  .left-div.append-left
                    #center-collect-statistics
              .center
                .left-div
                  %p.column-title 各中心借阅情况
                  #center-statistics
                .right-div
              


