- content_for :head do
  = javascript_include_tag "pages/admin/announcements/index-bundle"
  = stylesheet_link_tag "pages/admin/announcements/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"

