- content_for :head do
  = javascript_include_tag "pages/staff/announcements/new-bundle"
  = stylesheet_link_tag "pages/staff/announcements/new-bundle", :media => "all"

.content-area
  .main-top.direction
    %a{href: staff_announcements_path}
      %img.back{src: asset_path("back.png")}
    %ul.set
      %li
        %a.f16{href: staff_accounts_path} 账号设置
      %li
        %a.f16.set-left-border{href: signout_sessions_path} 退出登录
        / %a.f16.set-left-border= link_to "退出登录",  signin_page_sessions_path, class: "类名", method: :delete
  .main-content.bg2
    %label.checkbox-inline.open.f14.font-color3#available
      %input#unshelve{:type => "checkbox"} 暂不发布
    %button.btn.finish-normal.font-color1.finish-btn-position#finish-btn{type: "button"} 完成
    .table-div
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a.f16.font-color1{"data-toggle" => "tab", :href => "#tab1"} 所有公告
        .tab-content.bg3
          #tab1.tab-pane.active
            .desc-div.font-color3.f14
              .form-group
                %label.input-name.fn 公告标题:
                %input.form-control#input-caption{:type => "text"}
              .phont-inline
                %span 封面配图:
                = form_tag("/", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
                  = file_field_tag "photo_file", { class: "hide", accept: ".jpg,.png" }
                %a#upload-photo.photo-div{href: "javascript:void(0);"}
                  %img.photo{src: asset_path("photo-course.png")}
              .notice-introduce.clearfix
                %span.introduce 公告正文:
                .wangedit-area
                  #edit-box




/ .content-area
/   /announcements-new
/   .content-box
/     .manage-box.clearfix
/       %a#back{:href => "/staff/announcements"}
/         %img{src: asset_path("web/back.png")}
/       %p.notice-add 添加本区公告
/       .btn.end-btn{:type => "button"}
/         %img.end{src: asset_path("managecenter/ticker.png")}
/         完成
/       %label.checkbox-inline.open#available
/         %input#publish-cb{:type => "checkbox"} 暂不发布
/     .manage-content
/       .form-group
/         %label.input-name 公告标题:
/         %input.form-control#input-caption{:type => "text"}
/       .phont-inline
/         %span 封面配图:
/         = form_tag("/", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
/           = file_field_tag "photo_file", { class: "hide", accept: ".jpg,.png" }
/         %a#upload-photo{href: "javascript:void(0);"}
/           %img.photo{src: asset_path("web/add-photo.png")}
/       .notice-introduce.clearfix
/         %span.introduce 公告正文:
/         .wangedit-area
/           #edit-box
      