- content_for :head do
  = javascript_include_tag "pages/staff/announcements/new-bundle"
  = stylesheet_link_tag "pages/staff/announcements/new-bundle", :media => "all"

.content-area
  /announcements-new
  .content-box
    .manage-box.clearfix
      %a#back{:href => "/staff/announcements"}
        %img{:src => "/assets/web/back.png"}
      %p.notice-add 添加本区公告
      .btn.end-btn{:type => "button"}
        %img.end{:src => "/assets/managecenter/ticker.png"}
        完成
      %label.checkbox-inline.open#available
        %input#publish-cb{:type => "checkbox"} 暂不发布
    .manage-content
      %form.form-inline
        %label.input-name 公告标题:
        %input.form-control#input-caption{:type => "text"}
      .phont-inline
        %span 封面配图:
        = form_tag("/", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
          = file_field_tag "photo_file", { class: "hide", accept: ".jpg,.png" }
        %a#upload-photo{href: "javascript:void(0);"}
          %img.photo{:src => "/assets/web/add-photo.png"}
      .notice-introduce.clearfix
        %span.introduce 公告正文:
        .wangedit-area
          #edit-box



      
      