- content_for :head do
  = javascript_include_tag "pages/staff/announcements/show-bundle"
  = stylesheet_link_tag "pages/staff/announcements/show-bundle", :media => "all"



.content-area
  /announcements-show
  .content-box
    .btn.edit-btn{:type => "button"} 
      %img.edit-img{:src => "/assets/managecenter/edit.png"}
      编辑
    .btn.unshelve-btn{:type => "button"} 
      %img.unshelve{:src => "/assets/managecenter/unshelve.png"}
      下架

    / 点击edit-btn后动作
    .btn.end-btn{:type => "button"} 
      %img.end-img{:src => "/assets/managecenter/ticker.png"}
      完成
    .btn.declare-btn{:type => "button", :href => "#declareModal", "data-toggle" => "modal"} 
      %img.declare-img{:src => "/assets/managecenter/shelve.png"}
      公布
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} 本区公告

    .display-box
      .display-area
        %p.caption-header
          %span.show-caption 中国少年科学院优秀青少年赴美国航天营
          %a.declared{:href => "javascript:void(0);"} 公布
        .display-content
          %img.display-img{:src => "/assets/noticedescription/notice002.jpg"}
          %p.desc 为更好地贯彻落实李克强总理在2014年7月2日主持召开国务院常务会议时提出的“要合理安排学校寒、暑假等假期，组织好夏令营、冬令营、研学旅行”的讲话精神，促进我国优秀青少年和国际青少年的交流，激发广大青少年探索科学奥秘的兴趣，中国少年科学院、中国青少年发展服务中心决定，于2016年暑期继续赴美国举办航天主题交流活动为更好地贯彻落实李克强总理在2014年7月2日主持召开国务院常务会议时提出的“要合理安排学校寒、暑假等假期，组织好夏令营、冬令营、研学旅行”的讲话精神，促进我国优秀青少年和国际青少年的交流，激发广大青少年探索科学奥秘的兴趣，中国少年科学院、中国青少年发展服务中心决定，于2016年暑期继续赴美国举办航天主题交流活动

          %img.display-img{:src => "/assets/noticedescription/notice002.jpg"}
          %p.desc 为更好地贯彻落实李克强总理在2014年7月2日主持召开国务院常务会议时提出的“要合理安排学校寒、暑假等假期，组织好夏令营、冬令营、研学旅行”的讲话精神，促进我国优秀青少年和国际青少年的交流，激发广大青少年探索科学奥秘的兴趣，中国少年科学院、中国青少年发展服务中心决定，于2016年暑期继续赴美国举办航天主题交流活动为更好地贯彻落实李克强总理在2014年7月2日主持召开国务院常务会议时提出的“要合理安排学校寒、暑假等假期，组织好夏令营、冬令营、研学旅行”的讲话精神，促进我国优秀青少年和国际青少年的交流，激发广大青少年探索科学奥秘的兴趣，中国少年科学院、中国青少年发展服务中心决定，于2016年暑期继续赴美国举办航天主题交流活动

    / 点击edit-btn后display-box隐藏，edit-area显示
    .edit-area
      .caption-div
        %form.form-inline
          %input#input-caption{:placeholder => "请输入标题", :type => "text"}

      .wangedit-area
        #edit-box
          %p 请输入内容...


#declareModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modalheader
    %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
  .modal-body
    %p 是否确认发布本条消息
  .modal-footer
    %a.btn.yes{:href => "javascript:void(0);"} 是
    %a.btn.btn-primary.no{:href => "javascript:void(0);"} 否