html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.main-div {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	height: 100%;
	background: #fff;
	padding: 17% 5.22% 0 5.22%;
}
.desc-div {
	position: relative;
	background: linear-gradient(
    135deg, 
    #fff 45%, 
    #ffaaaa 45%, #ffaaaa 50%, 
    #fff 50%, #fff 95%, 
    #ffaaaa 95%, #ffaaaa);
    background-size: 10px 10px;
    border: 1px solid #ffaaaa;
    border-radius: 8px;
    margin-bottom: 14.72%;
}
.desc {
	background: #fff;
	border: 1px solid #ffaaaa;
	margin: 10.9375% 1.56% 1.56% 1.56%;
	padding: 3.6% 1.8%;
}
.line {
	display: inline-block;
	border-left: 8px solid #ffb2b2;
	height: 3.2em;
	vertical-align: top;
}
.caption {
	font-size: 28px;
	color: #3e3e3e;
}
.lost-items {
	font-size: 2.8em;
	color: #333;
	margin-bottom: 2.5%;
	border-bottom: 1px dashed #eee;
	padding: 1.45% 3.88%;
}
.nums {
	float: right;
	color: #f95d67;
}
.icon {
	position: absolute;
	top: -17.5%;
	left: 39.285%;
	width: 18.75%;
	max-width: 120px;
}
.btn {
	width: 100%;
	font-size: 3.2em;
	color: #fff;
	padding: 3.66% 0;
	margin-bottom: 6.25%;
	border-radius: 8px;
}
#clicked {
	background: #227dda;
}
#clicked:hover {
	color: #fff;
}
#unclicked {
	background: #f0f0f0;
	color: #666;
	border: 1px solid #aaa;
}
#unclicked:hover {
	color: #666;
}


@media screen and (max-width:640px) {
	.main-div {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .main-div {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .main-div {
        font-size: 60%;
    }
}
@media screen and (max-width: 400px) {
    .main-div {
        font-size: 50%;
    }
}