html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3, .row {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.main-div {
	position: relative;
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	height: 100%;
	background: #fff;
}
.header {
	background: #f6f6f6;
	border-bottom: 1px solid #aaa;
}
.logo {
	width: 7.5%;
	max-width: 48px;
	float: left;
	margin: 3.15% 1.55% 0 3.15%;
}
.title {
	display: inline-block;
	font-size: 2.8em;
	color: #333;
	margin: 4.5% 0 3% 0;
}
.logout {
	float: right;
	margin-right: 3%;
	width: 13.75%;
	max-width: 88px;
}
.content {
	background: #fff;
	padding: 6.25%;
}
.book {
	width: 100%;
	margin: 0 auto;
}
.borrow-div {
	background: image-url("manager/transport1.jpg") no-repeat;
	background-size: 100%;
	margin-bottom: 7.15%;
}
.return-div {
	background: image-url("manager/transport2.jpg") no-repeat;
	background-size: 100%;
	margin-bottom: 7.15%;
}
.record-div {
	background: image-url("manager/transport3.jpg") no-repeat;
	background-size: 100%;
}
.word {
	text-align: center;
	font-size: 4em;
	color: #fff;
	padding: 14.6% 0;
}
.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1% 0;
	border-top: 1px solid #aaa;
}
.icon-div {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-around;
	text-align: center;
}
.icon {
	width: 20%;
	max-width: 64px;
}
.clicked-word {
	font-size: 2em;
	color: #227dda;
}
.unclicked-word {
	font-size: 2em;
	color: #999;
}

#confirmModal {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	.modal-body {
		padding: 0;
	}
	.modal-dialog {
		width: 84.375%;
		margin: 0 auto;
		background: #fff;
		text-align: center;
		margin-top: 40%;
		border-radius: 8px;
	}
}
.modal-backdrop {
	background-color: #999;
}
.close {
	position: absolute;
	right: -14px;
	top: -14px;
	opacity: 0.7;
	z-index: 10;
}
.close:hover {
	opacity: 1;
}
.exit-div {
	width: 84.375%;
	margin: 0 auto;
	background: #fff;
	text-align: center;
	margin-top: 40%;
	border-radius: 8px;
}
.account {
	font-size: 3.4em;
	color: #333;
	padding: 8.93% 0;
}
.question {
	font-size: 2.6em;
	color: #666;
	margin-bottom: 3.5%;
}
.confirm-div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	border-top: 1px solid #aaa;
	a {
		display: inline-block;
		width: 50%;
		font-size: 3.2em;
		color: #666;
		padding: 4% 0;
		text-decoration: none;
	}
	.line {
		border-right: 1px solid #aaa;
	}
	.clicked {
		color: #227dda;
	}
}


@media screen and (max-width:640px) {
	.main-div, #confirmModal {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .main-div, #confirmModal {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .main-div, #confirmModal {
        font-size: 60%;
    }
}
@media screen and (max-width: 400px) {
    .main-div, #confirmModal {
        font-size: 50%;
    }
}
