html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.main-div {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	background: #f0f0f0;
	height: 100%;
}
.header {
	background: #fff;
	height: 8.6%;
}
.nav {
	li {
		width: 50%;
		float: left;
		text-align: center;
		padding: 3.1% 0;
		a {
			font-size: 2.8em;
			color: #333;
			padding: 2.02% 0 0.5% 0;
			&:hover {
				background: #fff;
				color: #227dda;
			}
		}
		.vertical-line {
			border-right: 1px solid #aaa;
		}
		&:hover {
			border-bottom: 4px solid #227dda;
		}
	}
	.active {
		a {
			color: #227dda;
		}
		border-bottom: 4px solid #227dda;
	}
}
.content {
	padding: 6.25%;
	padding-bottom: 0;
	border-top: 1px solid #aaa;
}
.item-div {
	border: 1px solid #aaa;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	overflow: hidden;
	background: #fff;
	margin-bottom: 3.58%;
}
.blue-line {
	width: 2.22%;
	background: #227dda;
}
.desc-div {
	width: 97.68%;
	padding-left: 3.68%;
	padding-right: 1.34%;
}
.caption-div {
	border-bottom: 1px dashed #aaa;
	padding: 2.88% 0;
	font-size: 2.4em;
	color: #999;
}
.icon {
	width: 6%;
	max-width: 28px;
}
.time {
	margin-left: 6%;
}
.status {
	float: right;
	margin-right: 3.68%;
	color: #10c078;
}
.address-div {
	font-size: 2.6em;
	color: #333;
	padding: 5.86% 0;
}
.arrow {
	width: 12%;
	max-width: 60px;
}
#normal-end {
	@extend .status;
	color: #999;
}
#prepare {
	@extend .status;
	color: #f7873d;
}
#wrong-end {
	@extend .status;
	color: #f95d67;
}
.transfer-none {
	font-size: 2.4em;
	color: #999;
	margin-top: 30%;
	text-align: center;
}


@media screen and (max-width:640px) {
	.main-div {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .main-div {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .main-div {
        font-size: 60%;
    }
}
@media screen and (max-width: 400px) {
    .main-div {
        font-size: 50%;
    }
}
