html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.main-div {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	height: 100%;
	background: #f0f0f0;
}
.content {
	position: relative;
	width: 68.75%;
	margin: 0 auto;
	text-align: center;
}
.center {
	font-size: 3.2em;
	color: #333;
	padding-top: 27.27%; 
}
.notice {
	font-size: 2.8em;
	color: #666;
	padding-top: 7.27%;
	padding-bottom: 18.19%;
}
#center-choice {
	height: 2.4em;
	font-size: 3em;
	border-radius: 8px;
}
.next-btn {
	width: 100%;
	font-size: 3.2em;
	color: #fff;
	padding: 4.66% 0;
	background: #227dda;
	margin-top: 13.63%;
	border-radius: 8px;
}
.next-btn:hover {
	color: #fff;
}


@media screen and (max-width:640px) {
	.main-div {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .main-div {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .main-div {
        font-size: 60%;
    }
}
@media screen and (max-width: 400px) {
    .main-div {
        font-size: 50%;
    }
}