html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.main-div {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	min-height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	background: #f0f0f0;
	padding-top: 5.21%;
	padding-bottom: 13%;
}
.box {
	width: 87.5%;
	margin: 0 auto;
}
.content-div {
	border: 1px solid #aaa;
	border-radius: 8px;
	overflow: hidden;
	background: #fff;
	margin-bottom: 3.57%;
}
.caption {
	border-bottom: 1px dashed #aaa;
	display: flex;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
}
.blue-line {
	background: #227dda;
	width: 1.45%;
}
.title {
	width: 98.65%;
	font-size: 3.2em;
	color: #333;
	padding: 1.7% 3.6%;
}
.desc {
	padding: 7.17%;
}
.items {
	font-size: 2.8em;
	color: #333;
	margin-bottom: 2.5%;
}
.lost-desc {
	padding: 3.6%;
}
.lost-items {
	@extend .items;
	border-bottom: 1px dashed #eee;
	padding: 1.45% 3.88%;
}
.nums {
	float: right;
	color: #f95d67;
}
.book-nums {
	float: right;
}
.btn-div {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 640px;
	display: -moz-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	-o-justify-content: space-around;
	display: flex;
	justify-content: space-around;
}
.btn {
	padding: 3.985% 0;
	font-size: 3.2em;
	color: #fff;
	border-radius: 0;
}
.btn:hover {
	color: #fff;
}
.left-btn {
	width: 50%;
	background: #227dda;
}
.left-btn:hover {
	color: #fff;
}
.right-btn {
	width: 50%;
	background: #f7873d;
}
.right-btn:hover {
	color: #fff;
}
#start {
	background: #f7873d;
}
#start:hover {
	color: #fff;
}
#back {
	background: #227dda;
}
.full-btn {
	width: 100%;
}
#back:hover {
	color: #fff;
}

.width75 {
	display: inline-block;
	width: 65%;
}

@media screen and (max-width:640px) {
	.main-div, .btn-div {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .main-div, .btn-div {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .main-div, .btn-div {
        font-size: 60%;
    }
}
@media screen and (max-width: 400px) {
    .main-div, .btn-div {
        font-size: 50%;
    }
}