- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/sessions/forget_password-bundle"
  = stylesheet_link_tag "pages/user_mobile/sessions/forget_password-bundle", :media => "all"

- content_for :app_content do
  .content-area
    %a{:href => "#"}
      %img.circlelogo{:src => "/assets/register/circlelogo.png"}
    .input-box
      %form.account 
        手机号:
        %input.input-name#mobile{:type => "text"}
        %button.identifycode{:type => "button"} 验证码
    .input-box
      %form.account 
        验证码:
        %input.input-name{:type => "text"}
    %a.next{:href => "javascript:void(0);"} 下一步
 
   