- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/sessions/new-bundle"
  = stylesheet_link_tag "pages/user_mobile/sessions/new-bundle", :media => "all"
:javascript
  window.code = "#{@code}"

- content_for :app_content do
  .content-area
    %a{:href => "#"}
      %img.circlelogo{src: asset_path("register/circlelogo.png")}
    .input-box
      %form.account 
        账号:
        %input#mobile.input-name{:type => "text"}
    .input-box
      %form.account 
        密码:
        %input#password.input-name{:type => "password"}
      %a.forgetpass{:href => forget_password_user_mobile_sessions_path } 忘记密码
    %a.signin.clicked{:href => "javascript:void(0);"} 登录
    %a.signup{:href => sign_up_user_mobile_sessions_path } 注册
