- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/sessions/new-bundle"
  = stylesheet_link_tag "pages/user_mobile/sessions/new-bundle", :media => "all"
:javascript
  window.code = "#{@code}"

- content_for :app_content do
  .content-area
    .header-logo-div.clearfix
      %img.footer-logo{src: asset_path("footer_logo.png")}
    %a{:href => "#"}
      %img.circlelogo{src: asset_path("user_logo.png")}
    .input-box
      %label.account 
        手机:
        %input#mobile.input-name{:type => "text"}
    .input-box
      %label.account 
        密码:
        %input#password.input-name{:type => "password"}
      %a.forgetpass{:href => forget_password_user_mobile_sessions_path } 忘记密码
    %a.signin.clicked{:href => "javascript:void(0);"} 登录
    %a.signup{:href => sign_up_user_mobile_sessions_path } 注册
    %a.tourist{:href => feeds_user_mobile_sessions_path } 游客通道
    
