- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/sessions/sign_up-bundle"
  = stylesheet_link_tag "pages/user_mobile/sessions/sign_up-bundle", :media => "all"

- content_for :app_content do
  .content-area
    %a{:href => "#"}
      %img.circlelogo{src: asset_path("user_logo.png")}
    .input-box
      %label.account 
        手机:
        %input#mobile.input-name{:type => "text"}
        %button.identifycode{:type => "button"} 验证码
    .input-box
      %label.account 
        验证码:
        %input#code.input-name{:type => "text"}
    / .input-box
    /   %label.account 
    /     儿童姓名:
    /     %input#name.input-div{:type => "text"}
    .input-box
      %label.account 
        设置密码:
        %input#password.input-div{:type => "password"}
    .input-box
      %label.account 
        重输密码:
        %input#password-confirm.input-div{:type => "password"}

    %a.signup{:href => "javascript:void(0);"} 注册
    .agreement-div
      %span 我已阅读并同意
      %a.user-agreement 《儿童中心用户须知》
 
   