.content-div {
  position: absolute;
  width: 100%;
  overflow: scroll;
  top: 1.12rem;
}
.head-div {
  position: fixed;
  width: 100%;
  height: 1.12rem;
  padding: 0.08rem 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.back-link {
  display: inline-block;
}
.back {
  width: 0.96rem;
}
.title {
  vertical-align: middle;
  opacity: 0.87;
}
.item {
  padding: 0.24rem;
  height: 1.88rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-felx;
  display: flex;
  -webkit-justify-content: sapce-between; 
  -moz-justify-content: sapce-between;
  -ms-justify-content: sapce-between;
  -o-justify-content: sapce-between;
  justify-content: sapce-between;
  border-bottom: 1px solid #eaeaea;
}
.item:last-child {
  margin-bottom: 0.2rem;
}
.icon-div {
  margin-right: 0.24rem;
}
.icon {
  width: 2rem;
  height: 1.4rem;
}
.word-div {
  padding-top: 0.16rem;
  padding-bottom: 0.08rem;
}
.row-div {
  width: 4.48rem; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.row-div:not(:last-child) {
  margin-bottom: 0.25rem;
}
.item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.red-dot {
  display: inline-block;
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 50%;
  background: #e9657e;
  margin-left: 2.18rem;
}



