html {
	font-size: 16px;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, span, input, h1, h2, h3, h4, h5 {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}

.content-area {
	position:relative;
	width:100%;
	max-width:640px;
	margin:0 auto;
}
.header {
	position:relative;
	width:100%;
	.caption {
		font-size:4.2em;
		color:#3e3e3e;
		margin-top:6.25%;
		text-align:center;
	}
	.date {
		font-size: 2.2em;
		color:#666;
		margin:3.25% 0 3.25% 4.38%;
	}
	.haidian {
		margin-left:5.47%;
		color:#d70c19;
	}
}
.notice-1 {
	width:91.5625%;
	max-width:586px;
	display:block;
	margin:0 auto;
}
.back {
	position:fixed;
	left:3.45%;
	top:4%;
	width: 7.5%;
	max-width: 48px;
}
.content {
	width: 90.625%;
	margin: 0 auto;
	h1, h2, h3, h4, h5 {
		background: url("/assets/logo-mini.png") no-repeat;
		background-size: 9.65%;
		padding-left: 12%;
		color: #3e3e3e;
	}
	h1 {
		padding-top: 3%;
		font-size: 3.6em;
	}
	h2 {
		font-size: 3em;
		padding-top: 4%;
	}
	h3 {
		font-size: 2.4em;
		padding-top: 5%;
	}
	h4 {
		font-size: 1.8em;
		padding-top: 6.2%;
	}
	h5 {
		font-size: 1.4em;
		padding-top: 7%;
	}
	p {
		font-size:2.6em;
		color:#3e3e3e;
		line-height:150%;
		padding:2% 0;
	}
}


@media screen and (max-width:640px) {
	.content-area {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .content-area {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .content-area {
        font-size: 75%;
    }
}
@media screen and (max-width: 450px) {
    .content-area {
        font-size: 65%;
    }
}
@media screen and (max-width: 400px) {
    .content-area {
        font-size: 55%;
    }
}
@media screen and (max-width: 320px) {
    .content-area {
        font-size: 50%;
    }
}