/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require jquery-ui
 *= require jquery-ui/datepicker
 *= require jquery-ui/autocomplete
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import 'ui/widgets/notification';
@import 'ui/widgets/mobile_notification';
@import 'jquery.timepicker';

.ui-datepicker .ui-datepicker-title select {
	vertical-align: middle;
}

.select-page {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 10px 20px;
}
.totalitems {
	font-size: 12px;
	color: #969696;
	margin-right: 25px;
}
.choice-page {
	display: inline-block;
	vertical-align: middle;
}
.pagination {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-top: 4px;
	margin-left: 25px;
}
.auto-f12 {
	font-size: 12px;
	color: #666;
}
.auto-page-box {
	display: inline-block;
	width: 50px;
	height: 28px;
	margin-left: 3px;
	margin-right: 3px;
}
#auto-jump {
	margin-left: 10px;
	height: 28px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 12px;
	color: #666;
	outline: none;
}