
<div class="item" data-id={{ele_id}}>
  <div class="icon-div">
    <img class="icon" src={{ele_photo}}>
  </div>
  <div class="word-div">
    <div class="row-div f14-op87 font-color2">
      <span class="item-title f14 fb">{{ele_name}}</span>
    </div>
    <div class="row-div f12-op56 font-color2">
      <span class="time">{{ele_time}}</span>
    </div>
  </div>
</div>

