.content-div {
  position: absolute;
  width: 100%;
  overflow: scroll;
  top: 1.12rem;
  bottom: 2.8rem;
}
.head-div {
  position: fixed;
  width: 100%;
  height: 1.12rem;
  padding: 0.08rem 0;
  top: 0;
  left: 0;
  right: 0;
}
.back-link {
  display: inline-block;
}
.back {
  width: 0.96rem;
}
.title {
  vertical-align: middle;
  opacity: 0.87;
}
.item {
  padding: 0.36rem 0.24rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-felx;
  display: flex;
  -webkit-justify-content: sapce-between; 
  -moz-justify-content: sapce-between;
  -ms-justify-content: sapce-between;
  -o-justify-content: sapce-between;
  justify-content: sapce-between;
  border-bottom: 1px solid #eaeaea;
}
.item:last-child {
  margin-bottom: 0.2rem;
}
.icon-div {
  margin-right: 0.32rem;
}
.icon {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}
.row-div {
  width: 5.6rem; 
}
.row-div:not(:last-child) {
  margin-bottom: 0.16rem;
}
.item-value {
  float: right;
}
.course-review {
  vertical-align: middle;
}
.star {
  width: 0.24rem;
  height: 0.24rem;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 2.8rem;
}
.text-div {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 2.8rem;
  padding: 0.24rem;
  border-top: 1px solid #adadbe;
  background: #fff;
}
#text {
  width: 100%;
  border: 1px solid #adadbe;
  height: 1.3rem;
  border-radius: 2px;
}
.review-div {
  margin-top: 0.16rem;
}
.me {
  width: 23%;
  float: left;
  height: 0.72rem;
  line-height: 0.72rem;
}
.star-div{
  width: 55%;
  float:left;
}
.star-div>input{position:relative;margin-right:1em;border:0;background:transparent;color:gold;-webkit-transition:color .8s;
  transition:color .8s;}
.star-div>input:nth-of-type(1){display:none;}
.star-div>input:before{position:absolute;content:"★";left:0;top:0;bottom: 0;font-size:1.8em;height:100%;width:100%;background:#FFF;cursor:pointer;}
.star-div>input:checked~input{color:#666;}
#submit {
  width: 22%;
  height: 0.72rem;
  float: left;
  color: #fff;
  border: 0;
  outline: none;
}
