@import "jquery-ui";

.direction {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -os-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
#announce-add {
	width: 10.35%;
  color: #fff;
  outline: none;
}
.announce-items {
  padding: 2.4% 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaebf2;
}
.announce-icon {
  border-radius: 4px;
  width: 100%;
  max-width: 214px;
  height: 12em;
  object-fit: contain;
}
.img-div {
  width: 20.5%;
  height: 12em;
}
.word-div {
  width: 77.2%;
}
.head-div, .desc {
  margin-bottom: 1%;
}
.announce-items:first-child {
  padding-top: 0;
}
.select-page {
  margin-top: 2%;
}
.font-color2:link {
  color: #3c3d45;
}
.font-color2:visited {
  color: #3c3d45;
}
.font-color2:hover {
  color: #3c3d45;
}
.font-color2:active {
  color: #3c3d45;
}
.notice-caption {
  width: 92%;
}



