@import "wangEditor";
@import "jquery-ui";

.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
	padding: 20px;
}
.content-box {
	position: relative;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white;  
	height: 100%;
	overflow: auto;
}
.manage-content {
	position: absolute;
	top: 20px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
.end-btn {
	position: absolute;
	top: 15px;
	right: 20px;
	z-index: 10;
	width: 100px;
	height: 34px;
	padding: 0;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.end-btn:hover {
	background: #f7873d;
	color: white;
}
.declare-btn {
	@extend .end-btn;
}
.end-img {
	vertical-align: middle;
}
.tabbable {
	margin: 0 20px auto 20px;
}
.nav-tabs {
	margin-bottom: 0;
	li {
		font-size: 16px;
		color: #323232;
	}
}
.edit-area {
	margin: 0 20px;
	border: 1px solid #c8c8c8;
	border-top: 0;
	padding: 20px 0;
}
#input-caption {
	width: 640px;
	height: 62px;
	padding: 0;
	border-radius: 4px;
	font-size: 24px;
	text-align: center;
}
.caption-div {
	width: 65%;
	margin: 0 auto;
	vertical-align: baseline;
}
.checkbox-inline {
	font-size: 14px;
	color: #323232;
	margin-left: 15px;
}
.wangedit-area {
	margin: 20px 60px 0 60px;
	font-size: 14px;
	color: #323232;
}
#edit-box {
	height: 350px;
}