@import "wangEditor";
@import "jquery-ui";

.direction {
	justify-content: space-between;
}
#open-now {
	width: 10.35%;
  color: #fff;
  outline: none;
}
.input-caption {
  font-weight: normal;
}
.input-area {
  display: inline-block;
  width: 20%;
  height: 2.143em;
  margin: 0 6.3% 0 1%;
}
.finish-btn-position {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 10;
}
.short-left {
  margin-left: 0.5%;
}
#finish-btn {
  width: 8.63%;
  color: #fff;
  outline: none;
}
.open {
  position: absolute;
  top: 32px;
  right: 148px;
  z-index: 10;
}

.form-group {
	margin-bottom: 2%;
	.form-control {
		display: inline-block;
		width: 70%;
		margin-left: 1%;
	}
}
.photo {
	width: 11.28571em;
	height: 6.28571em;
	margin-left: 1%;
	vertical-align: top;
	object-fit: contain;
}
.introduce {
	float: left;
	display: inline-block;
	vertical-align: top;
	margin-right: 1.5%;
}
.notice-introduce {
	margin-top: 2%;
}
.wangedit-area {
	float: left;
	width: 70%;
	font-size: 16px;
}
#edit-box {
	height: 22em;
}


