@import "wangEditor";
@import "jquery-ui";


.direction {
	justify-content: space-between;
}
.create-btn-position {
  position: absolute;
  right: 2.07%;
  top: 24px;
  z-index: 10;
}
.unshelve-btn-position {
  position: absolute;
  right: 12%;
  top: 24px;
  z-index: 10;
}
#edit-btn, #unshelve-btn, #shelve-btn, #finish-btn {
  width: 8.63%;
  color: #fff;
  outline: none;
}
#finish-btn {
  display: none;
}

.display-box {
	margin: 0 20px;
	.display-area {
		width: 57.15%;
		margin: 0 auto;
	}
}
.display-content {
	margin-top: 20px;
	font-size: 16px;
	color: #323232;
}
.caption-header {
	padding-bottom: 15px;
}
.photo {
	width: 100%;
	max-width: 640px;
	height: 240px;
}
#show-caption {
	font-size: 24px;
	color: #323232;
	text-align: center;
}
#publish-status {
	line-height: 35px;
}
#time-flag {
	font-size: 14px;
	color: #969696;
	margin-left: 10px;
}
.undeclared {
	float: right;
	font-size: 14px;
	color: #969696;
}
.undeclared:link {
	text-decoration: none;
	color: #969696;
}
.undeclared:hover {
	text-decoration: none;
	color: #969696;
}
.declared {
	float: right;
	font-size: 14px;
	color: #0fc077;
}
.declared:link {
	text-decoration: none;
	color: #0fc077;
}
.declared:hover {
	text-decoration: none;
	color: #0fc077;
}
.display-img {
	display: block;
	margin: 0 auto;
}

.edit-area {
	margin: 0 20px 20px 20px;
	display: none;
}
.input-name {
	font-weight: normal;
}
.form-group {
	margin: 20px 0;
	.form-control {
		display: inline-block;
		width: 500px;
		margin-left: 10px;
	}
}
.introduce {
	float: left;
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}
.notice-introduce {
	margin-top: 20px;
}
#upload-photo {
	width: 11.3%;
	height: 88px;
	margin-left: 10px;
}
.edit-photo {
	vertical-align: top;
	width: 100%;
	max-width: 128px;
	height: 88px;
}
.wangedit-area {
	float: left;
	width: 720px;
	font-size: 16px;
}
#edit-box {
	height: 360px;
}