@import "wangEditor";
@import "jquery-ui";

.content-area {
	position:absolute;
	right: 0;
	left: 160px;
	bottom: 0;
	top: 60px;
	background:#f7fcff;
	box-shadow: -1px -1px 6px #9c9c9c inset;
}
.content-box {
	position: relative;
	margin: 20px;
	box-shadow: 0 -1px 6px #9c9c9c inset;
	background: white; 
	padding: 20px 0;
	overflow: scroll;
	max-height: 665px;
}
.edit-btn {
	padding: 0;
	float: right;
	margin: -9px 20px 0 0;
	width: 100px;
	height: 34px;
	line-height: 32px;
	color: white;
	background: #f7873d;
	border-radius: 6px;
}
.edit-btn:hover {
	background: #f7873d;
	color: white;
}
#unshelve-btn, .end-btn, .declare-btn {
	@extend .edit-btn;
}
.end-btn, .declare-btn {
	display: none;
}
.edit-img {
	vertical-align: middle;
}
.tabbable {
	margin: 0 20px auto 20px;
}
.nav-tabs {
	margin-bottom: 0;
	li {
		font-size: 16px;
		color: #323232;
	}
}
.display-box {
	border: 1px solid #c8c8c8;
	border-top: 0;
	margin: 0 20px;
	.display-area {
		width: 640px;
		margin: 0 auto;
	}
}
.caption-header {
	padding: 20px 70px 15px 70px;
}
.show-caption {
	font-size: 24px;
	color: #323232;
}
#time-flag {
	font-size: 14px;
	color: #969696;
	margin-left: 10px;
}
.undeclared {
	float: right;
	font-size: 14px;
	color: #969696;
}
.undeclared:link {
	text-decoration: none;
	color: #969696;
}
.undeclared:hover {
	text-decoration: none;
	color: #969696;
}
.declared {
	float: right;
	font-size: 14px;
	color: #0fc077;
}
.declared:link {
	text-decoration: none;
	color: #0fc077;
}
.declared:hover {
	text-decoration: none;
	color: #0fc077;
}
.display-img {
	display: block;
	margin: 0 auto;
}
.desc {
	padding: 15px;
	margin: 10px 0;
	border: 1px solid #c8c8c8;
	border-radius: 6px;
	text-indent: 32px;
	font-size: 16px;
	color: #3e3e3e;
}
.edit-area {
	margin: 0 20px;
	border: 1px solid #c8c8c8;
	border-top: 0;
	padding: 20px 0;
	display: none;
}
#input-caption {
	width: 640px;
	height: 62px;
	padding: 0;
	border-radius: 4px;
	font-size: 24px;
	text-align: center;
}
.caption-div {
	width: 642px;
	margin: 0 auto;
}
.wangedit-area {
	margin: 0 60px;
	font-size: 14px;
	color: #969696;
}
#edit-box {
	height: 350px;
	margin-bottom: 20px;
}

#declareModal {
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left: -151px;
	margin-top: -101px;
	width: 300px;
	height: 200px;
	border-radius: 6px;
}
.modal-backdrop {
	background-color: #999;
}
.close {
	position: absolute;
	right: -14px;
	top: -14px;
	opacity: 0.7;
	z-index: 10;
}
.close:hover {
	opacity: 1;
}
.caption {
	font-size: 1.6em;
	color: #323232;
	margin-left: 20px;
}
.modal-body {
	height: 130px;
	line-height: 130px;
	text-align: center;
	font-size: 18px;
	color: #323232;
	padding: 0;
}
.modal-footer {
	border: 0;
	margin-bottom: 0;
	background: white;
}
.yes, .no {
	width: 98px;
	height: 34px;
	padding: 0;
	border-radius: 2px;
	line-height: 34px;
}
.yes {
	float: left;
}