.content-div {
	position: relative;
}
.icon {
  margin-top: 0.64rem;
  margin-bottom: 0.48rem;
  width: 1.6rem;
  height: 1.6rem;
}
.mb24 {
  margin-bottom: 0.24rem;
}
.mb16 {
  margin-bottom: 0.16rem;
}
.mb60 {
  margin-bottom: 0.6rem;
}
.btn-style {
  width: 6.72rem;
  height: 0.72rem;
  border-radius: 2px;
  border: 0;
  outline: none;
  line-height: 0.72rem;
  padding: 0;
}
.btn-style:link {
  color: #fff;
}
.btn-style:visited {
  color: #fff;
}
.btn-style:hover {
  color: #fff;
}
.btn-style:active {
  color: #fff;
}