html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, h3, hr, input {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.content-area{
	position: relative;
	width:100%;
	max-width:640px;
	margin:0 auto;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
}
.header {
	position:relative;
	width:100%;
	text-align:center;
	padding-top:3.13%;
	padding-bottom:2%;
	.back {
		position:absolute;
		top:15.9%;
		left:2.345%;
		width:9.375%;
		max-width:60px;
	}
}
.cloud {
	width:40.46875%;
	max-width:259px;
	padding:4.8% 0;
	margin:0 auto;
	background:url('/assets/mybook/cloud.png') no-repeat;
	background-size:100%;
	text-align:center;
	.caption {
		font-size:4.2em;
		color:#3e3e3e;
	}
}
article {
	width: 95.3125%;
	margin: 0 auto;
	margin-top: 3.125%;
	background: #fff;
	border-radius: 8px;
	padding: 3.125%;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	.headfigure {
		width: 100%;
		max-width: 106px;
	}
	.username {
		font-size: 2.8em;
		color:#3e3e3e;
		font-weight: bold;
	}	
	.message {
		font-size: 2.4em;
		color:#3e3e3e;
		line-height:150%;
	}
	.time {
		float: right;
		font-size: 2.2em;
		color:#999;
	}
}
.left-div {
	width: 17%;
}
.right-div {
	width: 83%;
	margin-left: 3.5%;
	padding-top: 1.75%;
}
.review-score {
	font-size: 2.2em;
	color: #666;
	padding: 3% 0;
}
.star {
	width: 4.38%;
	max-width: 20px;
}
#review {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width:640px;
	font-size: 3.6em;
	color: #fff;
	padding: 3%;
	background: #d70c19;
	border-radius: 0;
}
.mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0,0.36);
	display: none;
}
.text-div {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: #fff;
	padding: 3.125%;
}
#text {
	width: 100%;
	font-size: 2.8em;
	color: #3e3e3e;
	border: 1px solid #aaa;
	border-radius: 8px;
	height: 5em;
}
.review-div {
	margin-top: 3.125%;
}
.me {
	font-size: 2.8em;
	color: #333;
	float: left;
	margin-top: 1%;
}
.star-div{
	width: 55%;
	float:left;
}
.star-div>input{position:relative;margin-right:1em;border:0;background:transparent;color:gold;-webkit-transition:color .8s;
  transition:color .8s;}
.star-div>input:nth-of-type(1){display:none;}
.star-div>input:before{position:absolute;content:"★";left:0;top:0;bottom: 0;font-size:3.2em;height:100%;width:100%;background:#FFF;cursor:pointer;}
.star-div>input:checked~input{color:#666;}
#submit {
	width: 20%;
	float: left;
	font-size: 2.4em;
	color: #fff;
	background: #d70c19;
}

@media screen and (max-width: 500px) {
    .content-area {
        font-size: 70%;
    }
}
@media screen and (max-width: 450px) {
    .content-area {
        font-size: 67%;
    }
}
@media screen and (max-width: 400px) {
    .content-area {
        font-size: 60%;
    }
}
@media screen and (max-width: 360px) {
    .content-area {
        font-size: 55%;
    }
}
@media screen and (max-width: 320px) {
    .content-area {
        font-size: 52%;
    }
}