.content-div {
  position: relative;
  padding-bottom: 0.96rem;
}

.course-img {
	width: 100%;
	height: 4.4rem;
}
.course-icon {
	width: 0.96rem;
	height: 0.96rem;
}
.back-icon {
	position: absolute;
	top: 0;
	left: 0;
}
.comment-icon {
	position: absolute;
	top: 0;
	right: 0;
  height: 0.96rem;
}
.like-icon {
	position: absolute;
	top: 0;
	right: 0.96rem;
}
.course-div {
  padding: 0.48rem 0.32rem;
}
.have-comment {
  background: image-url("wap/comment_normal.png") no-repeat;
  background-size: 100% 100%;
  width: 0.96rem;
  border: 0;
}
.no-comment {
  background: image-url("wap/comment_disabled.png") no-repeat;
  background-size: 100% 100%;
  width: 0.96rem;
  border: 0;
}
.reviews-num {
  height: 0.96rem;
  line-height: 0.96rem;
  text-align: center;
}
.course-name {
  width: 6.56rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.36rem;
}
.date-icon, .location-icon {
  width: 0.32rem;
  height: 0.32rem;
}
.desc-div {
  margin-bottom: 0.24rem;
}
.flex-div {
  margin-top: 0.36rem;
  padding: 0.36rem 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-felx;
  display: flex;
  -webkit-justify-content: sapce-between; 
  -moz-justify-content: sapce-between;
  -ms-justify-content: sapce-between;
  -o-justify-content: sapce-between;
  justify-content: sapce-between;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.box {
  flex: 1;
  text-align: center;
}
.mb24 {
  margin-bottom: 0.24rem;
}
.no-pt {
  padding-top: 0;
}

.sign-in-div {
  margin-top: 0.36rem;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}
.sign-in-box {
  width: 12.2%;
  padding: 2.3%;
  margin: 0.15%;
  text-align: center;
  font-size: 1.6em;
  color: #fff;
  background: #80e9be;
}
.absence {
  @extend .sign-in-box;
  background: #e97e93;
}
.future {
  @extend .sign-in-box;
  background: #eaebf2;
}
.map-div {
  margin-top: 0.48rem;
  #map-container {
    height: 3.2rem;
    width: 100%;
  }
}
.speaker-div {
  margin-bottom: 0.1rem;
}
.btn-style {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.96rem;
  line-height: 0.96rem;
  border-radius: 0;
  padding: 0;
}
.btn-style:link {
  color: #fff;
}
.btn-style:visited {
  color: #fff;
}
.btn-style:hover {
  color: #fff;
}
.btn-style:active {
  color: #fff;
}
.refund {
  display: inline-block;
  width: 100%;
  margin-top: 0.4rem;
}
.refund:link {
  color: #4a8ce3;
}
.refund:visited {
  color: #4a8ce3;
}
.refund:hover {
  color: #4a8ce3;
}
.refund:active {
  color: #4a8ce3;
}

