- content_for :head do
  = javascript_include_tag "pages/admin/courses/new-bundle"
  = stylesheet_link_tag "pages/admin/courses/new-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"

.content-area
  /courses-new
  .content-box
    .manage-box.clearfix
      %p.course-add 添加课程
      .btn.end-btn{:type => "button", :href => "#kidsaddModal", "data-toggle" => "modal"} 
        %img.end{:src => "/assets/managecenter/ticker.png"}
        完成

    .manage-content
      %form.form-inline
        %label.input-name 课程名称:
        %input.input-area.form-control#course-name{:type => "text"}
        %label.input-caption 课程编号:
        %input.input-area.form-control#course-code{:type => "text"}
        %label.checkbox-inline
          %input#inlineCheckbox1{:type => "checkbox"} 上架

      .controls.controls-row
        %label.input-caption 主讲人:
        %input.input-area.form-control#course-speaker{:type => "text"}
        %label.input-caption#charge 费用:
        %input.input-area.form-control#course-price{:type => "text"}
        %label.input-caption 课时:
        %input.input-area.form-control#course-length{:type => "text"}
       
      .course-introduce
        %span.introduce 课程介绍:
        %span.wangedit-area
          #edit-area

