html {
	font-family:"Microsoft YaHei";
}
body {
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}

.container{
	width:100%;
	max-width:640px;
	margin:0 auto;
	/*斜条纹背景，如果反向则是-45度*/
	// background: -webkit-gradient(
	// linear, 
	// left top, 
	// right bottom, 
	// from(#fedd02), color-stop(0.45, #fedd02), 
	// color-stop(0.45, #fcc204), color-stop(0.5, #fcc204), 
	// color-stop(0.5, #fedd02), color-stop(0.95, #fedd02), 
	// color-stop(0.95, #fcc204), to(#fcc204));
	// background: -moz-linear-gradient(
	// -45deg, 
	// #7aa00f 45%, 
	// #67860e 45%, #67860e 50%, 
	// #7aa00f 50%, #7aa00f 95%, 
	// #67860e 95%, #67860e);
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
    padding-bottom:3em;
}
.header {
	position:relative;
	width:100%;
	.crocodile {
		width:100%;
		max-width:640px;
	}
	.back {
		position:absolute;
		top:2.8em;
		left:1.8em;
		width:9.375%;
		max-width: 60px;
	}
}

.boxtitle {
	position:relative;
	width:100%;
	text-align:center;
	padding-top:6.25%;
	padding-bottom:3.13%;
	.bookcloud {
		background:url("/assets/bookcloud.png") no-repeat;
		background-size:100%;
		background-position:center;
		width:69.4375%;
		max-width:438px;
		height:11.3em;
		line-height:11.3em;
		margin:0 auto;
		p {
			font-size: 3.6em;
			color:#d70c18;
		}
	}
	.smallheart {
		position:absolute;
		width:7.5%;
		max-width:48px;
		top:0.1em;
		right:12.4em;
	}
	.dialog {
		@extend .smallheart;
		top:0.6em;
		right:6.6em;
	}
	.num {
		position:absolute;
		font-size: 1.8em;
		color:#666;
		right:1.28em;
		top:1em;
	}
}

.content {
	width:95.3125%;
	margin:0 auto;
	background:white;
	border-radius: 10px;
	.author {
		font-size: 2em;
		color:#3e3e3e;
		padding-left:2.46%;
		padding-top:4.1%;
		line-height: 150%;
	}
	.profile {
		font-size:2.8em;
		color:#3e3e3e;
		padding-top:3%;
		padding-left:2.46%;
		padding-bottom:3.28%;
		line-height:150%;
	}
}

.recommend {
	position:relative;
	width:100%;
	background:url("/assets/linecloud.png") no-repeat;
	background-size:41.406%;
	background-position:center;
	margin-top:4.69%;
	margin-bottom:2.35%;
	text-align:center;
	p {
		line-height:3em;
		font-size: 3.6em;
		color:#3e3e3e;
	}
}

.article {
	width:95.3125%;
	margin:0 auto;
	background:white;
	border-radius: 10px;
	p {
		font-size: 2.8em;
		color:#3e3e3e;
		text-indent:2em;
		line-height:1.5em;
		padding:0.71428em 0.53571em;
	}
}

.address {
	@extend .recommend;
}
.anotherbook {
	position:relative;
	width:95.3125%;
	margin:0 auto;
	background:white;
	border-radius: 10px;
	margin-bottom:2em;
	.center {
		font-size: 3.2em;
		padding-left:0.46875em;
		padding-top:0.625em;
		padding-bottom:0.3em;
		color:#3e3e3e;
	}
	.num {
		font-size: 2.4em;
		padding-left:0.625em;
		color:#3e3e3e;
		padding-bottom:0.625em;
	}
	.place {
		@extend .num;
	}
}

.description {
	position:absolute;
	width:25.573%;
	max-width:156px;
	top:3em;
	right:1.5em;
	background:#d70c18;
	border-radius:5px;
	text-align:center;
	a {
		text-decoration: none;
	}
	p {
		font-size: 2.4em;
		color:white;
		padding:5% 0;
	}
}



@media screen and (max-width:640px) {
	.container {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .container {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 70%;
    }
}
@media screen and (max-width: 450px) {
    .container {
        font-size: 67%;
    }
}
@media screen and (max-width: 400px) {
    .container {
        font-size: 60%;
    }
}
@media screen and (max-width: 360px) {
    .container {
        font-size: 55%;
    }
}
@media screen and (max-width: 320px) {
    .container {
        font-size: 52%;
    }
}
