html {
	font-size: 16px;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, h3, hr {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}

.content-area{
	width:100%;
	max-width:640px;
	margin:0 auto;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
    padding-bottom:5%;
}
.header {
	position:relative;
	width:100%;
	text-align:center;
	margin-bottom:2%;
}
.caption {
	font-size:4.2em;
	color:#3e3e3e;
	padding:1.565% 0;
}
.back {
	position:absolute;
	top:6.26%;
	left:5%;
	width:9.375%;
	max-width: 60px;
}
article {
	width:90.9375%;
	max-width:582px;
	margin:0 auto;
	margin-top:2.345%;
	.headfigure {
		width:18.213%;
		max-width: 106px;
		float:left;
		margin-right:3.45%;
	}
	.username {
		font-size: 2.8em;
		color:#3e3e3e;
		margin-bottom:1%;
		padding-top:2%;
	}	
	.message {
		width:72.85%;
		max-width:424px;
		background:white;
		border-radius: 5px;
		font-size: 2.6em;
		color:#3e3e3e;
		margin-left:21.65%;
		padding:2.06% 3.61%;
		line-height:135%;
	}
	.num {
		font-size: 2.2em;
		color:#999;
		margin-left:21.65%;
		padding:2% 0;
	}
}
hr {
	border:1px solid #eee;
}



@media screen and (max-width: 500px) {
    .content-area {
        font-size: 70%;
    }
}
@media screen and (max-width: 450px) {
    .content-area {
        font-size: 67%;
    }
}
@media screen and (max-width: 400px) {
    .content-area {
        font-size: 60%;
    }
}
@media screen and (max-width: 360px) {
    .content-area {
        font-size: 55%;
    }
}
@media screen and (max-width: 320px) {
    .content-area {
        font-size: 52%;
    }
}