html {
	font-family:"Microsoft YaHei";
}
body {
	font-size: 62.5%;
}
body, p, img, div, dl, dt, dd, a, h3, span {
	margin:0;
	padding:0;
}

.container {
	position:relative;
	width:100%;
	max-width:640px;
	margin:0 auto;
	padding-bottom:2%;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
}
.header {
	position:relative;
	width:100%;
	overflow:hidden;
}
.uparrow {
	float:left;
	width:9.375%;
	max-width:60px;
	margin-top:2.5em;
	margin-left:1.5em;
}
.input-box {
	float:right;
	margin-top:1.1em;
	margin-right:3.06667em;
	font-size:3em;
	border-radius:5px;
	width:64.0625%;
	max-width:410px;
	height:45px;
	border:0;
	outline:none;
}
.search {
	position:absolute;
	right:10.4em;
	top:3.3em;
	width:7.656%;
	max-width:49px;
}

.area {
	width:100%;
	margin:3em 0;
	border-top:1px solid #e6e6fa; 
	border-bottom:1px solid #e6e6fa; 
	background:white;
	dl {
		font-size: 2.8em;
		padding-left:0.71428em;
		dt, dd {
			display:inline-block;
			padding:0.42em 0;

			a {
				color:#7d7d7d;
				text-decoration: none;
				padding:0 0.435em;
				border-right:1px solid #e6e6fa;
				&:hover {
					text-decoration: underline;
					color:#d70c18;
				}
			}
		}
	}
}
.short {
	color:#333;
}

.box-radius {
	width:95.3125%;
	max-width:610px;
	margin:0 auto;
	background:white;
	border-radius:10px;
}
.details {
	@extend .box-radius;
	overflow:hidden;
	margin-bottom:2.5em;
	.visit {
		width:31.1475%;
		max-width:190px;
		float:left;
		display:block;
		margin:2em 1.5em;
	}
	h3 {
		font-size:2.8em;
		color:#3e3e3e;
		padding-top:0.71428em;
	}
	.article {
		font-size:2.6em;
		color:#3e3e3e;
		padding-top:0.65384em;
	}
	.detail-flip {
		float:right;
		margin-right:1.6em;
		margin-bottom:1.5em;
		background:#d70c18;
		padding:0 2em;
		border-radius:5px;
		height:4.8em;
		line-height:4.8em;
		a {
			font-size:2.8em;
			color:#fff;
			text-decoration: none;
			&:hover {
				color:orange;
			}
		}
	}
}




@media screen and (max-width:640px) {
	.container {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .container {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 60%;
    }
}
@media screen and (max-width: 400px) {
    .container {
        font-size: 50%;
    }
}