html {
	font-family:"Microsoft YaHei";
}
body {
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, h3, span, input {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}

.container {
	position:relative;
	width:100%;
	max-width:640px;
	margin:0 auto;
	padding-bottom:2%;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
}
.header {
	position:relative;
	width:100%;
}
.uparrow {
	position:absolute;
	width:9.375%;
	max-width:60px;
	top:30.5%;
	left:2.35%;
}
.input-box {
	position:relative;
	margin-top:5.16%;
	margin-left:22.35%;
	padding:1.41% 0;
	font-size:2.6em;
	border-radius:5px;
	width:64.0625%;
	max-width:410px;
	border:0;
	outline:none;
}
.search {
	position:absolute;
	right:16.25%;
	top:40.3%;
	width:7.65625%;
	max-width:49px;
}

.nav {
	margin-top:5.16%;
	margin-bottom:4.7%;
	border-top:1px solid #e6e6fa; 
	border-bottom:1px solid #e6e6fa; 
	background:white;
	overflow:hidden;
	font-size: 2.8em;
	padding:3% 0;
	.short {
		color:#333;
		float:left;
		margin-right:3%;
		margin-left:3.14%;
	}
	.area {
		list-style:none;
		overflow:hidden;
		li {
			float:left;
			color:#7d7d7d;
			text-align:center;
			vertical-align:middle;
			padding:0 2%;
			a {
				display:block;
				color:#7d7d7d;
				text-decoration: none;
				border-right:1px solid #e6e6fa;
				&:hover {
					text-decoration: underline;
					color:#d70c18;
				}
			}
		}
	}
}

.box-radius {
	width:95.3125%;
	max-width:610px;
	margin:0 auto;
	background:white;
	border-radius:10px;
}
.details {
	position:relative;
	@extend .box-radius;
	overflow:hidden;
	margin-bottom:4.06%;
	.visit {
		width:31.1475%;
		max-width:190px;
		float:left;
		display:block;
		margin:3.94% 5.91% 0 4.43%;
	}
	h3 {
		font-size:2.8em;
		color:#3e3e3e;
		margin-top:3.5%;
	}
	.article {
		font-size:2.4em;
		color:#7a7a7a;
		line-height: 150%;
		margin-top:1.65%;
		text-indent: 2em;
	}
	.detail-flip {
		float:right;
		width:25.5737%;
		max-width: 156px;
		margin:2.15% 4.1% 3.28% 0;
		background:#d70c18;
		border-radius:5px;
		text-align:center;
		padding-top:1.1%;
		padding-bottom:0.8%;
		a {
			font-size:2.8em;
			color:#fff;
			text-decoration: none;
			&:hover {
				color:orange;
			}
		}
	}
}

.address {
	position:absolute;
	left:3.61%;
	top:66.35%;
	overflow:hidden;
	.address-icon {
		width:12%;
		max-width:30px;
		margin-right:2.25%;
		display:block;
		float:left;
	}
	.setdefault {
		font-size: 2em;
		color:#b4b4b4;
		margin-top:2%;
	}
	.place {
		font-size: 2em;
		color:#b4b4b4;
		margin-top:3%;
	}
}


@media screen and (max-width:640px) {
	.container {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .container {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 75%;
    }
}
@media screen and (max-width: 450px) {
    .container {
        font-size: 65%;
    }
}
@media screen and (max-width: 400px) {
    .container {
        font-size: 55%;
    }
}
@media screen and (max-width: 320px) {
    .container {
        font-size: 50%;
    }
}