html {
	font-family:"Microsoft YaHei";
}
body {
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}

.container {
	position:relative;
	width:100%;
	max-width:640px;
	margin:0 auto;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
}

.cloudblock {
		position:absolute;
		top:0;
		width:100%;
		max-width:640px;
}
.frontcloud {
		position:absolute;
		top:8.8%;
		right:26.5%;
		width:21%;
		max-width:135px;
	}
.ad {
	position:relative;
	width:94%;
	margin:0 auto;
	.banner {
		width:100%;
		max-width:600px;
		margin:0 auto;
		padding-top:24.6875%;
	}
	.user {
		position: absolute;
		width:7.18%;
		max-width:46px;
		top:4%;
		left:1.72%;
	}
	.search {
		position: absolute;
		width:6.09%;
		max-width:39px;
		top:5%;
		right:1.72%;
	}
}
.tagchoice {
	position:relative;
	margin-top:3%;
	text-align:center;
	a {
		text-decoration: none;
		color:white;
		font-size:4.8em;
		&:hover {
			color:orange;
		}
	}
}
.circle {
	width:60%;
	max-width:384px;
}
.notice {
	position:absolute;
	width:14.6875%;
	max-width:94px;
	top:6%;
	left:19.7%;
	display:block;

}
.book {
	position:absolute;
	display:block;
	width:12.3%;
	max-width:79px;
	top:12%;
	right:20%;
}
.course {
	position:absolute;
	width:22.5%;
	max-width:144px;
	top:65%;
	left:38%;
	display:block;

}
.footer {
	margin-top:-15%;
	width:100%;
	max-width:640px;
}



@media screen and (max-width:640px) {
	.container {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
            .container {
                font-size: 85%;
            }
        }

@media screen and (max-width: 500px) {
            .container {
                font-size: 60%;
            }
        }
@media screen and (max-width: 400px) {
            .container {
                font-size: 50%;
            }
        }



