html {
	font-family:"Microsoft YaHei";
}
body {
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}

.container {
	position:relative;
	width:100%;
	max-width:640px;
	margin:0 auto;
	padding-bottom:2%;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
}

.haidian {
	width:100%;
	max-width:640px;
}
.searchcircle {
	position:absolute;
	width:9.375%;
	max-width:60px;
	top:3em;
	right:1.5em;
}
.back {
	position:absolute;
	width:9.375%;
	max-width:60px;
	top:3em;
	left:1.5em;
}
.box-radius {
	width:95.3125%;
	max-width:610px;
	margin:0 auto;
	background:white;
	border-radius:10px;
}
.description {
	@extend .box-radius;
	margin-top:5em;
	margin-bottom:4.5em;
	p {
		font-size: 2.8em;
		color:#3e3e3e;
		padding:1.4285em 1.0714em;
		text-indent: 2em;
	}
}
.noticecaption {
	width:68.4375%;
	max-width:438px;
	margin:0 auto;
	background:url("/assets/centernotice/bookcloud.png") no-repeat;
	background-size:100%;
	background-position:center;
	height:11.3em;
	line-height: 11.3em;
	margin-bottom:3.5em;
	p {
		font-size:3.6em;
		color:#3e3e3e;
		text-align:center;
	}
}
.details {
	@extend .box-radius;
	overflow:hidden;
	margin-bottom:2.5em;
	.visit {
		width:31.1475%;
		max-width:190px;
		float:left;
		display:block;
		margin:2em 1.5em;
	}
	h3 {
		font-size:2.8em;
		color:#3e3e3e;
		padding-top:0.71428em;
	}
	.article {
		font-size:2.6em;
		color:#3e3e3e;
		padding-top:0.65384em;
	}
	.detail-flip {
		float:right;
		margin-right:1.6em;
		margin-bottom:1.5em;
		background:#d70c18;
		padding:0 2em;
		border-radius:5px;
		height:4.8em;
		line-height:4.8em;
		a {
			font-size:2.8em;
			color:#fff;
			text-decoration: none;
			&:hover {
				color:orange;
			}
		}
	}
}





@media screen and (max-width:640px) {
	.container {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .container {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 60%;
    }
}
@media screen and (max-width: 400px) {
    .container {
        font-size: 50%;
    }
}