html {
	font-family:"Microsoft YaHei";
}
body {
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, h3, br {
	margin:0;
	padding:0;
}

.container{
	width:100%;
	max-width:640px;
	margin:0 auto;
	/*斜条纹背景，如果反向则是-45度*/
	// background: -webkit-gradient(
	// linear, 
	// left top, 
	// right bottom, 
	// from(#fedd02), color-stop(0.45, #fedd02), 
	// color-stop(0.45, #fcc204), color-stop(0.5, #fcc204), 
	// color-stop(0.5, #fedd02), color-stop(0.95, #fedd02), 
	// color-stop(0.95, #fcc204), to(#fcc204));
	// background: -moz-linear-gradient(
	// -45deg, 
	// #7aa00f 45%, 
	// #67860e 45%, #67860e 50%, 
	// #7aa00f 50%, #7aa00f 95%, 
	// #67860e 95%, #67860e);
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
    padding-bottom:3em;
}
.header {
	position:relative;
	width:100%;
}
.haidian {
	width:100%;
	max-width:640px;
}
.back {
	position:absolute;
	width:9.375%;
	max-width:60px;
	top:3em;
	left:1.5em;
}
.box-radius {
	width:95.3125%;
	max-width:610px;
	margin:0 auto;
	background:white;
	border-radius:10px;
}
.description {
	@extend .box-radius;
	margin-top:7.82%;
	margin-bottom:4.7%;
	p {
		font-size: 2.8em;
		color:#3e3e3e;
		padding:1.4285em 1.0714em;
		text-indent: 2em;
	}
}
.noticecaption {
	width:68.4375%;
	max-width:438px;
	margin:0 auto;
	background:url("/assets/haidiancenter/bookcloud.png") no-repeat;
	background-size:100%;
	background-position:center;
	padding:5.4% 0; 
	margin-bottom:3.91%;
	text-align:center;
	p {
		font-size:3.6em;
		color:#3e3e3e;
	}
}

.visit {
	width:94.84375%;
	max-width:607px;
	display:block;
	margin:0 auto;
	margin-bottom:6.25%;
}
.introduce {
	@extend .box-radius;
	// margin-top:4em;
	margin-bottom:3.91%;
	p {
		font-size: 2.8em;
		color:#3e3e3e;
		padding:1.4285em 1.0714em;
		text-indent: 2em;
	}
}

.noticecaption-link {
	width:84.0625%;
	max-width:538px;
	margin:0 auto;
	background:url("/assets/haidiancenter/linkcloud.png") no-repeat;
	background-size:100%;
	background-position:center;
	padding:7.5% 0;
	margin-bottom:3.91%;
	text-align:center;
	p {
		font-size:3.6em;
		color:#3e3e3e;
	}
}

.linkaddress {
	font-size:3em;
	color:#333;
	padding:0 2.35%;
}
.map {
	width:95.625%;
	max-width:612px;
	display:block;
	margin:6.25% auto;
}
.tag-choice {
	width:70.3125%;
	margin:0 auto;
	margin-bottom:5.47%;
	overflow:hidden;
	list-style:none;
	li {
		float:left;
		width:23.333%;
		max-width:105px;
		background:url("/assets/smallcloud.png") no-repeat;
		background-size:100%;
		background-position:center;
		padding:3.5% 0;
		text-align:center;
		a {
			text-decoration: none;
			color:#7d7d7d;
			font-size: 3.2em;
			&:hover {
				color:#d70c18;
			}
		}
	}
	.first {
		margin-right:15.112%;
	}
	.third {
		float:right;
	}
}

.details {
	@extend .box-radius;
	overflow:hidden;
	margin-bottom:3.91%;
	.tour {
		width:31.1475%;
		max-width:190px;
		float:left;
		display:block;
		padding:3.28% 2.46%;
	}
	.caption {
		font-size:2.8em;
		color:#3e3e3e;
		padding-top:3.28%;
	}
	.article {
		font-size:2.4em;
		color:#666;
		padding-top:1.313%;
	}
	.detail-flip {
		float:right;
		margin-right:2.63%;
		margin-bottom:2.46%;
		background:#d70c18;
		padding:1% 4.8em;
		border-radius:5px;
		a {
			font-size:2.8em;
			color:#fff;
			text-decoration: none;
			&:hover {
				color:orange;
			}
		}
	}
}
.userservice {
	position:fixed;
	width:14.0625%;
	max-width:90px;
	bottom:20em;
	right:1.5em;
}


@media screen and (max-width:640px) {
	.container {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .container {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 75%;
    }
}
@media screen and (max-width: 450px) {
    .container {
        font-size: 65%;
    }
}
@media screen and (max-width: 400px) {
    .container {
        font-size: 50%;
    }
}