html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.main-div {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	height: 100%;
	background: #fff;
}
.header {
	background: #f6f6f6;
	border-bottom: 1px solid #aaa;
}
.logo {
	width: 7.5%;
	max-width: 48px;
	float: left;
	margin: 3.15% 1.55% 0 3.15%;
}
.title {
	display: inline-block;
	font-size: 2.8em;
	color: #333;
	margin: 4.5% 0 3% 0;
}
.logout {
	float: right;
	margin-right: 3%;
	width: 13.75%;
	max-width: 88px;
}
.content {
	background: #fff;
	padding: 6.25%;
}
.book {
	width: 100%;
	margin: 0 auto;
}
.borrow-div {
	background: url("/assets/manager/borrow1.jpg") no-repeat;
	background-size: 100%;
	margin-bottom: 7.15%;
}
.return-div {
	background: url("/assets/manager/borrow2.jpg") no-repeat;
	background-size: 100%;
}
.word {
	text-align: center;
	font-size: 4em;
	color: #fff;
	padding: 14.6% 0;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	padding: 1% 0;
	border-top: 1px solid #aaa;
}
.icon-div {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}
.icon {
	width: 20%;
	max-width: 64px;
}
.clicked-word {
	font-size: 2em;
	color: #227dda;
}
.unclicked-word {
	font-size: 2em;
	color: #999;
}


@media screen and (max-width:640px) {
	.main-div {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .main-div {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .main-div {
        font-size: 60%;
    }
}
@media screen and (max-width: 400px) {
    .main-div {
        font-size: 50%;
    }
}
