@import "bootstrap.min";


html {
	font-family:"Microsoft YaHei";
}
body {
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}


.header {
	position: relative;
	width: 100%;
	height: 60px; 
	text-align: center;
	border:1px solid red;
	.logo {
		position: absolute;
		width:64.285%;
		max-width:36px;
		left: 20px;
		top: 12px;
	}
	.leftword {
		position:absolute;
		font-size:1.8em;
		color:#323232;
		top:20px;
		left:66px;
	}
	.sign-up {
		position:absolute;
		width:60px;
		height:30px;
		background:#1dbb6f;
		right:20px;
		top:15px;
	}
}
