html {
	font-size: 16px;
	height: 100%;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
	height: 100%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}

.content-area{
	width:100%;
	max-width:640px;
	margin:0 auto;
	height: 100%;
	overflow: auto;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
    padding-bottom: 2%;
}

.header {
	position:relative;
	width:100%;
	.cloudblock {
		width:100%;
		max-width:640px;
	}
	.back {
		position:absolute;
		top:20.3%;
		left:7.5%;
		width:9.375%;
		max-width: 60px;
	}
}
.char {
	width:100%;
	max-width:640px;
	margin-top:8.13%;
	margin-bottom:14.065%;
}
.course {
	width:72.5%;
	max-width:464px;
	margin:0 auto;
	margin-bottom:3.91%;
	background:#d70c18;
	border-radius:10px;
	text-align:center;
	padding:4.56% 0;
	a {
		text-decoration: none;
		font-size:3.6em;
		color:#fff;
		&:hover {
			color:orange;
		}
	}
}



@media screen and (max-width:640px) {
	.content-area {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .content-area {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .content-area {
        font-size: 70%;
    }
}
@media screen and (max-width: 450px) {
    .content-area {
        font-size: 67%;
    }
}
@media screen and (max-width: 400px) {
    .content-area {
        font-size: 60%;
    }
}
@media screen and (max-width: 360px) {
    .content-area {
        font-size: 55%;
    }
}
@media screen and (max-width: 320px) {
    .content-area {
        font-size: 52%;
    }
}
