html {
	font-family:"Microsoft YaHei";
}
body {
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, h3, span {
	margin:0;
	padding:0;
}

.container{
	width:100%;
	max-width:640px;
	margin:0 auto;
	/*斜条纹背景，如果反向则是-45度*/
	// background: -webkit-gradient(
	// linear, 
	// left top, 
	// right bottom, 
	// from(#fedd02), color-stop(0.45, #fedd02), 
	// color-stop(0.45, #fcc204), color-stop(0.5, #fcc204), 
	// color-stop(0.5, #fedd02), color-stop(0.95, #fedd02), 
	// color-stop(0.95, #fcc204), to(#fcc204));
	// background: -moz-linear-gradient(
	// -45deg, 
	// #7aa00f 45%, 
	// #67860e 45%, #67860e 50%, 
	// #7aa00f 50%, #7aa00f 95%, 
	// #67860e 95%, #67860e);
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
    // padding-bottom:3em;
}
.header {
	position:relative;
	width:100%;
	.robot {
		width:100%;
		max-width:640px;
		border-bottom:2px solid gray;
	}
	.back {
		position:absolute;
		top:3em;
		left:1.5em;
		width:9.375%;
		max-width: 60px;
	}
}

.boxtitle {
	position:relative;
	width:100%;
	text-align:center;
	padding-top:3em;
	padding-bottom:2.3em;
	.bookcloud {
		background:url("/assets/robotclass/bookcloud.png") no-repeat;
		background-size:100%;
		background-position:center;
		width:69.4375%;
		max-width:438px;
		height:11.3em;
		line-height:11.3em;
		margin:0 auto;
		p {
			font-size: 3.2em;
			color:#d70c19;
			text-shadow: 1px 1px 1px black;
		}
	}
	.grayheart {
		position:absolute;
		width:7.5%;
		max-width:48px;
		top:0;
		right:12.4em;
	}
	.dialog {
		@extend .grayheart;
		top:0.5em;
		right:7.3em;
	}
	.num {
		position:absolute;
		font-size: 1.8em;
		color:#666;
		right:1.28em;
		top:1em;
	}	
}

.content {
	width:95.3125%;
	margin:0 auto;
	background:white;
	border-radius: 10px;
	.introduce {
		font-size:2.4em;
		color:#3e3e3e;
		line-height: 150%;
		padding:3.28% 2.46%;
	}
}

.recommend {
	position:relative;
	width:100%;
	background:url("/assets/linecloud.png") no-repeat;
	background-size:41.406%;
	background-position:center;
	margin-top:1.6em;
	margin-bottom:1.5em;
	text-align:center;
	p {
		line-height:3.567em;
		font-size: 3em;
		color:#3e3e3e;
	}
}

.article {
	@extend .content;
}

.address {
	@extend .recommend;
	margin-top:1.6em;
	margin-bottom:2em;
}
.anotherbook {
	position:relative;
	width:95.3125%;
	margin:0 auto;
	background:white;
	border-radius: 10px;
	margin-bottom:2em;
	.center {
		font-size: 3em;
		padding-left:0.5em;
		padding-top:0.67em;
		color:#3e3e3e;
		.left-distance {
			font-size: 0.8em;
			color:#3e3e3e;
			padding-left:0.833em;
		}
	}
	.time {
		font-size: 2.4em;
		color:#3e3e3e;
		padding:0.3em 0.625em;
		line-height:150%;
		.price {
			font-size: 1em;
			color:#d70c19;
			padding:0 0.625em;
			padding-bottom:0.3em;
		}
	}
	
}

.description {
	position:absolute;
	width:28%;
	max-width:156px;
	top:7.5em;
	right:1.5em;
	background:#d70c18;
	border-radius:5px;
	text-align:center;
	a {
		text-decoration: none;
		&:hover {
			color:orange;
		}
	}
	p {
		font-size: 2.4em;
		color:white;
		padding:5.45% 0;
		text-shadow: 1px 1px 1px black;
	}
}
.anotherbook-bottom {
	@extend .anotherbook;
	margin-bottom:0;
}
.earphone {
	position:fixed;
	width:14.0625%;
	max-width:90px;
	bottom:40em;
	right:3.5em;
}

.footer {
	width:100%;
	text-align:center;
	background:#fe0100;
	p {
		font-size: 3.6em;
		color:white;
		padding:5.45% 0;
		text-shadow: 1px 1px 1px black;
	}
}


@media screen and (max-width:640px) {
	.container {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .container {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 67%;
    }
}
@media screen and (max-width: 420px) {
    .container {
        font-size: 63%;
    }
}
@media screen and (max-width: 400px) {
    .container {
        font-size: 56%;
    }
}
@media screen and (max-width: 320px) {
    .container {
        font-size: 50%;
    }
}
