html {
	font-size: 16px;
}
body {
	font-family:"Microsoft YaHei";
	font-size: 62.5%;
}
body, p, img, div, ul, li, a, h3 {
	margin:0;
	padding:0;
}
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}
.content-area {
	width:100%;
	max-width:640px;
	margin:0 auto;
	padding-bottom:3%;
	background: linear-gradient(
    45deg, 
    #fef29c 45%, 
    #fcc204 45%, #fcc204 50%, 
    #fef29c 50%, #fef29c 95%, 
    #fcc204 95%, #fcc204);
    background-size: 10px 10px;
}
.header {
	position: relative;
	width:100%;
	background: #fff;
	padding: 2.8% 0 2.8% 8.6%;
}
.input-box {
	display: inline-block;
	border: 1px solid #dcdcdc;
	border-radius: 6px;
	width: 72.8125%;
	max-width: 466px;
	font-size: 2.8em;
	padding: 0.86% 0;
	outline: none;
}
.search {
	position:absolute;
	left:11%;
	top:23%;
	width:7.65625%;
	max-width:49px;
}
.cancel {
	margin-left: 7%;
	font-size: 3.2em;
	color: #333;
}



@media screen and (max-width:640px) {
	.content-area {
		font-size: 100%;
	}
}
@media screen and (max-width: 560px) {
    .content-area {
        font-size: 85%;
    }
}
@media screen and (max-width: 500px) {
    .content-area {
        font-size: 65%;
    }
}
@media screen and (max-width: 400px) {
    .content-area {
        font-size: 55%;
    }
}

