// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	font-size: 62.5%;
}
body, p, hr, h2 {
	margin:0;
	padding:0;
} 
.wrap {
	width:980px;
	height:1386px;	
}
$header-width:892px;
.header {
	width:$header-width;
	height:61px;
	margin:0 auto;
	border-bottom:2px solid #938e8c;
	overflow:hidden;
}
$header-fontsize:12px;
.header-left {
	float:left;
	font-size: $header-fontsize;
	color:#fff;
}
$padding-top:45px;
.header-right {
	float:right;
	color:#d45d5c;
	padding-top:$padding-top;
	font-size:$header-fontsize;
}
.content {
	width:$header-width;
	margin:30px auto;
	overflow:hidden;
}
.ad-banner {
	float:left;
	display:block;
	margin-right:47px;
}
.content-right {
	position:relative;
	float:left;
	width:203px;
	height:300px;
	hr {
		height:2px;
		background:#cc8091;
	}
}
.about {
	font-size:24px;
	color:#000000;
	text-decoration:underline;
	line-height:40px;
	text-transform:capitalize;
}
.c-top {
	font-size:12px;
	line-height:10px;
	color:#676767;
	font-family:"楷体";
	font-style:oblique;
}
.c-middle {
	font-size:116px;
	font-style:oblique;
	color:#75b86b;
}
.c-bottom {
	position:absolute;
	font-size:55px;
	color:#cc8091;
	bottom:-10px;
}
.text1 {
	position:absolute;
	font-size:21px;
	color:#cc8091;
	bottom:10px;
	left:85px;
}
.text2 {
	position:absolute;
	font-size:12px;
	color:#ccc;
	bottom:0;
	left:85px;
}
